
<section>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="assets/orderd/ct-exp-ertr.png">
            <div class="caption center-align">
            </div>
          </li>
        </ul>
      </div>
  </section>
  <br>
  <br>
  <br>
<section id="popular" class="section section-popular scrollspy">
   <div class="container">
      <div class="card-panel z-depth-5">

    <h5>Experiance</h5>
    <blockquote>They say life is measured by moments that will take our breath away. Here you will find once-in-a-
      lifetime experiences that you will treasure for years to come. Whether you are into – adventure holidays
       or trekking tours, foodie experiences or adrenaline pumping adventures, ET-Holidays experiences will take
        you on a trip-of-a-lifetime.
   </blockquote> 
  </div>
 </div>
</section>



<section id="popular" class="section section-popular scrollspy">
    <div class="container">
      <div class="card-panel z-depth-5">
        <div class="row">
           
            <div class="col s12 m4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="assets/orderd/ct-exp-timket.png">
                      <span class="card-title">Ethiopian Timket Festival</span> 
                    </div>
                    <div class="card-content center-align">
                      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                  <a href="#" class="waves-effect waves-light btn red "  routerLink="/customized-Tour/experiance/timket">Search offers 2</a>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Ethiopian Timket Festival<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                  </div>
            </div>


            <div class="col s12 m4">
                <div class="card small">
                    <div class="card-image waves-effect waves-block waves-light">
                      <img class="activator" src="assets/orderd/ct-exp-ballon.png">
                      <span class="card-title">Addis Hot Air Balloon Tours</span> 
                    </div>
                    <div class="card-content center-align">
                      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                      <p><a href="#" class="waves-effect waves-light btn red " routerLink="/customized-Tour/experiance/balloon">Search offers</a></p>
                    </div>
                    <div class="card-reveal">
                      <span class="card-title grey-text text-darken-4">Addis Hot Air Balloon Tours<i class="material-icons right">close</i></span>
                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                    </div>
                  </div>
                </div>


                <div class="col s12 m4">
                    <div class="card small">
                        <div class="card-image waves-effect waves-block waves-light">
                          <img class="activator" src="assets/orderd/ct-exp-run.png">
                          <span class="card-title">Ethiopian Great Run</span> 
                        </div>
                        <div class="card-content center-align">
                          <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                          <p><a href="#" class="waves-effect waves-light btn red " routerLink="/customized-Tour/experiance/great-run">Search offers</a></p>
                        </div>
                        <div class="card-reveal">
                          <span class="card-title grey-text text-darken-4">Ethiopian Great Run<i class="material-icons right">close</i></span>
                          <p>Here is some more information about this product that is only revealed once clicked on.</p>
                        </div>
                      </div>
                    </div>

                    <div class="col s12 m4">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                              <img class="activator" src="assets/orderd/ct-exp-ertr.png">
                              <span class="card-title">Eritrea Package</span> 
                            </div>
                            <div class="card-content center-align">
                              <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                              <p><a href="#" class="waves-effect waves-light btn red " routerLink="/customized-Tour/experiance/eritrean">Search offers</a></p>
                            </div>
                            <div class="card-reveal">
                              <span class="card-title grey-text text-darken-4">Eritrea Package<i class="material-icons right">close</i></span>
                              <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                          </div>
                        </div>

                        <div class="col s12 m4">
                            <div class="card small">
                                <div class="card-image waves-effect waves-block waves-light">
                                  <img class="activator" src="assets/orderd/ct-exp-bird.png">
                                  <span class="card-title">Ethiopia Bird Watching</span> 
                                </div>
                                <div class="card-content center-align">
                                  <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                                  <p><a href="#" class="waves-effect waves-light btn red " routerLink="/customized-Tour/experiance/bird">Search offers</a></p>
                                </div>
                                <div class="card-reveal">
                                  <span class="card-title grey-text text-darken-4">Ethiopia Bird Watching Holidays<i class="material-icons right">close</i></span>
                                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                </div>
                              </div>
                            </div>

                            <div class="col s12 m4">
                                <div class="card small">
                                    <div class="card-image waves-effect waves-block waves-light">
                                      <img class="activator" src="assets/orderd/ct-exp-bike.png">
                                      <span class="card-title">Ethiopian Bike Tours</span> 
                                    </div>
                                    <div class="card-content center-align">
                                      <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                                      <p><a href="#" class="waves-effect waves-light btn red " routerLink="/customized-Tour/experiance/bike">Search offers</a></p>
                                    </div>
                                    <div class="card-reveal">
                                      <span class="card-title grey-text text-darken-4">Ethiopian Bike Tours<i class="material-icons right">close</i></span>
                                      <p>Here is some more information about this product that is only revealed once clicked on.</p>
                                    </div>
                                  </div>
                                </div>


          </div>
        </div>
    </div>
</section>

