


<section>
  <div class="row">
    <img class="responsive-img" src="assets/orderd/tp-ethio2.png">
  </div>
</section>


<!-- <section>
    <div class="slider slider2">
        <ul class="slides">
          <li>
            <img src="assets/orderd/tp-et-p-erta.png"> 
  
              <div class="caption center-align">                 
              <h3>The Best Airlines In Africa</h3>
              <h5 class="light grey-text text-lighten-3">Star Alliance Member</h5>
            </div>
          </li>
        </ul>
      </div>
    </section>
  -->


  <!-- Over View section -->
  
 
  <!-- Modal Structure -->
  <div id="ethiopiamodel" class="modal modal-fixed-footer">

      <div class="modal-content">
        <h4 class="teal-text">ETHIOPIA LAND OF ORIGINS</h4>
        <p class=""> National airline/airport: Ethiopian Airlines/Bole International Airport.</p>
        <p class="">Time: GMT +3.</p>
        <p class=""> Currency: The currency of Ethiopia is based on the decimal system. The units of currency are the Birr and cents. The Birr is divided into 100 cents.</p>
        <p class="">Languages: Official language Amharigna (Amharic); Oromifa, Tigrigna and English are most widely spoken.</p>
        <p class="">International telephone code +251.</p>
        <p class="">Electric voltage 220V current alternating at 50Hz. Plug standards vary; most common are the Type C (European two-pin) and Type L (Italian three-pin).</p>   
           
      </div>
      <div class="modal-footer">  
      </div>
    </div>
  
  
  <section id="holidays" class="section section-popular scrollspy">
      <div class="container">
          <div class="row">
              <h3 class="center">
                  <span class="green-text text-darken-3">Over View </span>
              </h3>


               <p class="center">A visit to Ethiopia will enliven your senses! From seeing the breath-taking beauty of majestic 
                 and stunning scenery, to Hearing the sounds of exotic songbirds and ecclesiastical chanting to the Smell of 
                 pungent and enticing spices and of course the Taste of incredible food!
                 A visit to Ethiopia is rich with diversity from its culture, wildlife, history
                  and its warm and welcoming people.</p>
                 <div class="center">
                    <a id="ethiopiamodel" class="waves-effect waves-light btn #ef5350 red lighten-1 modal-trigger" href="#ethiopiamodel">Ethiopia</a></div>
               <br>
             
                
              <div class="col s12">
                      <ul class="tabs tabs2 tabs-fixed-width tab-demo  ">              
                         <li class="tab col s2 "><a class="active" href="#romantic"><h6><span class="black-text">South Africa</span></h6> </a></li>
                        <li class="tab col s2 "><a class="active" href="#safari"><h6><span class="black-text">Zimbabwe</span></h6> </a></li>
                        <li class="tab col s2 "><a class="active" href="#family"><h6><span class="black-text">Botsowana</span></h6> </a></li>
                      </ul>
                    </div>
                   
               
                <div id="romantic" class="col s12">
                    <div class="slider">
                        <ul class="slides">
                       
                          <li>
                            <img src="assets/orderd/tp-over-southafrica.png"> <!-- random image -->
                            <div class="caption left-align">  
                              <div class="row">
                              <div class="container col s12 m6">
                                <div class="card blue-grey darken-1">
                                  <div class="card-content white-text">
                                    <h5 class=""><span class="card-title">South Africa</span></h5>
                                    
                                    <p>  South Africa is one of the world’s most varied 
                                    <br>  destinations. From the classic safari country 
                                  <br>    of Kruger National Park to the  stately
                                   <br>    ‘mother city’ of Cape Town.</p>
                                  </div>
                                  <div class="card-action">
                                    <a class="btn #b71c1c red darken-4 ">View Package</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                  </div>
                  <div id="safari" class="col s12">
                      <div class="slider slider2">
                          <ul class="slides">
                          
                            <li>
                              <img src="assets/orderd/tp-over-zimbabwe.png"> <!-- random image -->
                              <div class="caption left-align">
                                  <div class="row">
                                      <div class="container col s12 m6">
                                        <div class="card blue-grey darken-1">
                                          <div class="card-content white-text">
                                            <h5 class=""><span class="card-title">Zimbabwe</span></h5>
                                            
                                            <p>I am a very simple card. I am good at containing small bits of information.
                                                I am convenient because I require little markup to use effectively
                                                I am a very simple card. I am good at containing small bits of information.</p>
                                          </div>
                                          <div class="card-action">
                                            <a class="btn #b71c1c red darken-1 " >View Package</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>  </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div id="family" class="col s12">
                          <div class="slider slider2">
                              <ul class="slides">
                               
                                <li>
                                  <img src="assets/orderd/tp-over-botswana.png"> <!-- random image -->
                                  <div class="caption left-align">
                                      <div class="row">
                                          <div class="container col s12 m6">
                                            <div class="card blue-grey darken-1">
                                              <div class="card-content white-text">
                                                <h5 class=""><span class="card-title">Botswana</span></h5>
                                                
                                                <p>I am a very simple card. I am good at containing small bits of information.
                                                    I am convenient because I require little markup to use effectively
                                                    I am a very simple card. I am good at containing small bits of information.</p>
                                              </div>
                                              <div class="card-action">
                                                <a class="btn #b71c1c red darken-4 center-align" >View Package</a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                         </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                      </div>
      </div>
  </section>
  



  <!-- Modal Structure -->
  <div id="readmore" class="modal modal-fixed-footer">

    <div class="modal-content">
      <h4 class="teal-text">OverView</h4>
      <h5 class="teal-text">South Africa</h5>
     <p class="">Welcome to a nation where you can go on safari and visit the beach without having to travel great distances. 
       Tours in this country will take you to a variety of different locations that celebrate diversity in both culture and landscape. 
       This nation is renowned for its wide open skies and welcoming locals, making it a popular destination all year round.</p>

      <h5 class="teal-text">Botswana</h5>
      <p class="">Home of the greatest areas to explore African wildlife on land as well as in water.  Whatever Botswana
         package you choose will leave you with a camera stocked full of exceptional photos and an experience unlike any other.</p>

          
          <h5 class="teal-text">Zimbabwe</h5>
      <p class="">A nation of spectacular natural beauty, friendly people and rich culture, Zimbabwe’s 
        status as one of Africa’s leading safari destinations  is once again emerging as a vacation 
        highlight of the continent. Victoria Falls – known to locals as ‘The Smoke That Thunders’ – 
        is one of the seven natural wonders of the world and the sheer power of this massive body of 
        water plunging into the Zambezi Gorge is awe-inspiring and unforgettable. Lake Kariba, with its 
        game-rich shores and islands, is an idyllic safari spot featuring mind-blowing sunsets; Hwange 
        National Park is known for its huge herds of elephants; and a kayak trip down the Zambezi through 
        the Mana Pools National Park will appeal 
        to the intrepid traveller, providing close encounters with crocodiles, hippos and a host of other wildlife.</p>
 
                    
    </div>
    <div class="modal-footer">
      
    </div>
  </div>



  <!-- Modal Structure -->
  <div id="Ertale" class="modal modal-fixed-footer">
  <div class="modal-content">
      <h4 class="teal-text">OverView</h4>
      <h5 class="teal-text">South Africa</h5>
     <p class="">Welcome to a nation where you can go on safari and visit the beach without having to travel great distances. 
       Tours in this country will take you to a variety of different locations that celebrate diversity in both culture and landscape. 
       This nation is renowned for its wide open skies and welcoming locals, making it a popular destination all year round.</p>

      <h5 class="teal-text">Botswana</h5>
      <p class="">Home of the greatest areas to explore African wildlife on land as well as in water.  Whatever Botswana
         package you choose will leave you with a camera stocked full of exceptional photos and an experience unlike any other.</p>

          
          <h5 class="teal-text">Zimbabwe</h5>
      <p class="">A nation of spectacular natural beauty, friendly people and rich culture, Zimbabwe’s 
        status as one of Africa’s leading safari destinations  is once again emerging as a vacation 
        highlight of the continent. Victoria Falls – known to locals as ‘The Smoke That Thunders’ – 
        is one of the seven natural wonders of the world and the sheer power of this massive body of 
        water plunging into the Zambezi Gorge is awe-inspiring and unforgettable. Lake Kariba, with its 
        game-rich shores and islands, is an idyllic safari spot featuring mind-blowing sunsets; Hwange 
        National Park is known for its huge herds of elephants; and a kayak trip down the Zambezi through 
        the Mana Pools National Park will appeal 
        to the intrepid traveller, providing close encounters with crocodiles, hippos and a host of other wildlife.</p>                
    </div>
    <div class="modal-footer">
      
    </div>
  </div>


  
  <!-- Modal Structure -->
  <div id="ertalemodel" class="modal modal-fixed-footer">
      <div class="modal-content">
          <h4 class="teal-text">ERTALE</h4>
         <p class="">Lava-filled volcanic cauldrons, gem-like crater lakes and steaming vents are among 
           the many reminders of the violent tectonic forces that have moulded - and continue to shape parts 
           of - the Ethiopian landscape.</p>
    
          <p class="">The out-of-this-world landscapes of the Danakil Depression, offers some spectacular opportunities for volcano
             climbing, notably to Erta Ale, the lowest and hottest place on Earth, whose 613m-high caldera contains the world’s 
             oldest active lava lake.</p>
    
              
              
          <p class="">Ethiopia’s most spectacular volcano is Erta Ale, the ‘Smoking Mountain’ 
            of the Afar, whose 613m-high caldera of crumbling black rock contains the oldest 
            of the world’s six semi-permanent lava lakes. Bubbling at temperatures of more 
            than 1,000˚C, this ellipsoid cauldron of black-and-red magma is a truly mesmerising 
            phenomenon, as violent red fountains of molten rock spurt tens of metres in the sky, 
            accompanied by nose-searing waves of ammoniac gas..</p>    
            
            
          <p class="">Set in the Danakil Desert, Erta Ale is reached along a shadeless 10km 
            footpath that can be treacherously hot in full daylight. For this reason, it is 
            conventional to ascend the volcano in the late afternoon, sleep at the top, then
             return to the base early the next morning.</p>

             <p class="">Also in the Danakil, Dallol is a flat-sided volcano that formed in 
               1926 when an area of standing water was infused with emergent magma to evaporate
               instantaneously in an explosive plume of steam and rock. At its centre lies
               a staggeringly beautiful field of multicoloured geysers fed by the world’s 
               lowest-lying volcanic vents, at 50m below sea level.</p>

               <p class="">Erta Ale and Dallol aside, the Danakil is among the most tectonically 
                 active regions on the planet, with more than 30 active volcanoes protruding from 
                 its fault lines. These include Gada Ale, a prominent stratovolcano enclosing a 
                 lake of boiling sulphur and mud, and the 429m Mount Allu, which most recently
                  erupted in 2008.</p>




        </div>
        <div class="modal-footer">
          
        </div>
      </div>
       
    

  <!-- Modal Structure -->
  <div id="coffeemodal" class="modal modal-fixed-footer">
      <div class="modal-content">
          <h4 class="teal-text">COFFEE</h4>
         <p class="">The capital of a coffee producing area, Jimma is a large, lively city blessed 
           with excellent tourist facilities and a warm location in the fertile western highlands.</p>
    
          <p class="">The town is named after the 19th century Islamic kingdom of Jimma, which lay at 
            the meeting point of several trade routes. The last autonomous ruler of Jimma was King Abba 
            Jiffar, whose impressive palace at Jiren, on the outskirts of the modern city, has been
             restored with partial funding from UNESCO.</p>
              
          <p class="">Other attractions include the daily central market, the ethnographic displays at 
            the Jimma Museum, a nearby patch of forest inhabited by the spectacular colobus monkey, and 
            out-of-town Lake Boye with its resident hippos.</p>    
            
            
          <p class="">The largest and most accessible of three UNESCO-recognised biosphere reserves in
             Ethiopia’s western highlands, the 7,600km2 Kafa Biosphere Reserve is the sole home of many 
             coffee varieties which still grow wild in the region.</p>

             <p class="">The reserve incorporates large tracts of montane rainforest, an important reserve 
               of sustainable forest products such as forest cardamom, forest pepper and honey.</p>

               <p class="">biosphere reserve’s main tourist centre is Bonga, a pleasant forest-fringed town 
                 which will soon open the Bonga International Coffee Museum, and has as a tourist office 
                 offering guided day and overnight walks to a stunning natural rock formation known God’s
                  Bridge, and the Mother Coffee Tree, the world’s oldest living plant of its type.</p>

                  <p class="">Wildlife likely to be seen in the region includes the black-and-white colobus
                     monkey, while a wonderful diversity of highland forest and grassland birds includes 11 
                     species endemic to Ethiopia.</p>
     
        </div>
        <div class="modal-footer">
          
        </div>
      </div>
  
  
  <!-- Modal Structure -->
  <div id="riftmodal" class="modal modal-fixed-footer">
      <div class="modal-content">
          <h4 class="teal-text">ETHIOPIAN RIFT VALLY</h4>
         <p class="">Misty highland meadows and tall escarpment forests make up much of Southern Ethiopia, 
           but the region is also incised by the gaping kilometre-deep tectonic scar we know as the Great
            Rift Valley, its acacia-swathed floor dotted with beautiful lakes renowned for their diverse 
            profusion of birds. The ethnic diversity of this astonishing region embraces modern cities 
            such as Hawassa and Arba Minch, but also the walled hilltop warrens of the Konso Cultural 
            Landscape, the remote tribes of South Omo, the singing wells of the desert-dwelling Borena, 
            towering Dorze homesteads and thousand year old island monasteries.</p>
    
          <p class="">Lake Ziway’s Tullu Guddo Island is where Ethiopian tradition says the Ark of the 
            Covenant was stowed during the 9th century, while nearby French-owned Castel Winery produces
             East Africa’s finest wines</p>
              
          <p class="">Lined with resorts and ecolodges, Lake Langano, with its bilharzia-free waters, 
            is both a popular weekend beach and water sport retreat, and a great site for bird watching.</p>    
            
            
        </div>
        <div class="modal-footer">
          
        </div>
      </div>

        <!-- Modal Structure -->
  <div id="southernmodal" class="modal modal-fixed-footer">
      <div class="modal-content">
          <h4 class="teal-text">SOUTHERN ETHIOPIAN</h4>  
         <p class="">The most culturally diverse circuit in Ethiopia, the Great Ethiopian Route: 
           the Cultural Mosaic of the South passes through areas dominated by Islam, Orthodox 
           Christianity, various Protestant denominations, and traditional animists. It also 
           incorporates what is perhaps Ethiopia’s most important location for ethnographic 
           tourism in the form of the South Omo Valley, whose astonishing mix of small, 
           contrasting and utterly fascinating ethnic groups includes the Hamer, Gangatom, 
           Karo, Dassench, Bodi, Mursi, Surma and Arbore. Here, visitors have the opportunity
            to witness a variety of authentic African tradition, including colourful ornaments, 
            elaborate hairstyles, colourful body painting, and unique traditional performing arts.</p>

            <h4 class="teal-text">KONSO: CULTURAL LANDSCAPE</h4>
          <p class="">A UNESCO World Heritage Site since 2011, the Konso Cultural Landscape is named
             after its agriculturist inhabitants, who have moulded their 230km2 homeland of semi-arid
              hills into productive agricultural land. A striking feature of Konso is the ancient hilltop
               paleta (terrace and walled villages) - strange hobbit-warrens towered over by generation 
               poles felled from a sacred forest, and studded with curvaceous thatched community houses. 
               The Konso are also renowned for their waka grave-markers, anthropomorphic hardwood statues
                carved to mimic the deceased, and for their communally constructed reservoirs.</p>
              
          <p class="">Konso's hilltop paleta villages emphasize defensive structures. Each village is 
            encircled by up to six concentric dry-stone basalt walls that stand around 4 metres high 
            and are entered only through two or more ceremonial gates. About two dozen traditional
             villages are scattered around the World Heritage Site, the most frequently visited
              being Mecheke, Dokatu, Gamole and Buso.</p>    

              <p class="">A village is divided into several subcommittees, each with its own mora, 
                a striking open-sided and thatch-roofed community house.</p>  

                <p class="">The oldest mora in a village stands alongside a small common where an olahita (generation pole)
                  is erected every 18 years to mark the initiation of a new generation-set. The age of any given paleta can
                   be determined by counting its generation poles: Dokatu with 43 olahita indicating an age of more than
                    750 years, is claimed to be the oldest village in Konso,</p>   
            
                 <p class="">In some villages, the exploits of a celebrated age-set is commemorated by the erection of a 
                   stone obelisk called a daga-hela, a custom that makes Konso one of the world’s last existing megalithic cultures.</p>   
            
               <p class="">The Konso erect impressionistic wooden waka grave-markers at the burial place of an important man or particularly 
                 brave warrior. Although many waka can still be seen in situ, the Konso Museum displays around 200 examples that were confiscated 
                 by the local authorities after being looted by foreign collectors.</p>   
                        
                <p class="">The Konso countryside typically comprises hard, dry, rocky slopes, so the people have developed an extensive system
                   of dry-stone terracing to prevent erosion and create saddles for agriculture.</p>   
                            
                 <p class=""> Gesergiyo is a Konso village best known for a nearby gorge filled with skyscraper-like water-sculpted sand pinnacles nicknamed ‘New York’.</p>   
                                
                 <p class=""> The sacred Kalla Forest is the site of an important chief’s compound and the new Konso Coffee Cooperative, which uses a traditional dry method 
                   to process the coffee beans.</p>   
                                
                 <p class=""> Gesergiyo is a Konso viller-like water-sculpted sand pinnacles nicknamed ‘New York’.</p>   
                                                      
                 <h4 class="teal-text">LOWER OMO VALLEY</h4>
                 <p class="">Centred on the pretty green town of Jinka, South Omo is Ethiopia’s most culturally and linguistically 
                   diverse administrative zone, supporting 16 different ethnic groups who all staunchly keep to their unique traditional 
                   costumes, customs and beliefs.</p>

                  <p class="">The Mursi, inhabitants of South Omo are remarkable for their body art. Hamer women are notable for their 
                     long-fringed, hennadyed dreadlocked hairdo, while the men must perform a unique bull-jumping ritual as an initiation
                      into adulthood. The Karo, who live alongside the Omo River as it flows along the zone’s western boundary, are celebrated 
                      for their colourful ritual body painting.</p>
   

                  <p class="">The best way to explore South Omo is to visit a few of its small towns on their specific market days,
                         when a diverse mix of colourfully-adorned villagers can be seen buying and selling wares.</p>

                  <p class="">Also within South Omo, the little-visited Lower Omo UNESCO World Heritage Site, set close to where the
                             Omo River empties into Lake Turkana, protects a number of important paleontological sites.</p>
          
        
        </div>
        <div class="modal-footer">
          
        </div>
      </div>



    <!-- Modal Structure -->
    <div id="stopovermodal" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4 class="teal-text">ETHIOPIAN STOPOVER</h4>
           <p class="">Stop in Addis Ababa for Coffee and explore…</p>
      
            <p class="">Ethiopian invites you to stopover in Ethiopia, 
              a remarkable and unexploited destination without additional 
              airfare and explore by picking one of the below stopover offers.</p>
                
            <p class="">We invite you to take advantage of this enticing offer so 
              that you can experience Ethiopian hospitality at its best.  Ethiopia
               has not been named the Most Welcoming Country in the World for nothing.
                Come and find out for yourself and be left with lasting memories.
                <br>
                <br>
                We look forward to welcoming you on board!
                <br>
                <br>
                See what’s possible for stays ranging from one to three day's!
              </p>    
            <p class="">A visit to Ethiopia will enliven your senses! From seeing the breathtaking 
              beauty of majestic and stunning scenery, to hearing the sounds of exotic songbirds 
              and ecclesiastical changing to the smell of pungent and enticing spices and of 
              course the taste of incredible food!</p>    

            <p class="">From the soaring heights of the Simien mountain range ‘the rooftop of Africa’
               to the plummeting depths of the Danakil Depression “the lowest and the hottest place 
               on earth” and everything in between including bird watching (850 species), a mountain 
               trekking, safaris through National parks, boating on Lake Tana (largest lake and
                source of Blue Nile River with hippos and birdlife), Ethiopia truly is a country 
                of contrasts and extremes!</p>  
            <p class="">Ethiopia is as exhilarating as it is exotic and Ethiopian Holidays has
               a range of Cultural, Nature, Adventure and Historical tours something to suit everyone.
                Ethiopian Holidays will take you on a unique Ethiopian cultural tours, adventurous
                 explorations including but not limited to the Omo valley, classic tours of Northern
                  Historical routes, Safaris through Ethiopia’s national parks known for exotic flora
                   and fauna, endemic wild life, bird watching tours, mountain trekking expeditions 
                   and so much more.  You will indeed find your travel in Ethiopia marvelous, memorable
                    and exquisite, as you experience the warm hospitality of the charming Ethiopian people.</p>  

              <p class="">Here is how you can take advantage of this opportunity!</p> 
              <p class="">It’s very easy:</p>  
              <p class="">1. Choose from the below six offers and email your inquiry.</p>     
              <p class="">2. You will receive a quotation based on your inquiry.</p>  
              <p class="centre">3. Once you approve the itinerary and quotation, you can make your payment directly 
                with our reservation team by calling on +251 11 6656666 #3 using your credit card or you 
                may wire transfer and send us the confirmation.</p>  
              <p class="">4. Then you will receive a voucher which you should print and bring along.</p> 
              <p class="">What are you waiting for? Plan to stay over for few days and explore</p>  
                     
                                
              
          </div>
          <div class="modal-footer">
            
          </div>
        </div>
   <!-- Modal Structure -->
   <div id="historicmodal" class="modal modal-fixed-footer">
      <div class="modal-content">
          <h4 class="teal-text">HISTORIC ROUTE</h4>
         <p class="">An ancient land of fertile well-watered mountains that form the main source of the Blue Nile, 
           northern Ethiopia has long stood at the cultural crossroads of Africa, Arabia and the Mediterranean.
            These divergent influences have bequeathed the region a unique cultural and historical heritage epitomised 
            by a quartet of unique and magnificent UNESCO World Heritage Sites - Aksum, Lalibela, Gondar and the Simien
             Mountains National Park - as well as a vast array of lesser-known but equally fascinating historical sites.</p>
    
          <p class="">Three thousand year old Aksum, a UNESCO World Heritage Site where obelisks as tall as ten-storey
             buildings overlook mysterious ruined palaces once inhabited by the Queen of Sheba and a temple that is said
              to house the Biblical Ark of the Covenant.</p>
              
          <p class="">Also a UNESCO World Heritage Site, the atmospheric 12th-century complex of rock-hewn churches
             at Lalibela, still active shrines of worship today, has been dubbed the “Eighth Wonder of the World”.</p>

             
          <p class="">Freshwater Lake Tana, a vast inland sea fringed by tropical greenery, is dotted with evocatively
                painted island monasteries such as Ura Kidane Mihret and Narga Selassie</p>    
               
              
          <p class="">The Camelot of Africa, Gondar is best known for the magnificent 17th century castles that adorn its
             Fasil Ghebbi UNESCO World Heritage Site.</p>  
             
                      
          <p class="">The spectacular hiking trails that traverse Simien Mountains National Park, a UNESCO Natural World 
               Heritage Site, provide an opportunity to see Walia ibex and other endemic wildlife, or to ascend the country's
                highest peak, the 4,533m Ras Dejen.</p>    
          
        <p class="">Negash is Ethiopia’s oldest Islamic settlement, established by a group of Muslim refugees that included
           close relatives of the Prophet Mohammed during his lifetime.</p> 
                 
           <p class="">NThe Blue Nile, which arcs southwest from its source in Lake Tana, plummets over a spectacular 45m
              high waterfall called Tis Isat (Water that Smokes) into a mile-deep gorge whose scale invites comparisons
               to the Grand Canyon.</p> 
                    
                 
        </div>
        <div class="modal-footer">
          
        </div>
      </div>


      <section id="holidays" class="section section-popular scrollspy">
          <div class="container">
              <div class="row">
                  <h3 class="center">
                      <span class="green-text text-darken-3">Ethiopian Packages </span>
                   </h3>
                  
                    <div class="col s12 center">
                  
                          <ul class="tabs tabs3 tabs-fixed-width ">  
                            
                            <li class="tab col s6 m4 l6"><a class="active" href="#ertale"><h6><span class="black-text">Ertale </span></h6> </a></li>
                            <li class="tab col s6 m4 l6"><a class="active" href="#coffee"><h6><span class="black-text">Coffee </span></h6> </a></li>
                            <li class="tab col s6 m4 l6"><a class="active" href="#rift"><h6><span class="black-text">Rift Valley </span></h6> </a></li>
                            <li class="tab col s6 m4 l6"><a class="active" href="#southern"><h6><span class="black-text">Southern Cultural  </span></h6> </a></li>
                            <li class="tab col s6 m4 l6"><a class="active" href="#stopover"><h6><span class="black-text">Stopover </span></h6> </a></li>
                            <li class="tab col s6 m4 l6"><a class="active" href="#historic"><h6><span class="black-text">Historic </span></h6> </a></li>
                                   
                            </ul>
                        </div>
                   
                    <div id="ertale" class="col s12">
                        
                            <div class="row">
                              <br>
                                <div class="center">
                                    <a id="ertalemodel" class="waves-effect waves-light btn #ef5350 red lighten-1 modal-trigger" href="#ertalemodel">Over View</a></div>
                               <br>
                                  <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-erta.png">
                                     <span class="card-title"><b>DANAKIL TOURS</b><br>
                                      <button type="button" class="btn  #b71c1c red darken-4 center" routerLink="/top-Destinations/ethiopia/ertale-adventure/danakil-tour" >VIEW PACKAGE</button>
                                  </span>

                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-erta.png">
                                      <span class="card-title">FACE THE FIRE<br>
                                          <button type="button" class="btn  #b71c1c red darken-4 center" routerLink="/top-Destinations/ethiopia/ertale-adventure/face-the-fire" >VIEW PACKAGE</button>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-erta.png">                                
                                      <span class="card-title"><b>NORTH ADVENTURE TOURE</b><br>
                                        <button type="button" class="btn  #b71c1c red darken-4 center" routerLink="/top-Destinations/ethiopia/ertale-adventure/north-adventure-tour" >VIEW PACKAGE</button>
                                    </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        
                    </div>

                    <div id="coffee" class="col s12">
                        <div class="">
                            <div class="row"> 
                              <br>                         
                                <div class="center">
                                    <a id="coffeemodal" class="waves-effect waves-light btn #ef5350 red lighten-1 modal-trigger" href="#coffeemodal">Over View</a></div>
                                    <br>
                                  <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-coff.png">
                                      <span class="card-title green darken-2"><b>CLASSIC<br/>COFFEE TOUR</b></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-coff.png">
                                      <span class="card-title">GLIMPSE OF COFFEE TOUR <br/>
                                          <button type="button" class="btn  #b71c1c red darken-4 center" routerLink="/top-Destinations/ethiopia/coffee-tours"> VIEW pACKAGE</button>
                                    
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-coff.png">
                                      <span class="card-title green darken-2"><b>DISCOVER<br/>COFFEE TOUR</b></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>

                    <div id="rift" class="col s12">
                        <div class="">
                            <div class="row">
                              <br>                              
                                <div class="center">
                                    <a id="riftmodal" class="waves-effect waves-light btn #ef5350 red lighten-1 modal-trigger" href="#riftmodal">Over View</a></div>
                                    <br>                            
                                  <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-rift.png">
                                      <span class="card-title green darken-2"><b>HAWASSA TOUR</b></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-rift.png">
                                      <span class="card-title">SOUTH LEISURE TOUR  
                                          <button type="button" class="btn  #b71c1c red darken-4 center" routerLink="/top-Destinations/ethiopia/rift-valley-tour">View Package</button>
                                    
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-rift.png">  
                                      <span class="card-title green darken-2"><b>RIFT<br/>VALLEY TOURS</b></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>

                    
                    <div id="southern" class="col s12">
                        <div class="">
                            <div class="row">
                              <br>                              
                                <div class="center">
                                    <a id="southernmodal" class="waves-effect waves-light btn #ef5350 red lighten-1 modal-trigger" href="#southernmodal">Over View</a></div>
                                    <br>                            
                                  <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-south.png"> 
                                      <span class="card-title green darken-2"><b>ARBAMINCH TOUR</b></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-south.png">  
                                      <span class="card-title">SOUTH CULTURAL TOUR
                                          <button type="button" class="btn  #b71c1c red darken-4 center"  routerLink="/top-Destinations/ethiopia/rift-valley-tour">View Package</button>
                                    
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-south.png">
                                      <span class="card-title green darken-2"><b>OMO VALLEY TOUR</b></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>


                    
                    <div id="stopover" class="col s12">
                        <div class="">
                            <div class="row">
                              <br>                              
                                <div class="center">
                                    <a id="stopovermodal" class="waves-effect waves-light btn #ef5350 red lighten-1 modal-trigger" href="#stopovermodal">Over View</a></div>
                                    <br>                            
                                  <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-stopo.png">
                                      <span class="card-title green darken-2"><b>COFFEE TOUR</b></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-stopo.png">
                                      <span class="card-title">  LALIBELA TOURS
                                          <button type="button" class="btn  #b71c1c red darken-4 center"  routerLink="/top-Destinations/ethiopia/rift-valley-tour">View Package</button>
                                    
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-stopo.png">
                                      <span class="card-title green darken-2"><b>ARBAMINCH TOUR</b></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>



                    
                    
                    <div id="historic" class="col s12">
                        <div class="">
                            <div class="row">
                              <br>                              
                                <div class="center">
                                    <a id="historicmodal" class="waves-effect waves-light btn #ef5350 red lighten-1 modal-trigger" href="#historicmodal">Over View</a></div>
                                    <br>                            
                                  <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-histo.png">
                                      <span class="card-title green darken-2"><b>NORTH HISTORIC<br/>TOUR </b></span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-histo.png">
                                      <span class="card-title"> NORTH ADVENTURE
                                          <button type="button" class="btn  #b71c1c red darken-4 center"  routerLink="/top-Destinations/ethiopia/rift-valley-tour">View Package</button>
                                    
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-et-p-histo.png">
                                      <span class="card-title green darken-2"><b> LALIBELA TOURS</b></span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>

                    
                    </div>
          </div>
      </section>
      
      <!-- - section  new-->




      

