

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/zanzibar1.jpg">"> 
          <div class="caption center-align">
           </div>
        </li>
        <li>
          <img src="assets/image/zanzibar2.jpg">">
          <div class="caption left-align">
          </div>
        </li>
        <li>
          <img src="assets/image/zanzibar3.jpg"> 
          <div class="caption right-align">
         </div>
        </li>
      
      </ul>
    </div>
</section>

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

              <div id="Highlights" class="col s12 m12">                   
            

  <div class="container">

    <p class="center">
        Explore the prestigious island and enjoy the beach with full day  exciting reef safari excursion, jam-packed with fun-filled activities.
    </p>
   <ul class="collapsible">
  <li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class=" badge green darken-4 white-text">ETSEZ-27</span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class=" badge green darken-4 white-text">Leisure in Zanzibar</span></div>
    
    </li>

    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class=" badge green darken-4 white-text">Tanzania</span></div>
      
      </li>

      
    <li>
        <div class="collapsible-header">
           <h6> Capital City</h6>
          <span class=" badge green darken-4 white-text">Zanzibar</span></div>
      
      </li>


      <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class=" badge green darken-4 white-text">	
                Jan. 1, 2018 – Dec. 31, 2018</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
              <h6>Duration</h6>
              <span class=" badge green darken-4 white-text">	
                  5 DAYS/ 4 NIGHTS</span></div>
          
          </li>

          <li>
              <div class="collapsible-header">
                <h6>Starting Point</h6>
                <span class=" badge green darken-4 white-text">Zanzibar</span></div>
            
            </li>

            <li>
                <div class="collapsible-header">
                  <h6> Ending Point</h6>
                  <span class=" badge green darken-4 white-text">Zanzibar</span></div>
              
              </li>
</ul>

</div>
                      
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>



              </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Zanzibar</div>


                                  <div class="collapsible-body">

                          

                                  <p> Arrive in Zanzibar airport and meet by Ethiopian Representative at the destination. 
                                    After meet and greet you will be transfer to your hotel. Check in to your hotel and spend the rest of the day at Leisure                               
                                      </p>

                                      <p>Overnight: Hotel</p>


                                  
                                  
                                  
                                  
                                  </div>
                                </li>
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: Zanzibar</div>
                                  <div class="collapsible-body">

                                      
                                          <p>Spend relaxing day and enjoy the beach on your own</p> 


                                  </div>
                                </li>
                                <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3:  Stone Town Tour and Spice tour</div>
                                  <div class="collapsible-body"><ul>

                                     

                                      <p>After your breakfast at the hotel you will be picked for half day Stone Town city tour. On this tour you will trace he steps of 
                                        the past through the winding alleys. Traders stack their baskets and the neat piles of fruit to sell. Children play in the streets 
                                        in residential areas; mamas sit out and gossip while the men play board game. Get to know the distinct personality of stone town. 
                                        You will have time to shop before your lunch in the city After lunch you will be taken on spice tour, Touch, smell and taste 
                                        different tropical fruits. Learn about their properties, their origins and their medicinal and culinary uses. A visit to a spice 
                                        farm village gives you insight into local life and the opportunity to try some Swahili dishes; taste the fruits in season and 
                                        spice tea. Depending on the season, expect to find vanilla, cardamom, cinnamon, nutmeg, turmeric, 
                                        lemon grass, cloves, ylang ylang, cumin, garlic, ginger, coriander, pepper, allspice, tamarind, chili, oregano and more.</p> 

                                        <p>Overnight: Hotel</p> 
                                      

                                    </ul>
                                  </div>
                                </li>

                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4: Zanzibar</div>
                                        <div class="collapsible-body"><ul>
                                
                                            <p>Day at leisure</p> 
                                          
                                          </ul>
                                        </div>
    
         </li>
    
         <li>
            <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5: Zanzibar</div>
                <div class="collapsible-body">

                      
                    <p>Breakfast at the hotel and Transfer to Airport for your flight with unforgettable memories of Zanzibar.</p> 
                     
               
                </div>
              </li>
                              </ul>
                          
                            </div>
                        
                </div>
                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">

                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i>4nights accommodation on BB basis.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>All transfers per the itinerary.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Spice City Tour.</li>
                        <li class="collection-item"><i class="material-icons ">check</i> Full day reef safari with lunch.</li> 
                        <li class="collection-item"><i class="material-icons ">check</i>All taxes.</li>
                                                                                                                 
                    </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">

                            <ul class="collection with-header">

                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Alcoholic drinks.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Expenses of personal nature and other costs not mentioned under inclusion.</li>
                                                                                                                     
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>


