

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/tanzaniya1.jpg">"> 
          <div class="caption center-align">
           
          </div>
        </li>
        <li>
          <img src="assets/image/tanzaniya2.jpg">">
          <div class="caption left-align">
            
          </div>
        </li>
        <li>
          <img src="assets/image/tanzaniya3.jpg"> 
          <div class="caption right-align">
           
          </div>
        </li>
      
      </ul>
    </div>
</section>

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

<div id="Highlights" class="col s12 m12">                   
            
  <div class="container">
    
      <p class="center">Eastern Africa is well known for its variety of wildlife. It is also best destination for Bird Watching, 
        Mountain Climbing, Hiking, Gorilla Trekking, Heritage & Cultural Tours, Mountain Biking, Snorkelling, Scuba Diving, 
        Hot Air Ballooning, and White Water Rafting. You will find all here.
         Plan your holiday in east Africa and enjoy spectacular scenery, vibrant culture and warm African hospitality.</p>
 
   <ul class="collapsible">

<li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class=" badge green darken-4 white-text">EH-204</span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class=" badge green darken-4 white-text">The Best of Tanzania Luxury Expedition</span></div>
    
    </li>

    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class=" badge green darken-4 white-text"> 	
              Tanzania</span></div>
      
      </li>

      <li>
          <div class="collapsible-header">
             <h6> Capital City</h6>
            <span class=" badge green darken-4 white-text">Kilimanjaro </span></div>
        
        </li>

 
 

      <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class=" badge green darken-4 white-text">	               	
                Jan. 1, 2018 – Dec. 31, 2018</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
              <h6>Duration</h6>
              <span class=" badge green darken-4 white-text">		
                  9 DAYS/ 8 NIGHTS </span></div>
          
          </li>
          <li>
              <div class="collapsible-header">
                <h6>Starting Point</h6>
                <span class=" badge green darken-4 white-text">Kilimanjaro    </span></div>
            
            </li>
            <li>
                <div class="collapsible-header">
                  <h6>Ending  Point</h6>
                  <span class=" badge green darken-4 white-text">Kilimanjaro    </span></div>
              
              </li>
</ul>

</div>
                      
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>


  </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1:Arrival at Kilimanjaro International Airport</div>


                                  <div class="collapsible-body">
                                      <p>  Arrive at the Kilimanjaro International Airport/Alternative Airport pick up and transferred to the Salsalnero Lodge for overnight bed and breakfast.</p>

                                  </div>
                                </li>


                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: Lake Manyara National Park   </div>
                                  <div class="collapsible-body">

                                   <p>
                                      Arrive at the Kilimanjaro International 
                                      Airport/Alternative Airport pick up and transferred to the Salsalnero Lodge for overnight bed and breakfast.</p>
                                  </div>
                                </li>


                                <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3: Lake Manyara National Park  </div>
                                  <div class="collapsible-body">

                                 <p>
                                    Drive from the Lake Manyara Serena to Lake Eyasi. You will see great birdlife along the shore, 
                                    and location alone makes it a great place to spend a couple of nights. Also the meadows along
                                     the lake shores and forest are home to a wide variety of wildlife including leopard, hippos,
                                      a variety of monkeys, various birds, greater and lesser flamingoes, storks, and pelicans. 
                                      Several pleasant, private campsites are located in forest clearings by the lake, and these
                                       provide grassy tent spaces and shower  facilities made mostly from local materials.
                                       Drive back to the Lake Manyara Serena for overnight - full board</p>
                                  </div>
                                </li>

                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4:  Ngorongoro Conservation Are</div>
                                        <div class="collapsible-body">
                                          <p>After breakfast, drive to Ngorongoro Crater for a half day game drive inside the crater. 
                                            This is the best place in Tanzania to see black rhino as well as prides of lion that include 
                                            the magnificent black-manned males. There are lots of colorful flamingoes and a variety of
                                             water birds. Other game that you can see includes leopard, cheetah, hyena, other 
                                            members of the antelope family, and small mammals. Late Afternoon drive to Serengeti, 
                                            dinner and overnight at Serengeti Serena.FB</p>
                                        </div>
    
         </li>
    
         <li>
            <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5: Serengeti National Park </div>
                <div class="collapsible-body">

                  <p>Full day tour in Serengeti National Park, It has an amazing landscape that resulted from the same tectonic forces that created 
                    the Great Rift Valley millions of years ago. Then, in the late evening drive to and overnight at the Serengeti Serena. - full board.</p>
                   
                </div>
              </li>

              <li>
                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6:  Serengeti National Park </div>
                      <div class="collapsible-body">
    
                        <p> After breakfast, continue game drive into the Serengeti’s wilderness corners for a full day 
                          game viewing in the park. With a picnic lunch beside you, you can also drive to IKOMA and do Nature walking tour along Grumeti River. 
                          In the late evening, go to the Serengeti Kirawira Camps. for rest, dinner, and overnight. FB</p>
                      </div>
                    </li>

                    <li>
                        <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 7: Serengeti National Park </div>
                            <div class="collapsible-body">
          
                              <p>After breakfast, venture into the Serengeti’s wilderness corners for a full day of game viewing in the park. 
                                With a picnic lunch beside you, take your leisure while exploring this world heritage site, where earth’s largest concentration of plain game still roams free! 
                                In the late evening, go to the Serengeti Kirawira Campsfor rest, dinner, and overnight. Full Board. (FB)</p>
          
                            </div>
                          </li>

                          <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 8: Moshi</div>
                                  <div class="collapsible-body">
                
                                    <p>After breakfast, morning game drives en-route in Serengeti National Park, then drive through 
                                      Ngorongoro area via Olduvai Gorge, back to Moshi atSal sarnero HOTEL or similar hotel in Moshi. Full Board.</p>
                
                                  </div>
                                </li>


                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 8: DEPARTURE DAY  </div>
                                        <div class="collapsible-body">
                      
                                          <p>Transfer is organized depending to your flight schedule drive to the airport (Kilimanjaro Airport), to catch the Flight back home.</p>
                      
                                        </div>
                                      </li>

              
                            
                </ul>      
                </div>
                        
                </div>


                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">

                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i> Accommodation with full board during safari (breakfast, lunch & dinner).</li>                       
                        <li class="collection-item"><i class="material-icons ">check</i> All national park fees.</li>
                        <li class="collection-item"><i class="material-icons ">check</i> Transportation with 4x4 vehicles with viewing roofs.</li>
                        <li class="collection-item"><i class="material-icons ">check</i> English speaking driver/guide during safari.</li> 
                        
                        <li class="collection-item"><i class="material-icons ">check</i> Ngorongoro Crater car supplement fee.</li>
                        <li class="collection-item"><i class="material-icons ">check</i> 24-Hour support during the safari from our office in Moshi.
                          </li> 

                          <li class="collection-item"><i class="material-icons ">check</i> Transfer to and from Kilimanjaro Airport.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> 2 Nights accommodation at the Sal-Salnero Hotel on full board Basis.
                            </li> 
                      </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">

                            <ul class="collection with-header">

                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">cancel</i> Extra activities (hot air balloon safari US$ 745 per person).</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i> Optional night at Sal-salnero hotel or similar hotel in Moshi – after the safari.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i> Tips for your driver-guide during safari (recommended amount US$ 25 - 35 per person per day).</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i> Tanzania Visa entry fees.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i> Travel insurance – (We recommend).</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i> Emergency evacuation cover (We recommend).</li>   
                                <li class="collection-item"><i class="material-icons ">cancel</i> Correspondence bank charges when making payment.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i> Any personal expenses & Items of personal nature.</li>                                                                                   
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>


