

<section>
  <div class="row">
    <img class="responsive-img" src="assets/orderd/tp-southafrica.png">
  </div>
</section>
<!-- slider section -->
<!-- 
<section>
  <div class="slider slider2">
      <ul class="slides">
        <li>
          <img [src]="bkimg1"> 

            <div class="caption center-align">                 
            <h3>The Best Airlines In Africa</h3>
            <h5 class="light grey-text text-lighten-3">Star Alliance Member</h5>
          </div>
        </li>
        <li>
          <img [src]="bkimg2"> 
          <div class="caption left-align">
            <h3>The Best Airlines In Africa</h3>
            <h5 class="light grey-text text-lighten-3">Star Alliance Member</h5>
          </div>
        </li>
        <li>
          <img [src]="bkimg3"> 
          <div class="caption right-align">
            <h3>The Best Airlines In Africa</h3>
            <h5 class="light grey-text text-lighten-3">Star Alliance Member</h5>
          </div>
        </li>
      </ul>
    </div>
  </section>
   -->
  <!-- slider section -->
  
  
  <!-- Section: Booking-->

  
  
  
  
  
  
 
  
  
  
  <!-- Over View section -->
  
 
  
  <section id="holidays" class="section section-popular scrollspy">
      <div class="container">
          <div class="row">
              <h3 class="center">
                  <span class="green-text text-darken-3">Over View </span>
              </h3>
               <p class="center">Southern Africa encompasses best Africa safari parks, the finest beaches, 
                 breathtaking landscapes and wide diversity of culture. Safari is most popular holiday 
                 activity; there are game reserves within South Africa, Botswana, Zambia, Namibia and 
                 Zimbabwe. The beach that stretches from Cape Town to Durban is Surfing Mecca. Undoubtedly 
                 one of the most majestic waterfalls in the world Victoria Falls and the wine route in Cape 
                 Town will also make your visit unforgettable. </p>

                 <br>
                 <br>
             
                
              <div class="col s12">
                      <ul class="tabs tabs2 tabs-fixed-width tab-demo  ">              
                         <li class="tab col s2 "><a class="active" href="#romantic"><h6><span class="black-text">South Africa</span></h6> </a></li>
                        <li class="tab col s2 "><a class="active" href="#safari"><h6><span class="black-text">Zimbabwe</span></h6> </a></li>
                        <li class="tab col s2 "><a class="active" href="#family"><h6><span class="black-text">Botsowana</span></h6> </a></li>
                      </ul>
                    </div>
                   
               
                <div id="romantic" class="col s12">
                    <div class="slider">
                        <ul class="slides">
                       
                          <li>
                            <img src="assets/orderd/tp-over-southafrica.png"> <!-- random image -->
                            <div class="caption left-align">  
                              <div class="row">
                              <div class="container col s12 m6">
                                <div class="card blue-grey darken-1">
                                  <div class="card-content white-text">
                                    <h5 class=""><span class="card-title">South Africa</span></h5>
                                    
                                    <p>  South Africa is one of the world’s most varied 
                                    <br>  destinations. From the classic safari country 
                                  <br>    of Kruger National Park to the  stately
                                   <br>    ‘mother city’ of Cape Town.</p>
                                  </div>
                                  <div class="card-action">
                                    <a class="btn #b71c1c red darken-4 " routerLink="/top-Destinations/south-africa/beach">View Package</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                  </div>
                  <div id="safari" class="col s12">
                      <div class="slider slider2">
                          <ul class="slides">
                          
                            <li>
                              <img src="assets/orderd/tp-over-zimbabwe.png"> <!-- random image -->
                              <div class="caption left-align">
                                  <div class="row">
                                      <div class="container col s12 m6">
                                        <div class="card blue-grey darken-1">
                                          <div class="card-content white-text">
                                            <h5 class=""><span class="card-title">Zimbabwe</span></h5>
                                            
                                            <p>I am a very simple card. I am good at containing small bits of information.
                                                I am convenient because I require little markup to use effectively
                                                I am a very simple card. I am good at containing small bits of information.</p>
                                          </div>
                                          <div class="card-action">
                                            <a class="btn #b71c1c red darken-1 " href="" >View Package</a>
                                          </div>
                                        </div>
                                      </div>
                                    </div>  </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                      <div id="family" class="col s12">
                          <div class="slider slider2">
                              <ul class="slides">
                               
                                <li>
                                  <img  src="assets/orderd/tp-over-botswana.png"> <!-- random image -->
                                  <div class="caption left-align">
                                      <div class="row">
                                          <div class="container col s12 m6">
                                            <div class="card blue-grey darken-1">
                                              <div class="card-content white-text">
                                                <h5 class=""><span class="card-title">Botswana</span></h5>
                                                
                                                <p>I am a very simple card. I am good at containing small bits of information.
                                                    I am convenient because I require little markup to use effectively
                                                    I am a very simple card. I am good at containing small bits of information.</p>
                                              </div>
                                              <div class="card-action">
                                                <a class="btn #b71c1c red darken-4 center-align" routerLink="/top-Destinations/south-africa/beach" >View Package</a>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                         </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                      </div>
      </div>
  </section>



  <!-- Modal Structure -->
  <div id="readmore" class="modal modal-fixed-footer">

    <div class="modal-content">
      <h4 class="teal-text">OverView</h4>
      <h5 class="teal-text">South Africa</h5>
     <p class="">Welcome to a nation where you can go on safari and visit the beach without having to travel great distances. 
       Tours in this country will take you to a variety of different locations that celebrate diversity in both culture and landscape. 
       This nation is renowned for its wide open skies and welcoming locals, making it a popular destination all year round.</p>

      <h5 class="teal-text">Botswana</h5>
      <p class="">Home of the greatest areas to explore African wildlife on land as well as in water.  Whatever Botswana
         package you choose will leave you with a camera stocked full of exceptional photos and an experience unlike any other.</p>

          
          <h5 class="teal-text">Zimbabwe</h5>
      <p class="">A nation of spectacular natural beauty, friendly people and rich culture, Zimbabwe’s 
        status as one of Africa’s leading safari destinations  is once again emerging as a vacation 
        highlight of the continent. Victoria Falls – known to locals as ‘The Smoke That Thunders’ – 
        is one of the seven natural wonders of the world and the sheer power of this massive body of 
        water plunging into the Zambezi Gorge is awe-inspiring and unforgettable. Lake Kariba, with its 
        game-rich shores and islands, is an idyllic safari spot featuring mind-blowing sunsets; Hwange 
        National Park is known for its huge herds of elephants; and a kayak trip down the Zambezi through 
        the Mana Pools National Park will appeal 
        to the intrepid traveller, providing close encounters with crocodiles, hippos and a host of other wildlife.</p>
 
                    
    </div>
    <div class="modal-footer">
      
    </div>
  </div>


  
      <section id="holidays" class="section section-popular scrollspy">
          <div class="container">
              <div class="row">
                  <h3 class="center">
                      <span class="green-text text-darken-3">South Africa Packages </span>
                  </h3>
                  
                  <div class="col s12 center">
                  
                          <ul class="tabs tabs2  container">  
                            
                            <li class="tab col s6 m4 l4"><a class="active" href="#Tour"><h6><span class="black-text">Tours </span></h6> </a></li>
                            <li class="tab col s6 m4 l4"><a class="active" href="#Bich"><h6><span class="black-text">Bich And Falls</span></h6> </a></li>
                            <li class="tab col s6 m4 l4"><a class="active" href="#Specials"><h6><span class="black-text">Specials</span></h6> </a></li>
                                    
                            </ul>
                        </div>
                   
                    <div id="Tour" class="col s12">
                        <div class="">
                            <div class="row">
                              <br>
                                <div class="center">
                                    <a id="read-more" class="waves-effect waves-light btn #ef5350 red lighten-1 modal-trigger" href="#readmore">Over View</a></div>
                                    <br>
                               
                              
                                  <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-s-p-tour.png">
                                     <span class="card-title"><b>THE BEST<br/>OF NAMIBIA</b>
                                      <button type="button" class="btn  #b71c1c red darken-4 center"  routerLink="/top-Destinations/south-africa/tours/nambia">View Package</button>
                                    </span>

                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-s-p-tour.png">
                                      <span class="card-title">LEXURY CAPE AND KRUGER
                                          <button type="button" class="btn  #b71c1c red darken-4 center" routerLink="/top-Destinations/south-africa/tours/kruger">VIEW PACKAGE</button>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-s-p-tour.png">                                 
                                      <span class="card-title "><b>DISCOVER<br/>CAPE TOWN</b>
                                        <button type="button" class="btn  #b71c1c red darken-4 center"  routerLink="/top-Destinations/south-africa/tours/cape-town">View Package</button>
                                    </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>

                    <div id="Bich" class="col s12">
                        <div class="">
                            <div class="row"> 
                              <br>                         
                                <div class="center">
                                    <a id="read-more" class="waves-effect waves-light btn #ef5350 red lighten-1 modal-trigger" href="#readmore">Over View</a></div>
                                    <br>
                                  <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-s-p-bich.png">
                                      <span class="card-title"><b>VICTORIA<br/>FALLS TOUR</b> 
                                         <button type="button" class="btn  #b71c1c red darken-4 center"  routerLink="/top-Destinations/south-africa/beach/victoria">View Package</button>
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-s-p-bich.png">
                                      <span class="card-title">NOSY BE PACKAGE 
                                          <button type="button" class="btn  #b71c1c red darken-4 center"  routerLink="/top-Destinations/south-africa/beach/nosy-be"> VIEW pACKAGE</button>
                                    
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img src="assets/orderd/tp-s-p-bich.png">
                                      <span class="card-title"><b>CAPE TOWN RELAXATION</b>
                                        <button type="button" class="btn  #b71c1c red darken-4 center"  routerLink="/top-Destinations/south-africa/beach/cape-town">View Package</button>
                                    </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>

                    <div id="Specials" class="col s12">
                        <div class="">
                            <div class="row">
                              <br>                              
                                <div class="center">
                                    <a id="read-more" class="waves-effect waves-light btn #ef5350 red lighten-1 modal-trigger" href="#readmore">Over View</a></div>
                                    <br>                            
                                  <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img  src="assets/orderd/tp-s-p-specials.png">
                                      <span class="card-title"><b>SAFARI AND THE FALLS</b>
                                        <button type="button" class="btn  #b71c1c red darken-4 center"  routerLink="/top-Destinations/south-africa/specials/safari-and-falls">View Package</button>
                                    
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img  src="assets/orderd/tp-s-p-specials.png">
                                      <span class="card-title">SOUTH AFRICA AND THE FALLS 
                                          <button type="button" class="btn  #b71c1c red darken-4 center"  routerLink="/top-Destinations/south-africa/specials/south-africa-and-falls">View Package</button>
                                    
                                      </span>
                                    </div>
                                  </div>
                                </div>
                                <div class="col s12 m4">
                                  <div class="card">
                                    <div class="card-image">
                                      <img  src="assets/orderd/tp-s-p-specials.png">
                                      <span class="card-title "><b >WINE AND GARDEN ROUTE GRANDEUR</b>
                                        <button type="button" class="btn  #b71c1c red darken-4 center"  routerLink="/top-Destinations/south-africa/specials/wine-and-garden">View Package</button>
                                    
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                          </div>
                    </div>
                    </div>
          </div>
      </section>
      
      <!-- - section -->
      

