
  
  <section>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="assets/image/kenyasafari.jpg">"> 
            <div class="caption center-align">
          </div>
          </li>
          <li>
            <img src="assets/image/kenyasafari1.jpg">">
            <div class="caption left-align">
              </div>
          </li>
          <li>
            <img src="assets/image/kenyasafari2.jpg"> 
            <div class="caption right-align">
             </div>
          </li>
        
        </ul>
      </div>
  </section>
  
  <br>
  <br>

<section id="holidays" class="section section-popular">
  <div class="container">
      <div class="row">
          
          <div class="col s12">
                  <ul class="tabs tabs-fixed-width tab-demo ">              
                      <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                  </ul>
                </div>
  
 <div id="Highlights" class="col s12 m12">                   
              
    <div class="container">
      
        <p class="center">Eastern Africa is well known for its variety of wildlife. It is also best destination for Bird Watching,
           Mountain Climbing, Hiking, Gorilla Trekking, Heritage & Cultural Tours, Mountain Biking, Snorkeling, Scuba Diving, Hot 
           Air Ballooning, and White Water Rafting. You will find all here. Plan your holiday in east Africa and enjoy spectacular
            scenery, vibrant culture and warm African hospitality. “From the foothills of the snow-capped Mt. Kilimanjaro to the vast, 
           endless plains of the Masai Mara – this safari will definitely earn its place in your hearts and memories forever. Simply a Classic!”</p>
   
     <ul class="collapsible">

 <li>
      <div class="collapsible-header">      
          <h6>Tour Code</h6>
        <span class=" badge green darken-4 white-text">EH-201</span></div>
     
    </li>

    <li>
        <div class="collapsible-header">
            <h6>Tour Name</h6>
          <span class=" badge green darken-4 white-text">	
              Classic Kenya Safari Holiday</span></div>
      
      </li>

      <li>
          <div class="collapsible-header">
             <h6> Country</h6>
            <span class=" badge green darken-4 white-text"> 	
                Kenya</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
               <h6> Capital City</h6>
              <span class=" badge green darken-4 white-text">Nairobi </span></div>
          
          </li>

   
   

        <li>
            <div class="collapsible-header">
              <h6>Validity</h6>
              <span class=" badge green darken-4 white-text">	               	
                   
              Jan. 1, 2018 – Dec. 31, 2018</span></div>
          
          </li>

          <li>
              <div class="collapsible-header">
                <h6>Duration</h6>
                <span class=" badge green darken-4 white-text">		
                    6 DAYS/ 5 NIGHTS </span></div>
            
            </li>
            <li>
                <div class="collapsible-header">
                  <h6>Starting Point</h6>
                  <span class=" badge green darken-4 white-text">XXXXX  </span></div>
              
              </li>
              <li>
                  <div class="collapsible-header">
                    <h6>Ending  Point</h6>
                    <span class=" badge green darken-4 white-text"> Nairobi </span></div>
                
                </li>
  </ul>

</div>
                        
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>

  
    </div>


                <div id="Itinerary" class="col s12 white-text">
                     
                          <div class="container green darken-4">
                              <ul class="collapsible popout" data-collapsible="accordion">
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Amboseli National Park</div>


                                    <div class="collapsible-body">
                                        <p> JAMBO - KARIBU!! You will be warmly met upon arrival at the airport with our traditional, unique
                                           & special welcome (bubbly, hot/cold towels and presentation of authentic safari hat and souvenirs).
                                            We depart south this morning for the Amboseli National Park at the foot of Mount Kilimanjaro, 
                                            Africa’s highest mountain. Arrive in time for lunch and later enjoy 
                                          your first game drive in the under the great Mt. Kilimanjaro. Return to the lodge/camp for dinner.</p>

                                    </div>
                                  </li>


                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2:  Amboseli National Park  </div>
                                    <div class="collapsible-body">

                                     <p>
                                        Enjoy an early morning game drive returning to the lodge for breakfast. Relax by the pool overlooking the majestic mountain. 
                                        Lunch is followed by an afternoon game drive returning for dinner and overnight. OPTIONAL ACTIVITY: You will have an opportunity 
                                        to enjoy an optional Balloon Safari – Amka! (Wake up!) And take off at 6:00 a.m. 
                                        to glide over the Amboseli Plains. The area takes on a whole new perspective. Land for an exquisite champagne breakfast.</p>
                                    </div>
                                  </li>


                                  <li>
                                <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3:   Lake Nakuru National Park     </div>
                                    <div class="collapsible-body">

                                   <p>
                                      
                                      After breakfast drive down the scenic Great Rift Valley with breath-taking views of Mt Longonot 
                                      and Lake Naivasha on your way to Lake Nakuru to arrive in time for lunch. Afternoon proceed on a
                                       game viewing drive circumventing Lake Nakuru. The lake is situated in the heart of the Rift 
                                       Valley and is one Kenya's most famous soda lakes. A major feature of this park is the bird 
                                       life and it is world renowned as the home for millions of Flamingos. A rhino sanctuary also
                                        provides the opportunity to see the greatly endangered black rhino. Return to the camp/lodge 
                                        for dinner and overnight.</p>
                                    </div>
                                  </li>

                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4: Masai Mara Game Reserve  </div>
                                          <div class="collapsible-body">
                                            <p>After breakfast depart for Kenya's famous game reserve. You start the day venturing through the Great 
                                              Rift Valley travelling to the northern most extension of the Serengeti Plains and one of the richest
                                               wildlife Game Reserves, the Masai Mara. The Mara is home to the awesome black-manned lion, the
                                                elusive leopard, stately giraffes, vast herds of elephants, rhino, thundering herds of zebra,
                                                 migrating wildebeest and numerous other plains game. You arrive at the camp for a late lunch.
                                                 After lunch depart for an afternoon game-viewing drive. Enjoy dinner and overnight at the camp/lodge</p>
                                          </div>
      
           </li>
      
           <li>
              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5: Masai Mara Game Reserve   </div>
                  <div class="collapsible-body">

                    <p>Enjoy an early morning breakfast and a full morning’s game viewing drive to return for lunch.
                       Experience the friendly atmosphere where the Masai community lives in harmony with wild game.
                        After lunch visit a traditional Masai Manyatta (off the beaten track) and experience the culture 
                        of this world famous community. The Masai still live as they did for centuries - Interact with
                         these nomadic people and experience their way of life as you learn about their customs and traditions. 
                         Continue with the afternoon game viewing as you return to the lodge for dinner and overnight. OPTIONAL
                          ACTIVITY: Balloon Safari over the Mara plains followed by a champagne breakfast.</p>
                     
                  </div>
                </li>

                <li>
                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6: Nairobi  </div>
                        <div class="collapsible-body">
      
                          <p>This morning we enjoy our breakfast then check-out. Unbelievable but true, our good bush moments
                             have come to an end. We bid farewell to our wonderful lodge manager and his team then depart back
                              to Nairobi. Not empty handed though. With us are photographs – a capture of the special moments 
                              we have had on this tour to immortalize the experience. Our guide driver will drop you at the 
                              Jomo Kenyatta International airport for your onward flight. ASANTE SANA NA SAFARI NJEMA!

                            </p>
                        </div>
                      </li>
     
             
                  </ul>      
                  </div>
                          
                  </div>


                  <div id="Included" class="col s12">
                    <div class="container">

                   
                      <ul class="collection with-header">

                          <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                          <li class="collection-item"><i class="material-icons ">check</i> Arrival transfer from/ to the Jomo Kenyatta International Airport.</li>                       
                          <li class="collection-item"><i class="material-icons ">check</i> Authentic welcome on arrival with Champagne, wet towels, presentation of authentic safari hats and safari essentials pack.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Use of customized tours 4x4 Safari Land Cruiser on safari.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Unlimited supply of bottled, drinking water in the vehicle while on safari.</li> 
                          
                          <li class="collection-item"><i class="material-icons ">check</i> Unlimited mileage on game viewing drives.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Services of a Professional ENGLISH Speaking guide-driver.
                            </li> 

                            <li class="collection-item"><i class="material-icons ">check</i> Accommodation and meals as specified in the itinerary - FB while on Safari.</li>
                            <li class="collection-item"><i class="material-icons ">check</i> All game drives as specified in the itinerary.
                              </li> 
                              <li class="collection-item"><i class="material-icons ">check</i> Park Entry Tickets to Amboseli National Park, Lake Nakuru National Park, and the FAMOUS Masai Mara Game Reserve.</li>
                            <li class="collection-item"><i class="material-icons ">check</i> Visit to a local school in Masai Mara (a project supported by the Manji Foundation).
                              </li> 

                              <li class="collection-item"><i class="material-icons ">check</i> Unlimited bottled water supplied in your safari vehicle during your game drives, transfers etc.</li>
                              <li class="collection-item"><i class="material-icons ">check</i> Farewell cocktail and dinner party with the Manji Family at their family home (time permitting).</li>
                             
                        </ul>
                   
     
                    </div>
                        
                     
              
                      </div>

                      <div id="Excluded" class="col s12">
                          <div class="container">

                              <ul class="collection with-header">

                                  <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                  <li class="collection-item"><i class="material-icons ">cancel</i>International or Domestic Flights, Visa Fees and all Personal Expenses such as Drinks, Laundry, Telephone, tips to hotel staff, gratuities to Driver/Guide etc.</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Travel Insurance - we strongly recommend that comprehensive travel insurance be purchased for the duration of your journey to protect against any missed or delayed flights, illnesses etc that may cause cancellation of your travel plans.</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Any expense not expressly specified above.</li> 
                                   </ul>
                             
        
                            </div>
                    
                    </div>
                    
                      
  
                        </div>
  </div>
  </section>
  

