



<section>
  <div class="row">
    <img class="responsive-img" src="assets/orderd/ct-exp-bird2.png">
  </div>
</section>




<!-- 

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/london.jfif">"> 
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/paris.jfif">">
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/londonn.jfif"> 
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/southafricaa.jfif">
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>
</section> -->

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

              <div id="Highlights" class="col s12 m12">                   
            <p class="center">Ethiopia’s greatly diversified ecosystem makes it one of the richest habitats in Africa for birds and mammals.
               Over 860 species of birds, many extremely beautiful and exotic, reside in Ethiopia. Among these 16 specious of birds are only found in Ethiopia, not anywhere else. That is the reason why we say,
               the most motivated ‘tickers’ come from all over the world to enhance their bird lists with Ethiopia’s many endemic species.</p>

  <div class="container">
   <ul class="collapsible">
  <li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class="new badge ">EH-135

      </span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Hot Air Balloon Ride Tours</h6>
        <span class="new badge">ETHIOPIA BIRD WATCHING HOLIDAYS

          </span></div>
    
    </li>


    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class="new badge  darken-4">Ethiopia</span></div>
      
      </li>
      <li>
        <div class="collapsible-header">
          <h6>Arrival City</h6>
          <span class="new badge">	
              Addis Abeba</span></div>
      
      </li>
      <li>
        <div class="collapsible-header">
          <h6>Departure City</h6>
          <span class="new badge">	
              Addis Abeba</span></div>
      
      </li>
      <li>
        <div class="collapsible-header">
          <h6>Validity</h6>
          <span class="new badge">	
              Jan. 1, 2018 – Dec 31, 2018</span></div>
      
      </li>

    
</ul>

</div>
                      
<br>
 
<p class="center-align">
    <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

  </p>
  <!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
    <app-search-enquire></app-search-enquire>

</div>

  <table class="responsive-table striped highlight center">
    <thead>
      <tr>
          <th>ITINERARY</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Duration :</td>
        <td>	10DAYS/ 9 NIGHTS </td>
      </tr>
      <tr>
        <td>Starting Point:</td>
        <td>Addis Ababa</td>
      </tr>
      <tr>
        <td>Ending Point:</td>
        <td> Addis Ababa</td>
      </tr>
    </tbody>
  </table>
        


                        


              </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1:Arrival</div>
                                 <div class="collapsible-body">

                                 <p>- On arrival in Addis Ababa and after check in to your hotel, you will have the opportunity to either explore the city or we will drive to Gefersa Reservoir where Blue-winged Goose, Abysssian or Black-headed Siskin, Abyssinian Longclaw and Wattled Ibis can be seen.

                                 <br>   Meal Plan: Breakfast, Lunch & Dinner                                                                     Overnight: Hotel
                                  
                                    
                                      </p>
                                  
                                  </div>
                                </li>
                            
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2:Addis Ababa to Debre Libanos </div>
                                 <div class="collapsible-body">

                                 <p>-          A day tour to Debra Libanos Monastery via the colorful Sululta Plains where highlanders thresh their teff (a millet-like grain), we will likely see White-collared Pigeon, Red-breasted Wheatear, and Black-headed Siskin. Lunch near the Debre Libanos Monastery should introduce us to the first of many Gelada Baboon troops, the endemic Rueppell’s Chat, and White-winged Cliff-Chat. Juniper woodlands around the monastery hold Black-winged Lovebird, White-cheeked Turaco, Banded Barbet, White-backed Tit, White-billed Starling, and Dark-headed Oriole. We drive back to Addis Ababa in late afternoon.
                             <br>       Meal Plan: Breakfast, Lunch & Dinner                                                                Overnight: Hotel
                                    
                                      
                                  </p>
                                  
                                  </div>
                                </li>
                            
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3:Addis Ababa - Awash National Park </div>
                                 <div class="collapsible-body">

                                 <p> -A day tour to Debra Libanos Monastery via the colorful Sululta Plains where highlanders thresh their teff (a millet-like grain), we will likely see White-collared Pigeon, Red-breasted Wheatear, and Black-headed Siskin. Lunch near the Debre Libanos Monastery should introduce us to the first of many Gelada Baboon troops, the endemic Rueppell’s Chat, and White-winged Cliff-Chat. Juniper woodlands around the monastery hold Black-winged Lovebird,
                                    White-cheeked Turaco, Banded Barbet, White-backed Tit, White-billed Starling,
                                     and Dark-headed Oriole. We drive back to Addis Ababa in late afternoon.
                                  </p>
                                  
                                  </div>
                                </li>
                            
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4:All day bird watching Awash National Park </div>
                                 <div class="collapsible-body">

                                 <p>  Today will be spent exploring the superb Awash National Park. Many species of birds are found here: 
                                   African Orange-bellied Parrots, Bustards, Weavers, Hoopoe, Yellow-throated Serine, Red-fronted Barbet, Pygmy Batis, Lesser-striped Swallow, and the House Martin. The park also boasts a variety of mammals: the Anubis Baboon, Colobus Monkey, Black-backed Jackal, Bat-eared Fox, Egyptian Mongoose, Warthog, Beisa Oryx, Soemmering’s Gazelle, Lesser Kudu, Salt’s Dikdik, etc.

                                <br>    Meal Plan: Breakfast, Lunch & Dinner                                                               Overnight: Hotel
                                </p>
                                  </div>
                                </li>
                            
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5:  Awash to Langano.</div>
                                 <div class="collapsible-body">

                                 <p>- We make the fairly long drive to Lake Langano, stopping at several Rift Valley lakes. En route birding at Lake Ziway, truly a birder's paradise and at Koka Dam. Spot bird species such as; the African Pygmy Goose, Black-billed Woodhoopoe, Abyssinian Ground Hornbill.

                             <br>       Meal Plan: Breakfast, Lunch & Dinner                                                                 Overnight: Hotel
                                 </p>
                                  
                                  </div>
                                </li>
                            
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6:Langano - Abyata National Park - Wondogenet   </div>
                                 <div class="collapsible-body">

                                 <p> 
                                    -Pre breakfast birding in the acacia Woodland nearby the Langano .This acacia Woodland is the home of many birds like the Black-checked and common Waxbills, Abyssinian Black Wheatear, Dederic and Klaas’s Cuckoos, Rattling Cisticolas, Red-billed and Von der Decken’s Hornbills.
                                    
                                    - Then, birding at Abiyata - Shala National Parks, enjoy the breeding and feeding ground of Flamingoes, Pelicans, Cormorants and other aquatic birds, and many more species.   Over 300 species can be seen around Lake Abiyata, such as: Yellow Wagtails, Ibis, Cormorant, Pelicans, Ducks, Egrets, Herons, Flamingos, Storks, Swallows, Chestnut-bellied Sandgrouse, Abyssinian Ground Hornbill, Rollers, Wheatear, African Marsh Harrier, etc. Then we continue to Wondo Genet for an overnight stay.
                                    
                                    Meal Plan: Breakfast, Lunch & Dinner                                                                Overnight: Hotel</p>
                                  
                                  </div>
                                </li>
                            
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 7:
                                    Wondogenet – Bale Mountain National Park</div>
                                 <div class="collapsible-body">

                                 <p> In the morning we head towards the world-famous Bale Mountains, part of the Bale Mountains National Park. It is the best place in Ethiopia to see endemics associated with grassland as well as a number of other notable species. You will stop around Dinsho to see the endemic Wattled Ibis, Rouget’s Rail and many more species.

                               <br>     - Meal Plan: Breakfast, Lunch & Dinner                                                                 Overnight: Hotel
                                  </p>
                                  
                                  </div>
                                </li>
                            
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 8:
                                    Drive to Senati</div>
                                 <div class="collapsible-body">

                                 <p>- Drive to Senati. The Senette Plateau with its Afro-alpine vegetation is one of the highlights of the tour. Today we spend most of our time on the Sanattie plateau and in the forest near Goba. The Red-breasted Sparrowhawk, Crowned Eagle, Verreaux’s Eagle, Golden Eagle, Lammergeier and Steppe Eagle are among the birds of prey we may see. In this wonderful Afro-alpine habitat, we also expect to see the beautiful Wattled Crane, Moorland Francolin, Ruddy Shelduck, Malachite Sunbird, and African Snipe. The Sanattie Plateau is also home to the elegant Ethiopian Wolf and the Giant Mole Rat.

                                 <br>   Meal Plan: Breakfast, Lunch & Dinner                                                                Overnight: Hotel
                                    
                                      </p>
                                  
                                  </div>
                                </li>
                            
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 9:Drive to Awassa
                                  </div>
                                 <div class="collapsible-body">

                                 <p>-We leave Goba very early in the morning to have enough time for afternoon birding at Lake Awassa.  Around the lake we could encounter birds like Hamerkop, Marabou Stork, Sacred Ibis, Yellow Billed Stork and Egyptian geese.

                                 <br>   Meal Plan: Breakfast, Lunch & Dinner                                                                 Overnight: Hotel </p>
                                  
                                  </div>
                                </li>
                            
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 10: 
                                    Awassa to Addis Ababa
                                    </div>
                                 <div class="collapsible-body">

                                 <p>- Morning visit the daily local fish market at the shore of Lake Awassa. This market will give you an experience where local people enjoy different variety of fish cuisines including the Ethiopian version “Sushi”. Here, a lot of aquatic birds can be spotted. Then, proceed driving to Addis Ababa. Late in the afternoon have a farewell dinner at one of the best traditional restaurant then drive to the airport for flight back home.

                               <br>     Meal Plan: Breakfast, Lunch & Dinner   </p>
                                  
                                  </div>
                                </li>
                          


                              </ul>
                          
                            </div>
                        
                </div>
                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">
                    
                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i>   9 nights hotel accommodation on double/twin bed basis</li>
                        <li class="collection-item"><i class="material-icons ">check</i>  Meals: Breakfast, Lunch and Dinner</li> 
                        <li class="collection-item"><i class="material-icons ">check</i> All entrance fees according to the tour program</li>  
                        <li class="collection-item"><i class="material-icons ">check</i>Return transfer to airport</li>  
                        <li class="collection-item"><i class="material-icons ">check</i> Ground transportation  per the package itinerary </li>  
                        <li class="collection-item"><i class="material-icons ">check</i>  Scout fees</li>  
                        <li class="collection-item"><i class="material-icons ">check</i> Driver allowance</li>  
                        <li class="collection-item"><i class="material-icons ">check</i>English speaking local guide  </li>                                                                                         
                    </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">
                            Alcoholic Drinks,
                            Any other expenses which are not mentioned on price include section 
                            <ul class="collection with-header">
                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">check</i>  Alcoholic drinks</li> 
                                <li class="collection-item"><i class="material-icons ">check</i> Video and camera fees if and where applicable</li>
                                <li class="collection-item"><i class="material-icons ">check</i> Tips, telephone calls, laundry services and other expenses of personal nature</li>
                                <li class="collection-item"><i class="material-icons ">check</i>  Entrance fees to any special ceremonies you might encounter by chance</li> 
                                <li class="collection-item"><i class="material-icons ">check</i> Any other expenses which are not mentioned on price include section</li>                                                                                
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>

