

<div class="container">
  
<section>
    <div class="row">
      <img class="responsive-img"  src="assets/orderd/ct/ct-saf-mara.png">
    </div>
  </section>
  
</div>

  
  
  
  <!-- 
  
  <section>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="assets/image/london.jfif">"> 
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/paris.jfif">">
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/londonn.jfif"> 
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/southafricaa.jfif">
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>
  </section> -->
  
  <br>
  <br>
  
  <section id="holidays" class="section section-popular">
  <div class="container">
      <div class="row">
          
          <div class="col s12">
                  <ul class="tabs tabs-fixed-width tab-demo ">              
                      <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                  </ul>
                </div>
  
                <div id="Highlights" class="col s12 m12">                   
              <p class="center">
                  “An ideal weekend gateway, this safari takes you into the heart of the Kenyan wilderness. 
                  Enjoy the game viewing experience, relax by the poolside and savour the serenity before returning to the city life!”
              </p>
  
    <div class="container">
     <ul class="collapsible">
    <li>
      <div class="collapsible-header">      
          <h6>Tour Code</h6>
        <span class="new badge ">EH-201</span></div>
     
    </li>
  
    <li>
        <div class="collapsible-header">
            <h6>Hot Air Balloon Ride Tours

              </h6>
          <span class="new badge">	
              Mara Experience Safari</span></div>
      
      </li>
  
      <li>
          <div class="collapsible-header">
             <h6> Country</h6>
            <span class="new badge  darken-4">Kenya</span></div>
        
        </li>
        <li>
          <div class="collapsible-header">
            <h6>Arrival City</h6>
            <span class="new badge">	
                Nairobi</span></div>
        
        </li>
  
        <li>
          <div class="collapsible-header">
            <h6>Departure City</h6>
            <span class="new badge">	
                Nairobi</span></div>
        
        </li>
  
        <li>
            <div class="collapsible-header">
              <h6>Validity</h6>
              <span class="new badge">	
                Jan. 1, 2019 – Dec. 31, 2019</span></div>
          
          </li>
  </ul>
  
  </div>
                        
  <br>
   
  <p class="center-align">
      <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 
  
    </p>
    <!-- Modal Structure -->
  <div id="enquire" class="modal modal-fixed-footer">
      <app-search-enquire></app-search-enquire>
  
  </div>
  
    <table class="responsive-table striped highlight center">
      <thead>
        <tr>
            <th>ITINERARY</th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <td>Duration :</td>
          <td>3 DAYS/ 2 NIGHTS

            </td>
        </tr>
        <tr>
          <td>Starting Point:</td>
          <td>Nairobi </td>
        </tr>
        <tr>
          <td>Ending Point:</td>
          <td>Nairobi </td>
        </tr>
      </tbody>
    </table>
          
  
  
                          
  
  
                </div>
  
  
                <div id="Itinerary" class="col s12 white-text">
                     
                          <div class="container green darken-4">
                              <ul class="collapsible popout" data-collapsible="accordion">
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Masai Mara Game Reserve</div>
                                   <div class="collapsible-body">
  
                                   <p>
                                      Drive via Narok to the Masai Mara National Reserve offering wonderful scenery and plenty of game. It is perhaps the only region left in Kenya where the visitor may see animals in the same super-abundance as existed a century ago. Arrive for lunch at your preferred choice of accommodation. Enjoy an afternoon game viewing drive in this vast and expansive reserve teaming with game. Be on the look-out for the 'big five' Mara is famous for and the most sought after in the early 20th century when Kenya was a hunters' paradise. Killing any of them game one some class, pride, heroism. These include the lion, Cape buffalo, the savanna elephant, black rhino and the elusive leopard. The vast savannah grasslands as far as the eye can see is home to impalas, Maasai giraffes, waterbucks, wart hogs, Thompson & grand gazelles, topis, the resident wildebeests among many others. Dinner and overnight

                                      Meals: LDBB
                                        </p>
                                    
                                    </div>
                                  </li>
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: Masai Mara Game Reserve</div>
                                    <div class="collapsible-body">
  
                                    
                                            <p> Full day in Masai Mara with morning and afternoon game viewing drives in search of the 'big five'. Masai Mara is the northern most extension of the Serengeti Plains and one of the richest wildlife Game Reserves. It is home to the awesome black-manned lion, the elusive leopard, stately giraffes, vast herds of elephants, rhino, thundering herds of zebra, migrating wildebeest and numerous other plains game. Dinner and overnight.

                                            <br>    OPTIONAL ACTIVITY: Balloon Safari over the Mara plains followed by a champagne breakfast
                                                  
                                            <br>    Meals: LDBB
                                                
                                            </p>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3: Nairobi</div>
                                    <div class="collapsible-body">
  
                                    
                                            <p> 
                                                Amka! Wake up early with coffee/tea and head off on your last trail of the African savannah – hopefully, you’ll see some big game. Return at the Camp or Lodge for breakfast. All good experiences must come to an end and sadly you must say Kwaheri to your wonderful Camp Manager and his teams as you depart for Nairobi.
                                                 Drop off at your hotel or Jomo Kenyatta International Airport for your onward flight.
                                                
                                            </p>
                                    </div>
                                  </li>
                              
                              
  
  
                                </ul>
                            
                              </div>
                          
                  </div>
                  <div id="Included" class="col s12">
                    <div class="container">
  
                   
                      <ul class="collection with-header">
  
                          <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                          <li class="collection-item"><i class="material-icons ">check</i>Arrival transfer from the Jomo Kenyatta International Airport</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Met in our unique style with wet towels and ‘bubbly’</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Complimentary Authentic Branded Safari Hat and safari essentials pack</li> 
                          <li class="collection-item"><i class="material-icons ">check</i>Shared game drives whilst on Safari</li>
                          <li class="collection-item"><i class="material-icons ">check</i>Domestic flight cost</li> 
                          <li class="collection-item"><i class="material-icons ">check</i> Services of a Professional ENGLISH Speaking Guide-Driver</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Accommodation and meals as specified in the itinerary</li>
                          <li class="collection-item"><i class="material-icons ">check</i>All game drives as specified in the itinerary</li>   
                          <li class="collection-item"><i class="material-icons ">check</i>Park Entry Tickets</li>   
                          <li class="collection-item"><i class="material-icons ">check</i>  Farewell cocktail and dinner party with the Manji Family at their family home</li>                                                                                         
                      </ul>
                   
     
                    </div>
                        
                     
              
                      </div>
  
                      <div id="Excluded" class="col s12">
                          <div class="container">
  
                              <ul class="collection with-header">
                                  <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                  <li class="collection-item"><i class="material-icons ">check</i> International or Domestic Flights,</li>
                                  <li class="collection-item"><i class="material-icons ">check</i>  Visa Fees and all Personal Expenses such as Drinks, Laundry, Telephone, tips to hotel staff, gratuities to Driver/Guide etc</li> 
                                  <li class="collection-item"><i class="material-icons ">check</i>Travel Insurance - we strongly recommend that comprehensive travel insurance be purchased for the duration of your journey to protect against any missed or delayed flights, illnesses etc that may cause cancellation of your travel plans.</li>
                                  <li class="collection-item"><i class="material-icons ">check</i>  Any expense not expressly specified above.</li>
                              </ul>
                             
        
                            </div>
                    
                    </div>
                    
                      
  
                        </div>
  </div>
  </section>
  
  