

<section>
  <div class="slider">
      <ul class="slides">

          <li>
              <img src="assets/image/safrica4.jpg">"> 
              <div class="caption center-align">
                
              </div>
            </li>
        <li>
          <img src="assets/image/safrica2.jpg">">
          <div class="caption left-align">
            
          </div>
        </li>
        <li>
          <img src="assets/image/safrica3.jpg"> 
          <div class="caption right-align">
            </div>
        </li>
      
      </ul>
    </div>
</section>

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

<div id="Highlights" class="col s12 m12">                   
            
  <div class="container">
    
      <p class="center">Discover the beautiful city of Cape Town, 
        one of the world's most scenic destinations, nestled at the foot of Table Mountain.</p>
 
   <ul class="collapsible">

<li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class=" badge green darken-4 white-text">EH-307</span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class=" badge green darken-4 white-text">South Africa & The Falls</span></div>
    
    </li>

    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class=" badge green darken-4 white-text">South Africa, Zimbabwe</span></div>
      
      </li>

      <li>
          <div class="collapsible-header">
             <h6> Arrival City</h6>
            <span class=" badge green darken-4 white-text">     	
                Cape Town</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
               <h6> Departure  City</h6>
              <span class=" badge green darken-4 white-text">     	
                  Victoria Falls</span></div>
          
          </li>
 

      <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class=" badge green darken-4 white-text">	               	
               Jan. 1, 2018 – Dec. 31, 2018</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
              <h6>Duration</h6>
              <span class=" badge green darken-4 white-text">		
                  5 DAYS/ 4 NIGHTS </span></div>
          
          </li>
          <li>
              <div class="collapsible-header">
                <h6>Starting Point</h6>
                <span class=" badge green darken-4 white-text">Cape Town  </span></div>
            
            </li>
            <li>
                <div class="collapsible-header">
                  <h6>Ending  Point</h6>
                  <span class=" badge green darken-4 white-text">Cape Town  </span></div>
              
              </li>
</ul>

</div>
                      
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>


  </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1:Cape Town</div>


                                  <div class="collapsible-body">
                                      <p>On arrival in Cape Town you will be met for your transfer to your hotel.</p>

                                  </div>
                                </li>


                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: Cape Town</div>
                                  <div class="collapsible-body">

                                   <p>In the Morning depart on a scheduled full day tour of the Cape Peninsula. Highlights include Seal Island Hout Bay: 
                                     Trips departing from Hout Bay Harbour ferry passengers across to nearby Duiker Island – also known as Seal Island 
                                     – where thousands of Cape Fur Seals can be seen in their natural habitat. The boat trip provides beautiful views 
                                     of the bay, the harbour, The Sentinel and Chapman’s Peak. Chapman’s Peak Drive, it is one of the most spectacular
                                      marine drives anywhere in the world. The 9km route, with its 114 curves, skirts the rocky coastline of Chapman's
                                       Peak. The drive offers stunning 180° views with many areas along the route where you can stop and take in the 
                                       scenery or sit down for a relaxing picnic. Cape Point is a spectacular sight, covered in endemic fynbos and
                                        home to breathtaking bays, beaches and rolling green hills and valleys, just 60km outside of Cape Town. 
                                        Cape Point is open daily and is a must-see. The Boulders Visitor Centre is home to the famous colony of 
                                        Jackass Penguins, so called for their hilarious braying call. This is a truly special experience. After
                                         you have fallen in love with the penguins head 
                                     to the secluded Boulders Beach and take a swim in the comparatively warm waters of the False Bay.</p>
                                  </div>
                                </li>


                                <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3: Victoria falls at Leisure</div>
                                  <div class="collapsible-body">

                                 <p>After breakfast depart the hotel for a private full day tour of the Cape Winelands.Highlights include a visit to the historical town of Stellenbosch, a visit to the Ernie Els 
                                   Winery and wine tastings in some of the finest wine estates. Then we set off for our return to the Mother City.</p>
                                  </div>
                                </li>

                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4: Cape Town</div>
                                        <div class="collapsible-body">
                                          <p>A full day at leisure to explore the beautiful city of Cape Town. Maybe take a trip in the cable car up Table 
                                            Mountain or a boat ride for a poignant visit to Robben Island where Nelson Mandela was imprisoned for many years.</p>
                                        </div>
    
         </li>
    
         <li>
            <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5: Thornybush Game Reserve</div>
                <div class="collapsible-body">

                  <p>After breakfast you will be met and transferred to Cape Town International 
                    Airport for your flight to Johannesburg OR Tambo International airport and 
                    onwards connection to Hoedspruit Airport. On arrival, you will be met and 
                    transferred to your lodge in the Thornybush Game Reserve. 
                    Here you will enjoy the next few days experiencing exclusive safari 
                    adventures in both open Land Rovers, and on foot.</p>

                </div>
              </li>

              <li>
                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6: Thornybush Game Reserve</div>
                      <div class="collapsible-body">
    
                        <p>Enjoy morning and late afternoon game safaris in the African bush with experienced game rangers and Shangaan trackers.
                           Game drives are undertaken at the best 
                          times of the day to avoid the harsh African sun whilst the rest of your day may be enjoyed at leisure at the lodge.</p>
                      </div>
                    </li>

                    <li>
                        <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 7: Thornybush Game Reserve</div>
                            <div class="collapsible-body">
          
                              <p>Enjoy game drives from the lodge, walking safaris or simply relax in luxury in the heart of the African bush.</p>
          
                            </div>
                          </li>

                          <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 8: Johannesburg</div>
                                  <div class="collapsible-body">
                
                                    <p>After an early morning game drive and breakfast, transfer to Hoedspruit Airport for your flight to Johannesburg 
                                      OR Tambo International Airport. You will be met on arrival and transferred to your hotel</p>
                
                                  </div>
                                </li>

              
                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 9:  Victoria Falls, Zimbabwe </div>
                                        <div class="collapsible-body">
                      
                                          <p>After breakfast you will be met and transferred to Johannesburg OR Tambo International Airport for your flight to Victoria Falls.
                                            On arrival you will 
                                            be met and transferred to Ilala Lodge. Once you have had time to freshen up, enjoy the afternoon with a cruise on the Zambezi River</p>
                      
                                        </div>
                                      </li>

                                      <li>
                                          <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 10: Victoria Falls, Zimbabwe</div>
                                              <div class="collapsible-body">
                            
                                                <p>This morning enjoy a tour of the Victoria Falls. The best seasons to see the Falls are roughly mid June to mid-September (start of the dry season) or mid November to mid January (start of rainy season). Between mid January and mid June the Falls are at its highest, which also means the spray is enormous and part of the view is blocked. Mind your cameras, because you will get wet! As for mid September to mid November, those are the hot dry months and the Falls do dry up to a certain extent. During the months when the spray is big and its full moon, the lunar rainbow is visible. It can be quite spectacular 
                                                  to see a rainbow at night! Usually this phenomena occurs from mid June to mid September and mid January to mid April.</p>
                            
                                              </div>
                                            </li>
                
                                            <li>
                                                <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 11: Victoria Falls, Zimbabwe</div>
                                                    <div class="collapsible-body">
                                  
                                                      <p>Morning at leisure until your transfer from the lodge to Victoria Falls Airport for your flight to Johannesburg OR Tambo International Airport.</p>
                                  
                                                    </div>
                                                  </li>
                            
                </ul>      
                </div>
                        
                </div>


                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">

                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i> Accommodation as per the itinerary.</li>                       
                        <li class="collection-item"><i class="material-icons ">check</i> Meals as per the itinerary (9 breakfast, 3 lunch, 3 dinner).</li>
                        <li class="collection-item"><i class="material-icons ">check</i> All transfers.</li>
                        <li class="collection-item"><i class="material-icons ">check</i> Scheduled Cape Point and Winelands Tour.</li> 
                        <li class="collection-item"><i class="material-icons ">check</i> Tour of the Falls and Sundowner Cruise.</li> 
                        <li class="collection-item"><i class="material-icons ">check</i> Safari Activities and Park Fees.</li> 
                    </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">

                            <ul class="collection with-header">

                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>  All flights.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i>  Visas.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i>  All meals, drinks and items not mentioned in includes.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i>  All items of a personal expense Tips and Gratuities.</li>                                                                                     
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>

