

<section>
  <div class="slider">
      <ul class="slides">
       <li>
          <img src="assets/orderd/ct-romantic.png">
          <div class="caption center-align">
          </div>
        </li>
      </ul>
    </div>
</section>
<br>
<br>
<br>

<div class="container">
<div class="card-panel">

  <h5>Romantic Gataways</h5>
  <blockquote>
  <p>Dreaming of that perfect Destination Wedding?
</p>

<p>


    Thoughts of romance will be our guide as we prepare The Wedding of Your Dream. 
    If you have always pictured yourselves in a warm, lavish ambience with happy 
    friends and family toasting the two of you, then search through our premier 
    wedding destination spots.

</p>
 
<p>
    Your perfect venue is a click away!
</p>
<p>
    May be you are looking for a place to honeymoon? or wondering what would make
     a great gift to newlyweds? Perhaps you yourself just got married and are looking
      to escape to a blissful and serene location.
</p>
<p>
    Well, worry no more. Ethiopian Holidays will help you find the most romantic getaways 
    around the world with the best honeymoon destinations of 2018.  If you are planning 
    the honeymoon of your dreams or looking for a romantic getaway, we have carefully
     selected the finest destinations for you to choose from:
</p>


</blockquote>
</div>


</div>



<section id="popular" class="section section-popular scrollspy">
  <div class="container">
    <div class="card-panel z-depth-5">
      <div class="row">
          <div class="col s12 m4">
              <div class="card small">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/orderd/ct-rom-momb.png">
                    <span class="card-title">MOMBASA</span> 
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                    <p class="center-align">
                        <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 
                    
                      </p>
                      <!-- Modal Structure -->
                    <div id="enquire" class="modal modal-fixed-footer">
                        <app-search-enquire></app-search-enquire>
                    
                    </div>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">The Best of Tanzania Safari<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
          </div>


          <div class="col s12 m4">
              <div class="card small">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/orderd/ct-rom-zanz.png">
                    <span class="card-title">ZANZIBAR</span> 
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                    <p class="center-align">
                        <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 
                    
                      </p>
                      <!-- Modal Structure -->
                    <div id="enquire" class="modal modal-fixed-footer">
                        <app-search-enquire></app-search-enquire>
                    
                    </div>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Glimpse of Kenya Safari<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
              </div>


              <div class="col s12 m4">
                  <div class="card small">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/orderd/ct-rom-sayc.png">
                        <span class="card-title">SEYCHELLES</span> 
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                        <p class="center-align">
                            <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 
                        
                          </p>
                          <!-- Modal Structure -->
                        <div id="enquire" class="modal modal-fixed-footer">
                            <app-search-enquire></app-search-enquire>
                        
                        </div>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Mara Experience Safari<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>


       </div>
      </div>
  </div>
</section>




    

