
  
  <section>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="assets/image/maraguroute1.jfif">"> 
            <div class="caption center-align">
           </div>
          </li>
          <li>
            <img src="assets/image/maraguroute.jpg">">
            <div class="caption left-align">
               </div>
          </li>
          <li>
            <img src="assets/image/maraguroute2.jpg"> 
            <div class="caption right-align">
               </div>
          </li>
       
        </ul>
      </div>
  </section>
  
  <br>
  <br>

<section id="holidays" class="section section-popular">
  <div class="container">
      <div class="row">
          
          <div class="col s12">
                  <ul class="tabs tabs-fixed-width tab-demo ">              
                      <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                  </ul>
                </div>
  
 <div id="Highlights" class="col s12 m12">                   
              
    <div class="container">
      
        <p class="center">Enjoy the white sandy beaches of Mombasa with unforgettable safari experience in Tsavo West National Park.</p>
   
     <ul class="collapsible">

 <li>
      <div class="collapsible-header">      
          <h6>Tour Code</h6>
        <span class=" badge green darken-4 white-text">EH-208</span></div>
     
    </li>

    <li>
        <div class="collapsible-header">
            <h6>Tour Name</h6>
          <span class=" badge green darken-4 white-text">	
              Trekking Mount Kilimanjaro – Maragu Route</span></div>
      
      </li>

      <li>
          <div class="collapsible-header">
             <h6> Country</h6>
            <span class=" badge green darken-4 white-text"> 	
                Tanzania</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
               <h6> Capital City</h6>
              <span class=" badge green darken-4 white-text">	
                  Kilimanjaro </span></div>
          
          </li>

   
   

        <li>
            <div class="collapsible-header">
              <h6>Validity</h6>
              <span class=" badge green darken-4 white-text">	               	
                   
                  Jan. 1, 2018 – Dec. 31, 2018</span></div>
          
          </li>

          <li>
              <div class="collapsible-header">
                <h6>Duration</h6>
                <span class=" badge green darken-4 white-text">		
                    7 DAYS/6 NIGHTS </span></div>
            
            </li>
            <li>
                <div class="collapsible-header">
                  <h6>Starting Point</h6>
                  <span class=" badge green darken-4 white-text">Kilimanjaro  </span></div>
              
              </li>
              <li>
                  <div class="collapsible-header">
                    <h6>Ending  Point</h6>
                    <span class=" badge green darken-4 white-text"> Kilimanjaro </span></div>
                
                </li>
  </ul>

</div>
                        
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>

  
    </div>


                <div id="Itinerary" class="col s12 white-text">
                     
                          <div class="container green darken-4">
                              <ul class="collapsible popout" data-collapsible="accordion">
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Kilimanajaro</div>


                                    <div class="collapsible-body">
                                        <p> 
                                            Arrival at Kilimanjaro International Airport. You will be welcomed by our representative and transferred to your Hotel.</p>

                                    </div>
                                  </li>


                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2:Marangu Gate (6000 ft) – Mandara Hut (9,000 ft)  </div>
                                    <div class="collapsible-body">

                                     <p>
                                        Hiking time: 4 hours Habitat: Montane forest Leave Moshi town about 0900hrs and drive to about 45 minutes 
                                        to Marangu Gate on the eastern side of Kilimanjaro. Do the necessary paperwork at the park gate such as 
                                        registrations. Begin hiking at about 1030hrs. Hike through rainforest from the park gate (6000 ft) to 
                                        Mandara Hut (9000 ft), taking about 4 hours. Stop half way for lunch. Reach Mandara Huts at about 2 or 
                                        3 PM. Unpack, rest and have some tea or coffee. Dinner is served during early evening, about 7 PM. A side
                                         trip to Maundi Crater (about 15 minutes away) is a
                                         good way to see the surroundings as well as views of Kenya and Northern Tanzania. Bathrooms are available with running water.</p>
                                    </div>
                                  </li>


                                  <li>
                                <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3:   Mandara Hut (9,000 ft) – Horombo Huts (12,000 ft)     </div>
                                    <div class="collapsible-body">

                                          <p>
                                       
                                            Hiking time: 6 hours
                                           </p>
                                           <p>

                                            Habitat: Heathland
                                          </p>

                                   <p>
                                      Wake to breakfast (approx. 7:30 am) and pack for the next leg. Break camp at about 8:30am and hike to
                                       Horombo Huts (12,000 ft). This leg should take 5 to 6 hrs. You travel through lower heath land with 
                                       small shrubs being the main vegetation. Stop half way for lunch. Views of Mawenzi are amazing. The
                                        summit of Kibo can be seen from Horombo Huts. Arrive Horombo
                                       Huts at about 3 PM. Rest, unpack and prepare for dinner. Bathrooms are available with running water.</p>
                                    </div>
                                  </li>

                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4:  Horombo Huts (12,000 ft) – Kibo Huts (15,500 ft)   </div>
                                          <div class="collapsible-body">
                                                <p>
                                                  Hiking time: 7 hours
                                                 </p>

                                                 <p>
                                                    Habitat: Alpine Desert
                                                </p>
      
                                         <p>Wake to breakfast as usual (if you wake before sunup you can get some great photos of the sunrise).
                                            Pack and begin the hike to Kibo Huts (15,500 ft). The first half of the day’s hike traverses the 
                                            upper heath land while the second half crosses the vast saddle that connects Mawenzi and Kibo.
                                             The saddle is an alpine desert that resembles a lunar landscape. Be careful to notice signs
                                              of altitude sickness. The day’s hike should take 6 to 7 hours, stopping half way for lunch.
                                               No running water at Kibo Huts.</p>
                                          </div>
      
           </li>
      
           <li>
              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5: SUMMIT DAY (19,340 ft)     </div>
                  <div class="collapsible-body">

                      <p>
                          Hiking time: 7 hours
                         </p>

                         <p>
                            Habitat: Alpine Desert
                        </p>

                <p>Wake at around midnight to a light breakfast, and then prepare for the summit ascent. This part of the hike
                   is carried out during the early morning before dawn so that the climbers reach Uhuru Peak at around sunrise.
                   Leave at about 1:00am and reach Gilman’s Point at about 7:00am. The climbers are met with views of the crater
                   from Gilman’s Point because it is on the Crater Rim. Another 2 hours of hiking brings the climber to UhuruPeak
                   (19,340 ft) at about 8:30 am. From there you will descend back to Kibo Huts, collect your things and cross the 
                   saddle again at Horombo Huts where you will spend the night. Eat dinner and get some well-deserved sleep.</p>
                  </div>
                     
                
                </li>

                <li>
                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6: Descending from Horombo to the Marangu Gate  </div>
                        <div class="collapsible-body">
      
                          <p>Wake as usual, pack and descend to Mandara Huts. Take lunch there and continue on to the park gate where you will be 
                            met by your transport back to Moshi. You should reach the park gate around 2 or 3 PM. Wake as usual, pack and descend 
                            to Mandara Huts. Take lunch there and continue on to the park gate where you will be met by your transport back to Moshi.
                             You should reach the park gate around 2 or 3 PM. You now drive back to Moshi for a long overdue hot shower, Overnight 
                             in Springlands hotel. It is recommended and tips are highly appreciated at the end of their trip. Tips can be given to 
                             the Guide at Springlands Hotel. This is also where successful climbers receive their summitcertificates. Those climbers 
                             who reached Stella Point (5685m) 
                            are issued with green certificates and those who reached UhuruPeak (5895m) receive gold certificates. Dinner included.

                            </p>
                        </div>
                      </li>

                      <li>
                          <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6: Departure  </div>
                              <div class="collapsible-body">
            
                                <p>Depart for the airport or other destinations in Tanzania or Kenya. Zanzibar is

                                 a good way to recuperate. Other trips around Moshi and Kilimanjaro region can be arranged at reasonable price.
      
                                  </p>
                              </div>
                            </li>
           
     
             
                  </ul>      
                  </div>
                          
                  </div>


                  <div id="Included" class="col s12">
                    <div class="container">

                   
                      <ul class="collection with-header">

                          <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                          <li class="collection-item"><i class="material-icons ">check</i> National Park gate Fees.</li>                       
                          <li class="collection-item"><i class="material-icons ">check</i> Transport from Moshi to starting point on mountain and return to Moshi.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Transfer to and from Kilimanjaro Airport.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Hut/camping fees and tents.</li> 
                          
                          <li class="collection-item"><i class="material-icons ">check</i> Certified, experienced, English-speaking guides for all routes.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Park entry fees.
                            </li> 

                            <li class="collection-item"><i class="material-icons ">check</i> Porters’ Salaries.</li>
                            <li class="collection-item"><i class="material-icons ">check</i> Rescue fees (required by the national Park).
                              </li> 
                              <li class="collection-item"><i class="material-icons ">check</i> All Meals on the mountain</li>
                            <li class="collection-item"><i class="material-icons ">check</i> Two nights’ accommodation on full board basis, double or triple occupancy.
                              </li> 

                              <li class="collection-item"><i class="material-icons ">check</i> Tents foam sleeping pads, cooking equipment’s and eating utensils.</li>
                              <li class="collection-item"><i class="material-icons ">check</i> Ox-meters are available upon request.</li>
                             
                        </ul>
                   
     
                    </div>
                        
                     
              
                      </div>

                      <div id="Excluded" class="col s12">
                          <div class="container">

                              <ul class="collection with-header">

                                  <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                  <li class="collection-item"><i class="material-icons ">cancel</i>International and local flight.</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Tips for Guides and porters.</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Mountain equipment (eg sleeping bags).</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Some equipment is available for rent at the site.</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Travel Insurance.</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Any personal expenses and costs not mentioned above.</li> 
                                   </ul>
                             
        
                            </div>
                    
                    </div>
                    
                      
  
                        </div>
  </div>
  </section>
  

