



<section>
  <div class="row">
    <img class="responsive-img" src="assets/orderd/timket2.jpg">
  </div>
</section>




<!-- 

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/london.jfif">"> 
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/paris.jfif">">
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/londonn.jfif"> 
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/southafricaa.jfif">
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>
</section> -->

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

              <div id="Highlights" class="col s12 m12">                   
            <p class="center">Timket (Epiphany) is celebrated throughout Ethiopia on January 19. Be part of this festive event!</p>

  <div class="container">
   <ul class="collapsible">
  <li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class="new badge ">EH-3101</span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class="new badge">	
          Timket Festival</span></div>
    
    </li>

  <li>
      <div class="collapsible-header">
          <h6>Prices From</h6>
        <span class="new badge ">	
          USD 199.00</span></div>
    
    </li>
    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class="new badge  darken-4">Ethiopia</span></div>
      
      </li>
      <li>
        <div class="collapsible-header">
          <h6>Capital City</h6>
          <span class="new badge">	
            Addis Abeba</span></div>
      
      </li>

      <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class="new badge">	
              Jan. 1, 2019 – Jan. 31, 2019</span></div>
        
        </li>
</ul>

</div>
                      
<br>
 
<p class="center-align">
    <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

  </p>
  <!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
    <app-search-enquire></app-search-enquire>

</div>

  <table class="responsive-table striped highlight center">
    <thead>
      <tr>
          <th>ITINERARY</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Duration Point:</td>
        <td>02DAYS/ 01 NIGHTS</td>
      </tr>
      <tr>
        <td>Starting Point:</td>
        <td>Addis Abeba</td>
      </tr>
      <tr>
        <td>Ending Point:</td>
        <td>Addis Abeba</td>
      </tr>
    </tbody>
  </table>
        


                        


              </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Arrival</div>
                                 <div class="collapsible-body">

                                 <p> On arrival in Bole International Airport, meet, assist and transfer to your hotel. After breakfast, proceed for a half day sightseeing tour of Addis Ababa which includes National Museum and the Holy Trinity Cathedral.  <br><br>

                                    After Lunch, you will be able to attend colorful procession of the Ethiopian Epiphany or “Ketera” in Addis Ababa. In this procession, the replicas of the Original Ark (Tabots) from different churches will be taken and are carried by priests under huge colorful umbrellas; Deacons also carry processional crosses, religious paintings and bells. In the occasion, a lot of people will sing, dance and ululates accompanying the Tabots all the way to the place where the Tabots are supposed to make their Overnight.
                                    
                                 <br>   Meal Plan: Breakfast, Lunch & Dinner                                                 Overnight: 4* Hotel

                                      </p>
                                  
                                  </div>
                                </li>
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: Addis Abeba</div>
                                  <div class="collapsible-body">

                                  
                                          <p>Today is main day for the celebration of the Ethiopian Epiphany. Therefore, you will have a chance to see the sprinkling of the blessed holy water in remembrance of the baptism of Jesus Christ in the river Jordan in the hands of John. The Tabots (the replicas of the original Ark) are also carried back to their respective churches. Late in the afternoon, you will be at leisure. In the evening, we invite you to a memorable farewell dinner in a traditional restaurant with music and dance. 

                                       <br><br>     Meals Plan: Breakfast, Lunch and Dinner                                                    Overnight:  Hotel 4*</p> 
                                          
                                  </div>
                                </li>
                            


                              </ul>
                          
                            </div>
                        
                </div>
                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">

                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i>  4* accommodation double/twin Bed basis</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Meal: full board basis</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Attending 2 days epiphany ceremony in Addis Ababa</li> 
                        <li class="collection-item"><i class="material-icons ">check</i>Half-day Addis Ababa city tour.</li>
                        <li class="collection-item"><i class="material-icons ">check</i> English speaking guide service.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>All ground transportation</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Transfer from/to airport.</li>                                                                                           
                    </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">

                            <ul class="collection with-header">
                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">check</i> Any other expenses which are not mentioned on price include section</li>
                                <li class="collection-item"> Important Note</li>
                                <li class="collection-item"><i class="material-icons ">check</i> Ground service price is per person on sharing bases</li> 
                                <li class="collection-item"><i class="material-icons ">check</i>Single Room Supplement: 50.00 USD</li>
                                <li class="collection-item"><i class="material-icons ">check</i> Extra night Room Price : 60.00 USD per person.</li>
                                <li class="collection-item"><i class="material-icons ">check</i>All ground transportation</li>
                                <li class="collection-item"><i class="material-icons ">check</i>For any extension tour request: <a href="ethiopianholidays@ethiopianairlines.com" >ethiopianholidays@ethiopianairlines.com</a> </li>
                                                                                                                      
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>

