

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/garden.jpg">"> 
          <div class="caption center-align">
            
          </div>
        </li>
        <li>
          <img src="assets/image/captownactivity.jpg">">
          <div class="caption left-align">
          </div>
        </li>
        <li>
          <img src="assets/image/robin.jpg"> 
          <div class="caption right-align">
          </div>
        </li>
    
      </ul>
    </div>
</section>

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

<div id="Highlights" class="col s12 m12">                   
            
  <div class="container">
    
      <p class="center">Cape Wine land tours with to Garden routes Oudtshoorn, famous for its ostriches and the magnificent Cango Caves, 
        and village of Knysna and the Knysna Waterfront and Mossel Bay will follow on this tour.</p>
 
   <ul class="collapsible">

<li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class=" badge green darken-4 white-text">EH-310</span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class=" badge green darken-4 white-text">Wine & Garden Route Grandeur</span></div>
    
    </li>

    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class=" badge green darken-4 white-text">South Africa</span></div>
      
      </li>

      <li>
          <div class="collapsible-header">
             <h6> Capital City</h6>
            <span class=" badge green darken-4 white-text">     	
                Cape Town</span></div>
        
        </li>

 
 

      <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class=" badge green darken-4 white-text">	               	
                Jan 01, 2018 – Dec. 31, 2018</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
              <h6>Duration</h6>
              <span class=" badge green darken-4 white-text">		
                  8 DAYS/ 7 NIGHTS </span></div>
          
          </li>
          <li>
              <div class="collapsible-header">
                <h6>Starting Point</h6>
                <span class=" badge green darken-4 white-text">Cape Town  </span></div>
            
            </li>
            <li>
                <div class="collapsible-header">
                  <h6>Ending  Point</h6>
                  <span class=" badge green darken-4 white-text">Cape Town  </span></div>
              
              </li>
</ul>

</div>
                      
<br>
<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>

  </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1:Cape Town</div>


                                  <div class="collapsible-body">
                                      <p>On arrival in Cape Town you will be met and transferred to your hotel. Settle into your hotel and relax after your flight.</p>

                                  </div>
                                </li>


                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: Cape Town</div>
                                  <div class="collapsible-body">

                                   <p>In the Morning depart on a scheduled full day tour of the Cape Peninsula. Highlights include Seal Island Hout Bay:
                                     Trips departing from Hout Bay Harbour ferry passengers across to nearby Duiker Island – also known as Seal Island 
                                     – where thousands of Cape Fur Seals can be seen in their natural habitat. The boat trip provides beautiful views 
                                     of the bay, the harbour, The Sentinel and Chapman’s Peak. Chapman’s Peak Drive, it is one of the most spectacular
                                      marine drives anywhere in the world. The 9km route, with its 114 curves, skirts the rocky coastline of Chapman's
                                       Peak. The drive offers stunning 180° views with many areas along the route where you can stop and take in the 
                                       scenery or sit down for a relaxing picnic. Cape Point is a spectacular sight, covered in endemic fynbos and
                                        home to breathtaking bays, beaches and rolling green hills and valleys, just 60km outside of Cape Town. 
                                        Cape Point is open daily and is a must-see. The Boulders Visitor Centre is home to the famous colony of
                                         Jackass Penguins, so called for their hilarious braying call. This is a truly special experience.
                                          After you have fallen in love with the penguins head to the 
                                     secluded Boulders Beach and take a swim in the comparatively warm waters of the False Bay.</p>
                                  </div>
                                </li>


                                <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3: Cape Town</div>
                                  <div class="collapsible-body">

                                 <p>Depart on a scheduled half day tour of the Cape Winelands. Highlights include Wine tasting, 
                                   Cheese tasting and Stellenbosch. One of the Western Cape’s premier wine regions, Paarl is 
                                   home to a number of well-respected wine producers, including KWV, Laborie, Nederburg, 
                                   Fairview and Plaisir de Merle. A blend of historical architecture, student life, 
                                   epicurean delights and oak-lined avenues, Stellenbosch is a picturesque 
                                   university town surrounded by mountains and vineyards. A walking tour 
                                   of the town centre allows visitors to take in its beautifully preserved
                                    Cape Dutch and Victorian architecture, as well as the many enticing art 
                                    galleries, craft shops, clothing boutiques and gift stores, while foodies 
                                    may prefer indulging in mouth-watering cuisine and fine wines at one of the 
                                    chic restaurants or buzzing bistros. We will also visit Frenschhoek, a quaint
                                    wine farming town with a quiet but buzzing main road which is, in most years,
                                     home to 2 or 3 of the country's top 10 restaurants.</p>
                                  </div>
                                </li>

                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4: Oudtshoorn</div>
                                        <div class="collapsible-body">
                                          <p>After breakfast you will be met at the hotel to begin your Scheduled Garden Route journey. 
                                            Highlights include Du Toit's Kloof Pass, Oudtshoorn and much more... Oudtshoorn is famous 
                                            for its ostriches and the magnificent Cango Caves. Located along the renowned Route 62, 
                                            which takes motorists past one awe-inspiring sight after another, Oudtshoorn is known
                                             as the Ostrich Capital of the World. Other than ostriches and the wonderful feathers
                                              and meat they provide, the Oudtshoorn area also boasts the spectacular Cango Caves;
                                               the largest show cave system in Africa,
                                             permeated with sparkling stalactites and stalagmites and captivating rock formations.</p>
                                             <p>Overnight on a dinner, bed and breakfast basis at hotel</p>
                                        </div>
    
         </li>
    
         <li>
            <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5:  Oudtshoorn - Knysna</div>
                <div class="collapsible-body">

                  <p>Awake to the freshness of Karoo air. After a good breakfast, visit the world 
                    famous Cango Caves, one of the world's great natural wonders set at the foot 
                    of the Swartberg Mountain range for a guided tour. From here travel to the 
                    Cango Wildlife Ranch, an endangered species breeding facility extraordinaire.
                     Learn the facts and fiction about reptiles, other beautiful animals and the
                      opportunity for a personal cheetah encounter (optional) A short drive to 
                      the other end of Oudtshoorn brings us to ostrich country and lunch at the
                       Highgate Ostrich Show Farm to sample ostrich delicacies and to tour the 
                       estate. In the late afternoon travel over the Outeniqua Mountains which
                        offer exquisite views as we approach the coast towards Knysna. Here for
                         the first time one can now understand why this area is known as the Garden Route. 
                    As you drive over the summit of the pass, lush green vegetation awaits you.</p>
                    <p>Overnight on a dinner, bed and breakfast basis at hotel</p>

                </div>
              </li>

              <li>
                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6: Mossel Bay</div>
                      <div class="collapsible-body">
    
                        <p> The morning allows some time to enjoy the village of Knysna and the Knysna Waterfront. 
                          Thereafter depart on a guided boat trip on the Keurbooms River to experience the majesty 
                          of the Keurbooms River Nature Reserve, as the ferries glide over shimmering waters, 
                          through soaring gorges, to our picnic lunch stop along the banks of the Keurbooms River. 
                          In the late afternoon continue to Mossel Bay to visit the Post Office Tree and Diaz 
                          Museum where early pioneers left mail for the homebound ships to Europe.
                           Spend a relaxed afternoon at the swimming pool or take a leisurely stroll along the beach.</p>
                           <p>Overnight on a dinner, bed and breakfast basis at the Bay</p>
                      </div>
                    </li>

                    <li>
                        <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 7: Departure</div>
                            <div class="collapsible-body">
          
                              <p>The next morning, visit Botlierskop Private Game Reserve to enjoy breakfast
                                 before departing on a game drive. Experience close encounters with Rhinoceros,
                                  Lion, Buffalo, Giraffe, rare Black Impala and many more species in an exhilarating 
                                  three hour guided game viewing drive in an open vehicle over the 3000 ha reserve. 
                                  From the reserve travel via rolling hills to Swellendam, a town founded by the Dutch
                                   East India Company in 1745 to exercise control over independent frontiersmen who
                                    migrated over the Hottentots Holland Mountains at the beginning of the 18th century. 
                                    Enjoy lunch in this historical town, 
                                    then return to Cape Town via a scenic stop at one of the local farm stalls stocked with local delectable delights.</p>
                                    <p>Overnight on a bed and breakfast basis at the Hotel</p>
          
                            </div>
                          </li>

                          <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 8: Departure</div>
                                  <div class="collapsible-body">
                
                                    <p>After breakfast you will be met and transferred to Cape Town International Airport. 
                                      Nestled between the imposing Outeniqua Mountains and the Indian Ocean and surrounded 
                                      by world-renowned forests, Knysna offers a wealth of activities for visitors. The 
                                      beautiful lagoon and more than eight beaches provide opportunities to swim, surf, 
                                      canoe, yacht, jet-ski, boat, fish, walk on soft sand and take ferry rides. Various 
                                      markets offer organic goods, delicious food, indigenous plants and a social atmosphere. 
                                      Mountains, valleys, lakes, forests and streams are ready to be explored.</p>
                
                                  </div>
                                </li>

              
                            
                </ul>      
                </div>
                        
                </div>


                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">

                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i> Accommodation as per the itinerary.</li>                       
                        <li class="collection-item"><i class="material-icons ">check</i> Meals as per the itinerary (7 breakfast, 3 lunch, 3 dinner).</li>
                        <li class="collection-item"><i class="material-icons ">check</i> All transfers.</li>
                        <li class="collection-item"><i class="material-icons ">check</i> Scheduled Cape Point and Winelands Tour.</li> 
                      </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">

                            <ul class="collection with-header">

                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>  All flights.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i>  Visas.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i>  All meals, drinks and items not mentioned in includes.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i>  All items of a personal expense Tips and Gratuities.</li>                                                                                     
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>

