



<section>
    <div class="row">
      <img class="responsive-img" src="assets/orderd/ct-exp-run2.png">
    </div>
  </section>
  
  
  
  
  <!-- 
  
  <section>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="assets/image/london.jfif">"> 
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/paris.jfif">">
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/londonn.jfif"> 
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/southafricaa.jfif">
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>
  </section> -->
  
  <br>
  <br>
  
  <section id="holidays" class="section section-popular">
  <div class="container">
      <div class="row">
          
          <div class="col s12">
                  <ul class="tabs tabs-fixed-width tab-demo ">              
                      <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                  </ul>
                </div>
  
                <div id="Highlights" class="col s12 m12">                   
              <p class="center"> Join the greatest fun run in the world in the land of runners, Great Ethiopian Run 2018 with ET Holidays offer.

              <br>    The 10k event is the biggest running event in Africa with more than 40,000 participants, 500 elite runners and several hundred runners from overseas.
                  
                  Great Ethiopian Run marked the first time that a major annual 10 km race had been held in the country, renowned for producing world class runners.The run takes place in the capital city of Ethiopia, Addis Ababa, which is 8,000 feet above sea level making it a must do event in the running calendar. And More It’s been referred to as ‘the most exciting race in the world’; it is almost certainly one of the world’s noisiest, full of laughs races that switch the whole city to Carnival mode; and it attracts participants from all over the world.
                  
              <br>    Book this Fun with us and start with introduction to Beautiful Addis Ababa Nestled at the foot of Mount Entoto Addis Ababa enjoys a subtropical highland climate and the temperature is relatively constant throughout the year. your tour of the city will also include National Museum, Holy Trinity Cathedral in addition to sightseeing of the city.</p>
  
    <div class="container">
     <ul class="collapsible">
    <li>
      <div class="collapsible-header">      
          <h6>Tour Code</h6>
        <span class="new badge ">EH-103
  
        </span></div>
     
    </li>
  
    <li>
        <div class="collapsible-header">
            <h6>Hot Air Balloon Ride Tours</h6>
          <span class="new badge">	
              Ethiopian Great Run

            </span></div>
      
      </li>
  
  
      <li>
          <div class="collapsible-header">
             <h6> Country</h6>
            <span class="new badge  darken-4">Ethiopia</span></div>
        
        </li>
        <li>
          <div class="collapsible-header">
            <h6>Arrival City</h6>
            <span class="new badge">	
                Addis Ababa</span></div>
        
        </li>
        <li>
          <div class="collapsible-header">
            <h6>Package Price</h6>
            <span class="new badge">	
                Double/Twin Sharing basis: 250.00 USD/person

Single bed basis: 280.00 USD/Person</span></div>
        
        </li>
  
      
  </ul>
  
  </div>
                        
  <br>
  
   
  <p class="center-align">
      <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

    </p>
    <!-- Modal Structure -->
  <div id="enquire" class="modal modal-fixed-footer">
      <app-search-enquire></app-search-enquire>
  
  </div>


    <table class="responsive-table striped highlight center">
      <thead>
        <tr>
            <th>ITINERARY</th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <td>Duration :</td>
          <td>03DAYS/ 02 NIGHTS
  
          </td>
        </tr>
        <tr>
          <td>Starting Point:</td>
          <td>Addis Ababa</td>
        </tr>
        <tr>
          <td>Ending Point:</td>
          <td>Addis Ababa</td>
        </tr>
      </tbody>
    </table>
          
  
  
                          
  
  
                </div>
  
  
                <div id="Itinerary" class="col s12 white-text">
                     
                          <div class="container green darken-4">
                              <ul class="collapsible popout" data-collapsible="accordion">
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: 17 November/18 Addis Ababa</div>
                                   <div class="collapsible-body">
  
                                   <p>Arrive Addis Ababa at Bole International Airport. Meet and assist by ET Holidays representative and transfer to your hotel.P.M. 
                                     visit National museum, Trinity Cathedral.
                                      In the evening there will be a special pasta party in the presence of Athlete Haile Gebreselassie. Overnight at 4* hotel.</p>
                                    
                                    </div>
                                  </li>
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: 
                                      Addis – Lalibela</div>
                                    <div class="collapsible-body">
  
                                    
                                            <p>Race day! Participate in the Great Ethiopian Run 10k race. Participants will have the opportunity to meet and run with Ethiopian world-class athletes. 
                                              Dinner at traditional restaurant accompanied with cultural music and dance. Overnight at 4* hotel</p> 
                                            
                                    </div>
                                  </li>
                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3:  19 November/18 Departur</div>
                                      <div class="collapsible-body">
    
                                      
                                              <p>
                                                  A relaxing Breakfast and transfer to airport for outbound flight.  </p> 
                                              
                                      </div>
                                    </li>
                              
  
  
                                </ul>
                            
                              </div>
                          
                  </div>
                  <div id="Included" class="col s12">
                    <div class="container">
  
                   
                      <ul class="collection with-header">
                      
                          <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                          <li class="collection-item"><i class="material-icons ">check</i>   17th Nov/18: Addis Ababa city tour</li>
                          <li class="collection-item"><i class="material-icons ">check</i> 18th Nov/18: Race day </li>
                          <li class="collection-item"><i class="material-icons ">check</i>19th Nov/18: departure</li> 
                          <li class="collection-item"><i class="material-icons ">check</i>Breakfast, Lunch & Dinner</li>
                          <li class="collection-item"><i class="material-icons ">check</i>Guide, transport, entrance fee, cultural-show</li>
                          <li class="collection-item"><i class="material-icons ">check</i>2 nights hotel at 4*</li>                                                                                           
                      </ul>
                   
     
                    </div>
                        
                     
              
                      </div>
  
                      <div id="Excluded" class="col s12">
                          <div class="container">
                              Alcoholic Drinks,
                              Any other expenses which are not mentioned on price include section 
                              <ul class="collection with-header">
                                  <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                  <li class="collection-item"><i class="material-icons ">check</i> Alcoholic Drinks,</li>
                                  <li class="collection-item"><i class="material-icons ">check</i> Any other expenses which are not mentioned on price include section </li> 
                                                                                                                        
                              </ul>
                             
        
                            </div>
                    
                    </div>
                    
                      
  
                        </div>
  </div>
  </section>
  
  