

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/mombasa.jpg">"> 
          <div class="caption center-align">
          </div>
        </li>
        <li>
          <img src="assets/image/mombasa1.jpg">">
          <div class="caption left-align">
       </div>
        </li>
        <li>
          <img src="assets/image/mombasa3.jpg"> 
          <div class="caption right-align">
         </div>
        </li>
      
      </ul>
    </div>
</section>

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

              <div id="Highlights" class="col s12 m12">                   
            

  <div class="container">

    <p class="center">
        Enjoy the white sandy beaches of Mombasa with unforgettable safari experience in Tsavo West National Park.
    </p>
   <ul class="collapsible">
  <li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class=" badge green darken-4 white-text">ETMBA-25</span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class=" badge green darken-4 white-text">	
            Beach and Bush Mombasa</span></div>
    
    </li>

    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class=" badge green darken-4 white-text">Kenya</span></div>
      
      </li>

      
    <li>
        <div class="collapsible-header">
           <h6> Capital City</h6>
          <span class=" badge green darken-4 white-text">Mombasa</span></div>
      
      </li>


      <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class=" badge green darken-4 white-text">	
                Jan. 1, 2018 – Dec. 31, 2018</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
              <h6>Duration</h6>
              <span class=" badge green darken-4 white-text">	
                  5 DAYS/4 NIGHTS</span></div>
          
          </li>

          <li>
              <div class="collapsible-header">
                <h6>Starting Point</h6>
                <span class=" badge green darken-4 white-text">Mombasa</span></div>
            
            </li>

            <li>
                <div class="collapsible-header">
                  <h6> Ending Point</h6>
                  <span class=" badge green darken-4 white-text">Mombasa</span></div>
              
              </li>
</ul>

</div>
                      
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>


              </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Mombasa</div>


                                  <div class="collapsible-body">

                          

                                  <p> Arrive in Mombasa in the afternoon, Meet and greet at Sarova Whitesands airport desk and transfer to the Sarova Whitesands.
                                     Having checked in at Sarova Whitesands take a leisurely evening walk on the lawns along the beach following the foot prints,
                                      discover the spa or chill out at cocos beach bar with daily evening. Entertainment.1900 hrs Dinner at pavilions restaurant.
                                       Located at Bamburi beach, 
                                    north coast of Mombasa , Savora whitesands beach resort is one of the largest hotels in the Northern stretch of the coast.</p>


                                  </div>
                                </li>
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: Tsavo West National park</div>
                                  <div class="collapsible-body">

                                      
                                          <p>7.00 am Full English breakfast at pavilions restaurant. 8:30 am Drive to Tsavo West National park and check in at Sarova 
                                            taita hills Lodge. 
                                            The Lodge is located in the wildlife sanctuary inside the park. Gam e drive in the afternoon. O/N at Taita hills Lodge.</p> 


                                  </div>
                                </li>
                                <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3: Tsavo West National park</div>
                                  <div class="collapsible-body"><ul>

                                     

                                      <p>6:30 am early morning game drive. Breakfast at Sarova saltlick. Return to Sarova Taita for Lunch and 
                                        afternoon Check out and transfer to Saltlick. Late afternoon game drive. Dinner at saltlick. Game viewing 
                                        from the restaurant and the tunnel . The Sanctuary is home to more than 50 species of mammals and over 300 
                                        species of birds. These include elephant, lion, cheetah, leopard, buffalo, 
                                        giraffe, zebra, ostrich, eagles, vultures and much more. Overnight at Sarova saltlick games lodge.</p> 
                                      

                                    </ul>
                                  </div>
                                </li>

                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4: Mombasa</div>
                                        <div class="collapsible-body"><ul>
                                
                                            <p>Early breakfast and drive to Mombasa for a city tour through town to the elephant tusks, mama ngina drive, fort Jesus, Mombasa golf club Visit the floating market. 
                                              Stop over for Shopping at Nakumatt . return for lunch at Sarova whitesands and check in. Afternoon at own leisure .</p> 
                                          
                                          </ul>
                                        </div>
    
         </li>
    
         <li>
            <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5: Mombasa</div>
                <div class="collapsible-body">

                      
                    <p>Breakfast at pavilions. Morning at leisure-visit Bombolulu workshops for purchase of gift Items- precooked for transport to be 
                      arranged. 
                      Return to the hotel in time for lunch and check out. Transfer to Airport for your flight with unforgettable memories of Mombasa.</p> 
                     
               
                </div>
              </li>
                              </ul>
                          
                            </div>
                        
                </div>
                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">

                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i>Full board accommodation at all the 3 hotels.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Soft drinks during meals.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Airport transfer to Sarova whitesands.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>2 game drives at the lodges.</li> 
                        <li class="collection-item"><i class="material-icons ">check</i>Bombolulu workshops transport on prebooked visits prior to check in, inclusive of all taxes.</li>
                                                                                                                 
                    </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">

                            <ul class="collection with-header">

                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Alcoholic drinks.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Expenses of personal nature and other costs not mentioned under inclusion.</li>
                                                                                                                     
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>


