

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/victoria1.jpg">"> 
          <div class="caption center-align">
             </div>
        </li>
        <li>
          <img src="assets/image/victoria2.jpg">">
          <div class="caption left-align">
             </div>
        </li>
        <li>
          <img src="assets/image/victoria3.jpg"> 
          <div class="caption right-align">
             </div>
        </li>
    
      </ul>
    </div>
</section>

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

              <div id="Highlights" class="col s12 m12">                   
            

  <div class="container">

   <ul class="collapsible">
  <li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class="new badge green darken-4">EH-308</span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class="new badge green darken-4">	
            Victoria Falls Tour</span></div>
    
    </li>

    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class="new badge green darken-4">Zimbabwe </span></div>
      
      </li>

      <li>
          <div class="collapsible-header">
             <h6> Capital City</h6>
            <span class="new badge green darken-4">Victoria Falls</span></div>
        
        </li>


      <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class="new badge green darken-4">	
                Jan. 1, 2018 – Dec. 31, 2018</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
              <h6>Duration</h6>
              <span class="new badge green darken-4">4 DAYS/ 3 NIGHTS</span></div>
          
          </li>

          <li>
              <div class="collapsible-header">
                <h6>Starting Point</h6>
                <span class="new badge green darken-4">	Victoria Falls</span></div>
            
            </li>

            
        <li>
            <div class="collapsible-header">
              <h6>Ending Point</h6>
              <span class="new badge green darken-4">	Victoria Falls </span></div>
          
          </li>


</ul>

</div>
                      
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>





                        


              </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Transfer airport - hotel</div>


                                  <div class="collapsible-body">                                 
                                  <p> Arrival at Victoria Falls International Airport, meet & greet by Ethiopian 
                                    Holidays tour representative and transfer to your hotel for check in. This
                                     afternoon we enjoy a sunset Cruise on the Zambezi River, a few kilometers
                                      above the mighty Victoria Falls themselves. With binoculars and cameras
                                       at the ready we have a good chance of spotting hippo, crocodile, and 
                                       various species of antelope as well as elephants that come down sunset 
                                       with a test of Vic Falls Dinner. Overnight: Hotel
                                      </p>

                                      <p>Meals: Cruise Dinner</p>

                                  
                                  </div>
                                </li>
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: The Amazing Victoria Falls</div>
                                  <div class="collapsible-body">

                   
                                          <p>Today we visit the spectacular and one of the seven Natural wonders of the world Victoria Falls, 
                                            enjoy a guided tour of the Victoria Falls, also known by the local name of “Mosi-oa Tunya”
                                            (the smoke that thunders). The walking safari takes you through the magnificent rain forest
                                             to view the cataracts, Livingstone’s statue and a wide variety of birds and plants. The falls 
                                             are massive and invite contemplation from many different viewpoints. You are invited to walk around the
                                             area and enjoy vistas. Raincoats are provided when needed. In the evening you will have Traditional Bomma Dinner.</p> 
               
                                        <p> Meals: Breakfast, Lunch</p>
                                        <p> Overnight: Hotel</p>

                                       
                                  </div>
                                </li>
                                <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3: Days at Leisure with optional Activities and Game Drive</div>
                                  <div class="collapsible-body">

                                      <p>Breakfast at the hotel and spend the day at your pace enjoying the city of marvellous waterfall.</p>

                                         <p> Meals: Breakfast, Lunch</p>

                                  
                                  </div>
                                </li>

                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4:Return</div>
                                        <div class="collapsible-body">
                                     
    
                                            <p>After breakfast, enjoying your free morning at leisure or explore Victoria 
                                              Falls Local market until transfer to the airport. Check out from hotel at noon and transfer to airport.</p> 
                                            
                                               <p>Meals: Breakfast</p>
                                           
    
                                          
                                        </div>
    
         </li>
    
      
                              </ul>
                          
                            </div>
                        
                </div>
                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">

                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i>3 Night accommodation with Breakfast in 4* Hotel</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Meal: per the itinerary.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Airport/Hotel Transfer.</li>                          
                        <li class="collection-item"><i class="material-icons ">check</i>Entrance fees to sites.</li>  
                        <li class="collection-item"><i class="material-icons ">check</i>Sun Set Cruise with Dinner.</li>  
                        <li class="collection-item"><i class="material-icons ">check</i>Guided tour of Victoria Falls International with Lunch.</li>                                                                                           
                        <li class="collection-item"><i class="material-icons ">check</i>Ground Transportation.</li>  
                      </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">

                            <ul class="collection with-header">

                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>International flight.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Visa fee.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Health insurance.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i> Any type of personal expenses and any expenses not mentioned in the above "included" list.</li>
                  
                                                                                                                     
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>

