

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/nosy1.jpg">"> 
          <div class="caption center-align">
              </div>
        </li>
        <li>
          <img src="assets/image/nosy2.jfif">">
          <div class="caption left-align">
            </div>
        </li>
        <li>
          <img src="assets/image/nosy3.jpg"> 
          <div class="caption right-align">
             </div>
        </li>
      </ul>
    </div>
</section>

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

              <div id="Highlights" class="col s12 m12">                   
            

  <div class="container">
    
      <p class="center">Tour to ‘The Smoke that Thunders’ the Spectacular natural wonders of the world</p>
 
   <ul class="collapsible">

<li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class=" badge green darken-4 white-text">EH-309</span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class=" badge green darken-4  white-text">EssenceNosy Be</span></div>
    
    </li>

    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class=" badge green darken-4  white-text">Madagascar</span></div>
      
      </li>

      <li>
          <div class="collapsible-header">
             <h6> Capital City</h6>
            <span class=" badge green darken-4  white-text">     Nosy Be</span></div>
        
        </li>
 

      <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class=" badge green darken-4  white-text">Mar27, 2018 – Dec. 31, 2018</span></div>
        
        </li>
        <li>
            <div class="collapsible-header">
              <h6>Duration</h6>
              <span class=" badge green darken-4  white-text">	6 DAYS/5 NIGHTS</span></div>
          
          </li>
          <li>
              <div class="collapsible-header">
                <h6>Starting Point</h6>
                <span class=" badge green darken-4  white-text">Nosy Be</span></div>
            
            </li>
            <li>
                <div class="collapsible-header">
                  <h6>Ending  Point</h6>
                  <span class=" badge green darken-4  white-text">Nosy Be</span></div>
              
              </li>
</ul>

</div>
                      
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>





                        


              </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Transfer airport- hotel</div>


                                  <div class="collapsible-body">
                                    <ul>

                                      <li>Meet and greet</li>
                                      <li>Arrival at the hotel</li>
                                      <li>Welcome cocktail</li>
                                      <li>Lunch at the hotel</li>
                                      <li>Overnight at the hotel in double room / full board</li>
                                    </ul>

                                  </div>
                                </li>
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: Island Nosy Be Tour, east to west</div>
                                  <div class="collapsible-body">

                                      <ul>

                                          <li>Breakfast at the hotel.</li>

                                          <li>Departure from the hotel at 08h00 This tour allows you to discover the inside of Nosy Be.
                                             Among other highlights, you’ll visit the remnants of the SIRAMA sugar factory in Dzamandzar. 
                                             In the center of Nosy Be, Hellville boasts nice colonial buildings and a nice local market.
                                          </li>
                                          <li>
                                              A little outside Hellville, you’ll be able to enjoy the sight of the sacred Banyan tree among
                                               the many perfumes of coffee, pepper, vanilla and Ylang Ylang along the way. You’ll end the 
                                               tour with a visit of Mont Passot, the highest site in Nosy Be, from which you’ll be able to
                                                enjoy the sunset before going back to the hotel.
                                              </li>
                                          <li>
                                              Picnic lunch during the excursion
                                          </li>

                                          <li>
                                              Overnight at the hotel in double room / full-board
                                           </li>
                                              
  
                                        </ul>
                                  </div>
                                </li>
                                <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3: Nosy Komba and Tanikely islands</div>
                                  <div class="collapsible-body"><ul>

                                      <li>Breakfast at the hotel</li>

                                        <li> Departure at 08h00, will embark on a mini-cruise aboard a catamaran to enjoy the two 
                                          slands near Nosy be. Nosy Komba, your first stop, is the second biggest island of the area
                                           behind Nosy Be. It’s a traditional fishermen’s village with a handicraft market, where one
                                           can shop for sculptures and traditional table clothes. Nosy Komba is also famous for its
                                            small Lemurs’ park. Afterwards, you’ll get to Nosy Tanikely (literally, « little land 
                                            island »), a marine reserve that shelters all kinds of multi-colored fish, corals, 
                                            anemones, and even sea turtles. Snorkeling (equipment provided) in Nosy Tanikely is 
                                            a truly unique experience, as one feels as if inside a real life-size aquarium. 
                                            The seafood picnic lunch will take place on the catamaran after the snorkeling session.</li>

                                      <li>                                        
                                      Picnic lunch during the excursion
                                            </li>

                                   <li>Overnight at the hotel in double room / full- board
                                           </li>
                                    </ul>
                                  </div>
                                </li>

                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4:  Leisure Time at Vanila Hotel</div>
                                        <div class="collapsible-body"><ul>
                                            <ul>

                                                <li>Breakfast at the hotel</li>
                                                <li>Leisure at beach</li>
                                                <li>Lunch at the hotel</li>
                                                <li>Massage and SPA</li>
                                                <li>Overnight in double room / full-board</li>
                                              </ul>
                                               
                                           
    
                                          </ul>
                                        </div>
    
         </li>
    
         <li>
            <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5: Transfer hotel- airport</div>
                <div class="collapsible-body">

                    <li>Breakfast at the hotel.</li>

                    <li>Transfer to the airport.</li>

                </div>
              </li>

              

                              </ul>
                          
                            </div>
                        
                </div>
                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">

                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i>International Flight.</li>                       
                        <li class="collection-item"><i class="material-icons ">check</i>4 Night 5 Days Hotel accommodation at Vanila hotel.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>All ground transportation.</li>
                        <li class="collection-item"><i class="material-icons ">check</i> Meals per the itinerary / full-board.</li> 
                        <li class="collection-item"><i class="material-icons ">check</i> All Entrance fees.</li> 
                        <li class="collection-item"><i class="material-icons ">check</i> Local Guide.</li>                                                                                            
                    </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">

                            <ul class="collection with-header">

                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">cancel</i> Travel Insurance.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Personal Expenses.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Visa.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i>Any cost not included in the price Include part.</li>
                                                                                                                      
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>

