   <div class="container">
     <div class="row">
       <h5>General:</h5>
    <p class="">This ethiopianairlines.com website is owned and operated by Ethiopian Airlines Group (ETHIOPIAN),
   whose head office is at Ethiopian Airlines Group Headquarters, P.O Box 1755, Addis Ababa, Ethiopia.
    We understand that online booking involves significant trust on your part. We value your trust, 
    and make it a high priority to ensure the security and confidentiality of the personal information you provide to us. 
    Please read this policy to learn about our privacy practices.
   By visiting this website, you are accepting the practices described herein.</p>

     <hr>
     </div>
     <div class="row">
        <h5>
            Information Collection
        </h5>
     <p class="">
        Generally, ETHIOPIAN collects customer data, either directly from you or from third parties (e.g., your travel agent or our service provider),
         or from publicly available sources, through our website, mobile services, and other channels including our ticketing counters, 
         call center and airport operations,  in order to fulfil the following purposes, which include but are not limited to:
     </p>

     <ul class="ul-padding">
       <li> <p class=""><i class="material-icons ">check_circle</i> Providing services to you such as processing a transaction (e.g., making a booking), 
         providing technical assistance, assisting you in the transaction, providing flight alert messages through ETHIOPIAN’s mobile services facility,
          facilitating internet check-in and self -check-in, 
         registering for and administering ETHIOPIAN’s frequent flyer programme, and responding to your enquiries or requests </p> 
        </li>

        <li> <p class=""><i class="material-icons ">check_circle</i>
          Providing airport services such as processing information
           relating to connecting flights, arrangements at airports, and customs and immigration facilities; </p> 
        </li>

        <li> <p class=""><i class="material-icons ">check_circle</i>
          Providing baggage related services such as processing of any baggage related queries, including mishandled or missing baggage claims; </p> 
        </li>

        <li> <p class=""><i class="material-icons ">check_circle</i>
          Providing in-flight catering and other services that best meet your preferences and needs (which we may collect during our interactions with you); </p> 
        </li>

        <li> <p class=""><i class="material-icons ">check_circle</i>
          Marketing and communicating with you in relation to products and services offered by ETHIOPIAN, ETHIOPIAN‘s and service partners, as well as ETHIOPIAN’s appointed agents;
        </p> 
        </li>

        <li> <p class=""><i class="material-icons ">check_circle</i> 
          Contacting you for product or customer satisfaction surveys;</p> 
        </li>

        <li> <p class=""><i class="material-icons ">check_circle</i>
          Research and analytics purposes, including market research; and </p> 
        </li>

        <li> <p class=""><i class="material-icons ">check_circle</i>
          Safety, security and legal compliance. </p> 
        </li>

        <li> <p class=""><i class="material-icons ">check_circle</i> 
          Develops tour  packages ( Holiday programs) based on seasons and occasions and get   the ground services provided.</p> 
        </li>
      </ul>

      <p class=""> We want you to feel confident about using this website to make travel arrangements, and we are committed to protecting the information we collect.</p>
      <p class="">We collect personal data such as your name, address, date of birth, telephone numbers, email address, flight details, credit card/bank account details, 
        frequent flyer membership details and any special assistance or dietary requirements to provide service for you. 
        You retain the right to withhold any information from us but please be aware that some of our products and services may not be available to you if this information is not collected. </p>
     <hr>
      </div>






      <div class="row">
          <h5>
              Retention
          </h5>
       <p class="">    
          ETHIOPIAN will retain customer data for as long as it is necessary to fulfil the purpose for which it was collected,
          the legal or business purposes of ETHIOPIAN, or as required by relevant laws.
       </p>
   
       <p class="">    
          When destroying customer data, ETHIOPIAN will take commercially reasonable and technically possible measures to make the personal information irrecoverable or irreproducible 
          in accordance with the applicable laws and the data subject has the right to be forgotten.
       </p>
       <hr>
        </div>







        <div class="row">
            <h5>
              Information Use
            </h5>
         <p class="">
            We use the information about you for the following general purposes: 
            to provide you with the products and services you request; to provide you with travel confirmation and updates;
             to manage your booking, including processing bills and providing travel notifications; to communicate with you in general; 
             to respond to your questions and comments; to measure interest in and improve our products, services, and website;
              to notify you about special offers and products or services that may be of interest to you; to otherwise customize your experience with this website;
               to reward you as part of any reward and recognition program you choose to join; to solicit information from you, including through surveys;
                to resolve disputes, collect fees, or troubleshoot problems; to prevent potentially prohibited or illegal activities;
                 to enforce our Terms of Use; and as otherwise described to you at the point of collection
         </p>
     
         <hr>
          </div>




          <div class="row">
              <h5>
                  Where we Store Your Personal Data
              </h5>
           <p class="">
              ETHIOPIAN takes all reasonable steps to ensure that your data is treated securely and in accordance with this Privacy Policy. All information you provide to ETHIOPIAN is stored on ETHIOPIAN’s secure servers.
           </p>
           <p class="">
              Once ETHIOPIAN has received your information, ETHIOPIAN will use strict procedures and security features to try to prevent any unauthorized access.
           </p>
           <p class="">
              Information disclosure to third parties - ETHIOPIAN will not disclose your personally identifiable information to any third parties without your consent, however, we may disclose your personal information to law enforcement agencies and government for security, customs and immigration purposes, our lawyers and legal advisors for establishing, exercising or defending our legal right or others grounds provided in relevant laws.
           </p>
           <p class="">
              Email Communications. We want to make it easy for you to take advantage of travel-related opportunities on this website. One way we do this is by sending you email messages that contain information about your apparent travel-related interests. We believe these email messages will provide you with useful information about travel-related special offers available through our website.
           </p>
       
           <hr>
            </div>
      
<div class="row">
  <h5>
      Security
  </h5>
  <p class="">
      ETHIOPIAN will take appropriate steps to protect information you share with us. We take reasonable technical and organizational measures to safeguard the privacy of your personal information.
  </p>
  <hr>
</div>

      
<div class="row">
    <h5>
        Cookies
    </h5>
    <p class="">
        Our website may contain "cookies" so that ETHIOPIAN can better serve you with customized information to our website. Cookies are identifiers, which a web site can send to your browser to facilitate a user next visit on our website. You can set your browser to notify you when you are a sent a cookie, giving you the option to decide whether or not to accept it.
    </p>
    <hr>
  </div>
        
<div class="row">
    <h5>
        Links
    </h5>
    <p class="">
        Our website may contain links to other websites. Please be aware that ETHIOPIAN is not responsible for the privacy practices of websites not operated by ETHIOPIAN. We encourage our users to read the privacy statements of each and every website that collects personally identifiable information. This privacy statement applies solely to information collected by our website correction/updating of personal information.


    </p>
    <hr>
  </div>
        
<div class="row">
    <h5>
        Notification of changes


    </h5>
    <p class="">
        ETHIOPIAN will amend this Privacy Policy from time to time without notice, and the updated versions will be posted on ETHIOPIAN’s website and date stamped so that you are aware of when the Privacy Policy was last updated.


    </p>
    <hr>
  </div>
        
<div class="row">
    <h5>
        How you can contact us

 
    </h5>
    <p class="">
        If you have questions about this Privacy Policy, please email our customer
         service team at <a href="OnlineBooking@ethiopianairlines.com" target="_blank"> OnlineBooking@ethiopianairlines.com .</a> 
    </p>
    <hr>
  </div>


















   </div>