<!-- <section>

  <div class="row">
    <img class="responsive-img" height="480" src="assets/orderd/ct-saf-tanza.png">
  </div>
</section> -->

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img  src="assets/orderd/ct-saf-tanza.png">
          <div class="caption center-align">
          </div>
        </li>
      </ul>
    </div>
</section>
<br>
<br>
<br>

<div class="container">
<div class="card-panel">

  <h5>Introduction</h5>
  <blockquote>
  <p>Explore with Ethiopian Holidays the world’s 
  spectacular choices of Safaris.Africa’s greatest
  safari destinations Kenya and Tanzania should be
  your next holiday destinationto spot the Big Five
  (lion, elephant, buffalo, leopard, Rhino). 
  Combined with diverse cultural essence and 
  spectacular nature safari in Africa is must
  do at least once in life.
</p></blockquote>
</div>


</div>



<section id="popular" class="section section-popular scrollspy">
  <div class="container">
    <div class="card-panel z-depth-5">
      <div class="row">
          <div class="col s12 m4">
              <div class="card small">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/orderd/ct-saf-tanza.png">
                    <span class="card-title">The Best of Tanzania Safari</span> 
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                    <p><a routerLink="/customized-Tour/safari/the-best-of-tanzania" class="waves-effect waves-light btn red ">Search offers</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">The Best of Tanzania Safari<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
          </div>


          <div class="col s12 m4">
              <div class="card small">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/orderd/ct-saf-keny.png">
                    <span class="card-title">Glimpse of Kenya Safari</span> 
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                    <p><a routerLink="/customized-Tour/safari/glimpse-of-kenya" class="waves-effect waves-light btn red ">Search offers</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Glimpse of Kenya Safari<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
              </div>


              <div class="col s12 m4">
                  <div class="card small">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/orderd/ct-saf-mara.png">
                        <span class="card-title">Mara Experience Safari</span> 
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                        <p><a routerLink="/customized-Tour/safari/mara-experiance" class="waves-effect waves-light btn red ">Search offers</a></p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Mara Experience Safari<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>


       </div>
      </div>
  </div>
</section>




    

