



<section>
  <div class="row">
    <img class="responsive-img" src="assets/orderd/ct-exp-ertr2.png">
  </div>
</section>




<!-- 

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/london.jfif">"> 
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/paris.jfif">">
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/londonn.jfif"> 
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/southafricaa.jfif">
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>
</section> -->

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

              <div id="Highlights" class="col s12 m12">                   
            <p class="center">Eritrea is the northeast African country on the Red Sea coast. The official name of the country is the State of Eritrea. It is bordered by Sudan in the west, Ethiopia in the south, and Djibouti in the southeast. Asmara is the capital city and largest settlement in Eritrea. The city is located at the tip of an escarpment that is both the north-western edge of the Eritrean highlands and the Great Rift Valley in neighboring Ethiopia. The city is known for its well-preserved art deco and colonial Italian modernist architecture.

              Massawa is a port city in Eritrea, on Africa's Red Sea coast. In the old town, on Massawa Island, a mix of Italian, Egyptian and Ottoman architecture reflects the city's colorful history. On nearby Taulud Island, notable buildings include the crumbling, war-damaged Imperial Palace and St. Mariam Cathedral. Near the cathedral, 3 tanks form a monument commemorating those who died in Eritrea's civil wars.  </p>

  <div class="container">
   <ul class="collapsible">
  <li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class="new badge ">EH-104

      </span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class="new badge">	
          Eritrea Package</span></div>
    
    </li>


    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class="new badge  darken-4">Eritrea</span></div>
      
      </li>
      <li>
        <div class="collapsible-header">
          <h6>Arrival City</h6>
          <span class="new badge">	
            Asmara</span></div>
      
      </li>

    
</ul>

</div>
                      
<br>

 
<p class="center-align">
    <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

  </p>
  <!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
    <app-search-enquire></app-search-enquire>

</div>


  <table class="responsive-table striped highlight center">
    <thead>
      <tr>
          <th>ITINERARY</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Duration Point:</td>
        <td>04DAYS/ 03NIGHTS

        </td>
      </tr>
      <tr>
        <td>Starting Point:</td>
        <td>Asmara</td>
      </tr>
      <tr>
        <td>Ending Point:</td>
        <td>Asmara</td>
      </tr>
    </tbody>
  </table>
        


                        


              </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Arrive Asmera</div>
                                 <div class="collapsible-body">

                                 <p>Upon arrival Asmara International airport, you will be met by ET-Holidays 
                                   representative and you will be transferred to Hotel. In the afternoon tour of Asmara city. Overnight hotel.</p>
                                  
                                  </div>
                                </li>
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: Massawa</div>
                                  <div class="collapsible-body">

                                  
                                          <p> After breakfast depart to Massawa for a tour of the city. Overnight hotel</p> 
                                          
                                  </div>
                                </li>
                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3:  Asmara at Leisure</div>
                                    <div class="collapsible-body">
  
                                    
                                            <p>
                                                Breakfast at the hotel and return to Asmara. Free time for shopping and leisure by your own.   Overnight hotel.
                                                
                                                </p> 
                                            
                                    </div>
                                  </li>
                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4:  </div>
                                      <div class="collapsible-body">
    
                                      
                                              <p>Transfer to Asmara international airport for departure.  
                                                  </p> 
                                              
                                      </div>
                                    </li>
                            


                              </ul>
                          
                            </div>
                        
                </div>
                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">
                    
                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i>   International Flight</li>
                        <li class="collection-item"><i class="material-icons ">check</i> 3 Night Hotel accommodation with bed and breakfast bases</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Asmara and Massawa city tour</li> 
                        <li class="collection-item"><i class="material-icons ">check</i>Ground transportation while the tours.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>English and Amharic speaker tour guide.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Transfer from/to airport.</li>                                                                                           
                    </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">
                            Alcoholic Drinks,
                            Any other expenses which are not mentioned on price include section 
                            <ul class="collection with-header">
                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">check</i> Alcoholic Drinks,</li>
                                <li class="collection-item"><i class="material-icons ">check</i> Any other expenses which are not mentioned on price include section </li> 
                                                                                                                      
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>

