
<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/sleepingwelephants.jpg">"> 
          <div class="caption center-align">
             </div>
        </li>
        <li>
          <img src="assets/image/sleepingwelephants1.jpg">">
          <div class="caption left-align">
            </div>
        </li>
        <li>
          <img src="assets/image/sleepingwelephants3.jpg"> 
          <div class="caption right-align">
             </div>
        </li>
       
      </ul>
    </div>
</section>

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

<div id="Highlights" class="col s12 m12">                   
            
  <div class="container">
    
      <p class="center">Eastern Africa is well known for its variety of wildlife. It is also best destination for Bird Watching,
         Mountain Climbing, Hiking, Gorilla Trekking, Heritage & Cultural Tours, Mountain Biking, Snorkelling, Scuba Diving, Hot Air Ballooning, and White Water Rafting. You will find all here. 
        Plan your holiday in east Africa and enjoy spectacular scenery, vibrant culture and warm African hospitality.</p>
 
   <ul class="collapsible">

<li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class=" badge green darken-4 white-text">EH-203</span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class=" badge green darken-4 white-text">	
            Sleeping with Elephant</span></div>
    
    </li>

    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class=" badge green darken-4 white-text"> 	
              Kenya</span></div>
      
      </li>

      <li>
          <div class="collapsible-header">
             <h6> Capital City</h6>
            <span class=" badge green darken-4 white-text">Nairobi </span></div>
        
        </li>

 
 

      <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class=" badge green darken-4 white-text">	               	
                Jan. 1, 2018 – Dec. 31, 2018</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
              <h6>Duration</h6>
              <span class=" badge green darken-4 white-text">		
                  7 DAYS/ 6 NIGHTS </span></div>
          
          </li>
          <li>
              <div class="collapsible-header">
                <h6>Starting Point</h6>
                <span class=" badge green darken-4 white-text">Nairobi  </span></div>
            
            </li>
            <li>
                <div class="collapsible-header">
                  <h6>Ending  Point</h6>
                  <span class=" badge green darken-4 white-text">Nairobi  </span></div>
              
              </li>
</ul>

</div>
                      
<br>
<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>


  </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Nairobi - Samburu Game Reserves</div>


                                  <div class="collapsible-body">
                                      <p>   JAMBO - KARIBU!! Tours representatives will warmly meet you upon arrival at the Jomo Kenyatta 
                                        International airport or at your Nairobi Hotel with our traditional, unique & special welcome. 
                                        Proceed to Samburu. We arrive at the intimate 12-tent Elephant Bedroom Camp to a warm welcome 
                                        then lunch. We enjoy an afternoon game viewing drive. The Samburu region is the best place to 
                                        find several endemic Northern species; including the Gerenuk (Twiga gazelle) due to her long 
                                        neck, the beisa Oryx, the Reticulated Giraffe, the Somali ostrich and Grevy’s Zebra. Samburu
                                         is also an ornithological paradise, home to many birds including local species such as the Palm Nut Vulture 
                                        and the Vivacious Dove. Enjoy dinner and overnight at our camp. Elephant Bedroom Camp, Full board.</p>

                                  </div>
                                </li>


                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: Samburu Game Reserves  </div>
                                  <div class="collapsible-body">

                                   <p>
                                      Enjoy morning and afternoon game viewing in both Samburu and Buffalo Springs game reserves. 
                                      Leopards are often seen at dusk. The Samburu culture is a truly fascinating one, sharing a 
                                      great deal of ancestral and linguistic ties to the Maasai. The entire Samburu region is a 
                                      place of breath-taking and magical beauty, a place where the vision of a deep red sunset 
                                      silhouetting the doum palms along the river as a leopard emerges to hunt brings the 
                                      perfect end to a day on safari...... Enjoy meals and overnight at our camp. OPTIONAL ACTIVITY: Visit to a Samburu Manyatta 
                                      to see how the tribe lives in this harsh surrounding.Elephant Bedroom Camp, Full board.</p>
                                  </div>
                                </li>


                                <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3: Samburu Game Reserves - Lake Nakuru National Park    </div>
                                  <div class="collapsible-body">

                                 <p>
                                    
                                   This morning after breakfast, we drive to Lake Nakuru national Park with a brief stop at the 
                                   Thompson's Falls for a breath-taking view of the great scenery. We arrive at the lodge to a 
                                   very warm welcome, check-in then lunch. This afternoon enjoy a nature walk led by the camp’s
                                    naturalist. As the night falls, led by a professional and experienced night game spotter,
                                     we depart for night game viewing drive. It cannot get more exciting than this! The thrill
                                      is beyond human explanation. This is an opportunity to see some of the nocturnal animals
                                       that we may not see during the day, as we enjoy the sweet cricket melodies and watch 
                                       the stars twinkle in their splendour. What about spotting an aardvark! An African myth
                                        goes that if one spots this rare animal at night is so lucky and may live for over 100 years!! 
                                      This might be our night!! We return to the lodge for Dinner and overnight. Mbweha Safari Camp, Full board</p>
                                  </div>
                                </li>

                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4: Lake Nakuru National Park  </div>
                                        <div class="collapsible-body">
                                          <p>This morning we enjoy our breakfast then depart for a full day of game viewing. You will enjoy hot lunch at the Sarova
                                             Lion Hill Lodge. Some of the interesting places to visit include the baboon cliff, the lion hill and the Mau escarpment.
                                              The park is one of the best game viewing parks with various animal species including prides of lion, Cape buffalo, 
                                              waterbucks, wart hogs, the endangered Rothschild giraffes, the black & white Rhino, the Burchell’s zebra, impalas, 
                                              and the elusive leopard among many others. Over 300 bird species have been recorded here too. Lake Nakuru National
                                               Park is one of the best places 
                                            to see the endangered black and white Rhino. Enjoy dinner and overnight at our Lodge. Mbweha Safari Camp, Full board</p>
                                        </div>
    
         </li>
    
         <li>
            <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5: Lake Nakuru National Park - Masai Mara Game Reserve   </div>
                <div class="collapsible-body">

                  <p>A hearty early morning breakfast then drive to the Masai Mara National Reserve, offering wonderful 
                    scenery and plenty of game. We arrive at the intimate 20-tent Tipilikwani Camp to a very warm welcome 
                    for lunch. This afternoon is the moment we have been longing for – we depart on an exciting game viewing
                     drive. The Rolling plains and grasslands, stretching far into the horizons as far as the eye can see is
                      home to the black-manned lion, the savannah elephant, the Cape buffalo, wildebeest, the elusive leopard,
                      cheetah,the spotted & stripped hyena, the rhino, topi, burchelle’s zebra, the Maasai giraffe among many 
                      others. The Mara game reserve is one that can never disappoint. One is spoilt by the variety of bird and 
                      wildlife species in this game reserve….. For a long time, Mara Game Reserve has stubbed her authority as the
                     ‘granary’ of wildlife in Kenya. We return back to the camp for dinner and overnight. Tipilikwani Luxury Mara Camp, Full board</p>
                   
                </div>
              </li>

              <li>
                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6: Masai Mara Game Reserve  </div>
                      <div class="collapsible-body">
    
                        <p>Enjoy breakfast then proceed on a full day of game viewing drives & adventure. 
                          Be on the look-out for the big five that Maasai Mara is famous for.
                           These include the lion, savannah (African) elephant, the Cape buffalo,
                            the leopard and the black rhino. We may even be so lucky to witness a leopard or a
                             cheetah sprint and make a kill! We return back to the camp for dinner and overnight.
                              OPTIONAL ACTIVITY: Balloon Safari over the Mara plains followed by a champagne breakfast.
                              Tipilikwani Luxury Mara Camp, Full board

                          </p>
                      </div>
                    </li>

                    <li>
                        <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 7 :Nairobi </div>
                            <div class="collapsible-body">
          
                              <p>After breakfast, venture into the Serengeti’s wilderness corners for a full day of game viewing in the park. 
                                With a picnic lunch beside you, take your leisure while exploring this world heritage site, where earth’s largest concentration of plain game still roams free! 
                                In the late evening, go to the Serengeti Kirawira Campsfor rest, dinner, and overnight. Full Board. (FB)</p>
          
                            </div>
                          </li>

                        


                               
              
                            
                </ul>      
                </div>
                        
                </div>


                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">

                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i> Arrival transfer from/ to the Jomo Kenyatta International Airport.</li>                       
                        <li class="collection-item"><i class="material-icons ">check</i> Met in our unique style with wet towels and ‘bubbly’.</li>
                        <li class="collection-item"><i class="material-icons ">check</i> Complimentary Authentic Branded Safari Hat and safari essentials pack.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Full Board accommodation while on safari.</li> 
                        
                        <li class="collection-item"><i class="material-icons ">check</i> Park entry fees.</li>
                        <li class="collection-item"><i class="material-icons ">check</i> Nature Walk at Mbweha Safari Camp.
                          </li> 

                          <li class="collection-item"><i class="material-icons ">check</i> Use of Twiga Tours 4x4 Safari Land Cruiser on safari.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Unlimited supply of bottled, drinking water in the vehicle while on safari.
                            </li> 
                            <li class="collection-item"><i class="material-icons ">check</i> Unlimited mileage on game viewing drives.</li>
                          <li class="collection-item"><i class="material-icons ">check</i>  Use of a custom designed pop-up roof Safari Land Cruiser while on safari.
                            </li> 

                            <li class="collection-item"><i class="material-icons ">check</i> Flying Doctors Cover while on safari.</li>
                           
                      </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">

                            <ul class="collection with-header">

                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>International flight, passport & visa fees.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i> Flight to/from Mombasa.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i> Comprehensive travel insurance cover.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i> Balloon Safari ride in Masai Mara.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i> All personal expenses – laundry, telephones, soft & alcoholic drinks, tips to Camp Staff and gratuity to Guide/Driver.</li> 
                                 </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>


