
  
  <section>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="assets/image/wildlife1.jpg">"> 
            <div class="caption center-align">
          
            </div>
          </li>
          <li>
            <img src="assets/image/greatewildlife.jpg">">
            <div class="caption left-align">
                </div>
          </li>
          <li>
            <img src="assets/image/greatewildlife2.jpg"> 
            <div class="caption right-align">
                </div>
          </li>
        
        </ul>
      </div>
  </section>
  
  <br>
  <br>

<section id="holidays" class="section section-popular">
  <div class="container">
      <div class="row">
          
          <div class="col s12">
                  <ul class="tabs tabs-fixed-width tab-demo ">              
                      <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                  </ul>
                </div>
  
 <div id="Highlights" class="col s12 m12">                   
              
    <div class="container">
      
        <p class="center">Eastern Africa is well known for its variety of wildlife. It is also best 
          destination for Bird Watching, Mountain Climbing, Hiking, Gorilla Trekking, Heritage & 
          Cultural Tours, Mountain Biking, Snorkelling, Scuba Diving, Hot Air Ballooning, and White 
          Water Rafting. You will find all here. Plan your holiday in east Africa and enjoy spectacular 
          scenery, vibrant culture and warm African hospitality. “A Kenya - Tanzania combination safari
           that combines Kenya's most famous game reserve, 
          Masai Mara with the world renowned and magnificent Serengeti without having to back-track”.</p>
   
     <ul class="collapsible">

 <li>
      <div class="collapsible-header">      
          <h6>Tour Code</h6>
        <span class=" badge green darken-4 white-text">EH-202</span></div>
     
    </li>

    <li>
        <div class="collapsible-header">
            <h6>Tour Name</h6>
          <span class=" badge green darken-4 white-text">	
                
              Greatest Wildlife and Cultural Experience</span></div>
      
      </li>

      <li>
          <div class="collapsible-header">
             <h6> Country</h6>
            <span class=" badge green darken-4 white-text"> 	
                Kenya</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
               <h6> Capital City</h6>
              <span class=" badge green darken-4 white-text">	
                  Nairobi </span></div>
          
          </li>

   
   

        <li>
            <div class="collapsible-header">
              <h6>Validity</h6>
              <span class=" badge green darken-4 white-text">	               	
                  Jan. 1, 2018 – Dec. 31, 2018</span></div>
          
          </li>

          <li>
              <div class="collapsible-header">
                <h6>Duration</h6>
                <span class=" badge green darken-4 white-text">	               	  
                    12 DAYS/ 11 NIGHTS</span></div>
            
            </li>

            <li>
                <div class="collapsible-header">
                  <h6>Starting Point</h6>
                  <span class=" badge green darken-4 white-text">	               	           
                      Nairobi </span></div>
              
              </li>

              <li>
                  <div class="collapsible-header">
                    <h6>Ending Point</h6>
                    <span class=" badge green darken-4 white-text">	               	                 
                        Nairobi </span></div>
                
                </li>

          
                
  </ul>

</div>
                        
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>

  
    </div>


                <div id="Itinerary" class="col s12 white-text">
                     
                          <div class="container green darken-4">
                              <ul class="collapsible popout" data-collapsible="accordion">
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Nairobi</div>


                                    <div class="collapsible-body">
                                        <p> 
                                            JAMBO - KARIBU!! Twiga Tours representatives will warmly meet you upon arrival at the Jomo Kenyatta International
                                            airportwith our traditional, unique & special welcome (bubbly, wet towels and presentation of authentic safari
                                            hat and a beautiful authentic canvas pouch filled with safari essentials). We will then transfer you to the
                                            Sarova Stanley Hotel, 
                                            located in the heart of the central business district. Enjoy overnight. Sarova Stanley Hotel or Similar BB </p>

                                    </div>
                                  </li>


                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2:  Lake Nakuru National Park   </div>
                                    <div class="collapsible-body">

                                     <p>
                                        Our guide driver will pick you from the hotel after breakfast, drive to Lake Nakuru with a brief stop
                                         at the Rift valley view point. We arrive at the lodge to a very warm welcome, check-in then lunch. 
                                         This afternoon we depart on a game viewing. Some of the interesting places to visit include the 
                                         baboon cliff, the lion hill and the Mau escarpment. The park is one of the best game viewing 
                                         parks with various animal species including prides of lion, Cape buffalo, waterbucks, wart hogs, 
                                         the endangered Rothschild giraffes, the black & white Rhino, the Burchell’s zebra, impalas, and 
                                         the elusive leopard among many others. Over 300 bird species have been recorded here too. Lake 
                                         Nakuru National Park is one of the best places to see the endangered 
                                        black and white Rhino. Enjoy dinner and overnight at the Lodge. Mbweha Safari Camp or similar LDBB</p>
                                    </div>
                                  </li>


                                  <li>
                                <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3: Masai Mara Game Reserve   </div>
                                    <div class="collapsible-body">
                                   <p>
                                      A hearty early morning breakfast then drive to the Masai Mara National Reserve, offering wonderful
                                       scenery and plenty of game. We arrive at the intimate, 20-tent Tipilikwani Camp to a very warm 
                                       welcome for lunch, some leisure. This afternoon is the moment we have been longing for – we 
                                       depart on an exciting game viewing drive.The Mara game reserve is one that can never disappoint. 
                                       One is spoilt by the variety of bird and wildlife species in this game reserve….. For a long time,
                                        Mara Game Reserve has stubbed her authority as the ‘granary’ of wildlife in Kenya.We return 
                                      back to the lodge for dinner and overnight. Tipilikwani Luxury Tented Camp or Similar LDBB.</p>
                                    </div>
                                  </li>

                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4:Masai Mara Game Reserve </div>
                                          <div class="collapsible-body">
                                           
                                         <p>Sumptuous breakfasts then we depart for a full day adventure. Be on the look-out for the big five that Masai Mara is famous for. 
                                           These include the lion, savannah (African) elephant, the Cape buffalo, the leopard and the black rhino. In the early 20th century,
                                            Kenya was a famous hunting destination. Killing any of the big five game one pride, a sense of class, a feeling of heroism. We 
                                            may even be so lucky to witness a leopard or a cheetah sprint and make a kill! We return back to the camp for dinner and overnight. 
                                            OPTIONAL ACTIVITY: Balloon Safari over the Mara plains followed by a champagne breakfast or visit a traditional Masai Manyatta 
                                            (off the beaten track) and experience the culture of this world famous community. The Masai still live as they did for centuries 
                                            -interact with these nomadic people and
                                            experience their way of life as you learn about their customs and traditions. Tipilikwani Luxury Mara Camp or Similar LDBB.</p>
                                          </div>
      
           </li>
      
           <li>
              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5:  Serengeti National Park   </div>
                  <div class="collapsible-body">

                  
                <p>Enjoy an early morning breakfast and a full morning’s game viewing drive to return for lunch. Experience 
                  the We enjoy a hearty breakfast then depart with picnic lunch boxes via the Isebania & Sirari border where
                   our guide drivers will help you through the immigration procedures then continue into Tanzania.
                   We arrive at our lodge for check-in, dinner and overnight. Serengeti Sopa Lodge or similar DBBL.</p>
                  </div>
                     
                
                </li>

                <li>
                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6:  Serengeti National Park   </div>
                        <div class="collapsible-body">
      
                          <p>This morning after breakfast, we depart with picnic lunch boxes for a full day of game viewing drives on the vast Serengeti
                             plains. In the early morning and evening light, the Serengeti landscape is stunningly beautiful. One is spoilt by the 
                             variety of bird and wildlife species in this game reserve with game-viewing drives. Enjoy dinner and overnight at our
                              lodge. OPTIONAL ACTIVITY: 
                            Dawn Balloon Safari over the Serengeti Plains ending with a champagne breakfast. Serengeti Sopa Lodge or similar LDBB
                            </p>
                        </div>
                      </li>


                      <li>
                          <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 7: Ngorongoro Conservation Area   </div>
                              <div class="collapsible-body">
            
                                <p>After breakfast, we depart to Ngorongoro. We stop at the Oldupai Gorge, one of the most 
                                  important prehistoric sites in the world to learn on human evolution. We arrive at our 
                                  crater rim lodge to a warm welcome, check-in then lunch. This afternoon we relax and 
                                  from our lodge enjoy the breath-taking spectacular views of the crater below. Dinner and overnight at crater lodge. 
                                  NOTE: Warm jacket/cardigan is highly recommended. Ngorongoro Sopa Lodge or similar LDBB
                                  </p>
                              </div>
                            </li>

                            
                            <li>
                                <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 8:  Ngorongoro Conservation Area    </div>
                                    <div class="collapsible-body">
                  
                                      <p>After breakfast we descend some 610 metres into the crater, which is home to an abundance of wildlife 
                                        and a photogenic paradise, Unmatched for its natural variety & breath-taking beauty, there are few places 
                                        on earth where such a tremendous diversity of landscapes exist inside a region this size. Apart from its 
                                        wildlife riches, the crater is also of great archaeological importance, with the remains of some of mankind’s
                                         earliest ancestors discovered in the area, also a home to hundreds of bird species, refreshing in the 
                                         small lakes in the crater floor. 
                                        Return late afternoon to your lodge. Enjoy dinner and overnight. Ngorongoro Sopa Lodge or similar LDBB
                                        </p>
                                    </div>
                                  </li>

                                  
                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 9: Tarangire National Park   </div>
                                          <div class="collapsible-body">
                        
                                            <p>Enjoy your breakfast then depart to Tarangire arriving at your lodge for lunch.
                                               This afternoon we depart on an exciting game viewing drive in this area dotted 
                                               with majestic baobab trees, stately eland antelopes among other game. Herds of
                                                up to 300 elephants scratch the dry Tarangire river bed for underground streams, 
                                                while migratory wildebeest, zebra, buffalo, impala, gazelle, hartebeest and 
                                                eland crowd the shrinking lagoons. It's the greatest concentration of wildlife 
                                                outside the Serengeti ecosystem - a smorgasbord for predators – and the one 
                                                place in Tanzania where dry-country antelope such as the stately fringe-eared
                                                 Oryx and peculiar long-necked gerenuk are regularly observed. 
                                              Enjoy dinner and overnight at the lodge. Tarangire Sopa Lodge or Similar LDBB
                                              </p>
                                          </div>
                                        </li>

                                        
                                        <li>
                                            <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 10:  Amboseli National Park  </div>
                                                <div class="collapsible-body">
                              
                                                  <p>Enjoy an early morning breakfast then depart via the Namanga border to Amboseli National 
                                                    Park. We arrive at the lodge to a very warm welcome, check-in then lunch. We depart on an
                                                     afternoon game viewing drive. Amboseli is home to lions, buffalo, cheetah, giraffe, baboon,
                                                      gazelle hippo and wildebeest among many others. It is also an ornithological paradise 
                                                      with over 400 species of birds, flora and fauna and some of the most soul-searing views in Africa.
                                                     Enjoy dinner and overnight at your lodge. Amboseli Serena Safari Lodge or similar LDBB
                                                    </p>
                                                </div>
                                              </li>

                                              
                                              <li>
                                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 11:  Amboseli National Park   </div>
                                                      <div class="collapsible-body">
                                    
                                                        <p>Morning and afternoon game viewing drives. Amboseli offers some of the most
                                                           breath-taking views in Africa. Her scenery - one of the best places for a 
                                                           photogenic view of Mount Kilimanjaro (weather permitting) is next to none.
                                                            This is best seen on a clear day. Amboseli National Park provides the 
                                                            classic Hollywood image of Africa. The park is famous for her large herds of giant elephants. Enjoy meals 
                                                          and overnight at the lodge. Amboseli Serena Safari Lodge or similar LDBB
                                                          </p>
                                                      </div>
                                                    </li>

                                                    
                                                    <li>
                                                        <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 12: Amboseli National Park - Nairobi     </div>
                                                            <div class="collapsible-body">
                                          
                                                              <p>This morning we enjoy our breakfast then check-out. Unbelievable but true, our good bush 
                                                                moments have come to an end. We bid farewell to our wonderful lodge manager and his team
                                                                 then depart back to Nairobi. Not empty handed though. With us are photographs – a capture
                                                                  of the special moments we have had on this tour to immortalize the experience. Our guide
                                                                   driver will transfer you to the Carnivore restaurant 
                                                                for lunch then on to the Jomo Kenyatta International airport for your home-bound flight.
                                                                </p>
                                                            </div>
                                                          </li>

                                                          
                                              
                                                                


                  </ul>      
                  </div>
                          
                  </div>


                  <div id="Included" class="col s12">
                    <div class="container">

                   
                      <ul class="collection with-header">

                          <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                          <li class="collection-item"><i class="material-icons ">check</i> Arrival transfer from/ to the Jomo Kenyatta International Airport.</li>                       
                          <li class="collection-item"><i class="material-icons ">check</i> Meet & greet in our unique style with wet towels and ‘bubbly’.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Complimentary Authentic Branded Safari Hat and safari essentials pack.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Bed & breakfast board accommodation in Nairobi.</li> 
                          
                          <li class="collection-item"><i class="material-icons ">check</i> Full Board Accommodation while on safari.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Park entry fees.</li> 

                            <li class="collection-item"><i class="material-icons ">check</i>Full day crater tour.</li>
                            <li class="collection-item"><i class="material-icons ">check</i>Services of professional English Speaking guide-driver.
                              </li> 
                              <li class="collection-item"><i class="material-icons ">check</i> Unlimited supply of bottled mineral drinking water in the safari vehicle while on safari.</li>
                            <li class="collection-item"><i class="material-icons ">check</i>  Unlimited game viewing drives.
                              </li> 

                              <li class="collection-item"><i class="material-icons ">check</i> Use of a custom designed pop-up roof Safari Land Cruiser while on safari.
                              </li> 

                              <li class="collection-item"><i class="material-icons ">check</i>  Lunch at the Carnivore Restaurant.
                              </li> 

                        </ul>
                   
     
                    </div>
                        
                     
              
                      </div>

                      <div id="Excluded" class="col s12">
                          <div class="container">

                              <ul class="collection with-header">

                                  <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                  <li class="collection-item"><i class="material-icons ">cancel</i>International flight, passport & visa fees.</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Comprehensive travel insurance cover.</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Cultural visit to a Maasai Village ( Manyatta).</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Balloon Safari ride in Maasai Mara.</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> All personal expenses – laundry, telephones, soft & alcoholic drinks, tips to Camp Staff and gratuity to Guide/Drive.</li> 
                                   </ul>
                             
        
                            </div>
                    
                    </div>
                    
                      
  
                        </div>
  </div>
  </section>
  

