

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/london.jfif">"> 
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/paris.jfif">">
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/londonn.jfif"> 
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/southafricaa.jfif">
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>
</section>

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

              <div id="Highlights" class="col s12 m12">                   
            

  <div class="container">

    <p class="center">
        Eastern Ethiopia is a land of astonishing geographic extremes. In the far northeast, the austere lavascapes and
         salt-flats plunges to 116m below sea level in the Danakil. The scorching Danakil Depression, much of which lies below sea level,
         supports a harsh but surreally beautiful habitat of  blinding-white salt-flats and startling multicoloured geysers.
    </p>
   <ul class="collapsible">
  <li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class=" badge green darken-4 white-text">EH-153</span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class=" badge green darken-4 white-text">	
              Danakil Tours</span></div>
    
    </li>

    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class=" badge green darken-4 white-text">Ethiopia</span></div>
      
      </li>

      
    <li>
        <div class="collapsible-header">
           <h6> Capital City</h6>
          <span class=" badge green darken-4 white-text">Addis Ababa</span></div>
      
      </li>


      <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class=" badge green darken-4 white-text">	
                Jan. 1, 2018 – Dec. 31, 2018</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
              <h6>Duration</h6>
              <span class=" badge green darken-4 white-text">	
                    3 DAYS/ 2 NIGHTS</span></div>
          
          </li>

          <li>
              <div class="collapsible-header">
                <h6>Starting Point</h6>
                <span class=" badge green darken-4 white-text">Addis Ababa</span></div>
            
            </li>

            <li>
                <div class="collapsible-header">
                  <h6> Ending Point</h6>
                  <span class=" badge green darken-4 white-text">Addis Ababa</span></div>
              
              </li>
</ul>

</div>
                      
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>



              </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Arrival Mekele - Ahmedela</div>


                                  <div class="collapsible-body">

                          

                                  <p> After arrival at Bole international airport directly transfer to domestic terminal to fly to Mekele. After short break 
                                    in Mekele proceed 
                                    to Hamede Ela via a small town of Berhale where the camel caravan stop before they proceed to the northern highlands.</p>
                                    <p>Meal Plan: Breakfast, Lunch & Dinner</p>
                                    <p>Overnight: Camping</p>


                                  </div>
                                </li>
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: Ahmedela – Dallol/Denakil – Ahmedela - Mekle</div>
                                  <div class="collapsible-body">

                                      
                                          <p>After early breakfast excursion to Dallol (116 meter below sea level, one of the lowest places in the world) where lakes of acid 
                                            form colorful sulfur formation in the hottest and deepest part of Danakil depression and Look the activity of breaking the salt 
                                            from the ground, cutting in to rectangular pieces and loading on camels 
                                            for long caravan and visit the difference landscape formed by volcanic activity, Lake Assal, camel caravans, Acidic ponds, etc.</p>
                                            <p>Meal Plan: Breakfast, Lunch & Dinner</p>
                                            <p>Overnight: Hotel</p> 


                                  </div>
                                </li>
                                <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3: Transfer to the airport and fly back to Addis Ababa. End of the tour.</div>
                                  <div class="collapsible-body"><ul>

                                     

                                      <p>Transfer to the airport and fly back to Addis Ababa. End of the tour.</p> 
                                      

                                    </ul>
                                  </div>
                                </li>

                  
      
                              </ul>
                          
                            </div>
                        
                </div>
                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">

                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i>International and domestic flight.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>2 Nights’ accommodation on double/twin bed basis
                          .</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Camping at the camping places.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>All Meals ( Breakfast, Lunch & Dinner) on full board basis.       </li> 
                        <li class="collection-item"><i class="material-icons ">check</i>camping equipment.</li>
                      
                        <li class="collection-item"><i class="material-icons ">check</i>Cook at the camping places.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>All entrance fees according to the tour program.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>English speaking guide throughout the tour.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Transfer in and out service.</li> 
                        <li class="collection-item"><i class="material-icons ">check</i>One car for cook, scout/police man.</li>

                        <li class="collection-item"><i class="material-icons ">check</i>Ground transportation by Toyota Land Cruiser.</li> 
                        <li class="collection-item"><i class="material-icons ">check</i>Fuel fees for the car.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Driver allowance.</li> 
                        <li class="collection-item"><i class="material-icons ">check</i>Non-Alcoholic Beverages with meals as per the program and plenty bottles of water for the trip.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Scout/police fees.</li>
                                                                                                                   
                    </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">

                            <ul class="collection with-header">

                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Alcoholic drinks.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Video and camera fees if and where applicable.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Entrance fees to any special ceremonies you might encounter by chance.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Tips, telephone calls, laundry services and other expenses of personal nature.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Non specified meals .</li>                                                                                    
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>


