

<!-- slider section -->

<section>
<div class="slider homeslider">
    <ul class="slides">
      <li>
        <img src="assets/orderd/hom-3.png"> <!-- random image -->
        <div class="caption left-align">
          <h3>The Best Airlines In Africa</h3>
          <h5 class="light grey-text text-lighten-3">Star Aliance Member</h5>
          
          
<a class="waves-effect waves-light btn modal-trigger #d32f2f red darken-4" routerLink="/search-Enquire" >Book Now</a>
          
        </div>
      </li>
      <li>
        <img src="assets/orderd/hom-2.png"> <!-- random image -->
        <div class="caption center-align">
          <h3>The Best Airlines In Africa</h3>
          <h5 class="light grey-text text-lighten-3">Star Aliance Member</h5>
          
<a class="waves-effect waves-light btn modal-trigger #d32f2f red darken-4"  routerLink="/search-Enquire" >Book Now</a>
        </div>
      </li>
      <li>
        <img src="assets/orderd/hom-1.png"> <!-- random image -->
        <div class="caption left-align">
          <h3>The Best Airlines In Africa</h3>
          <h5 class="light grey-text text-lighten-3">Star Aliance Member.</h5>
       
<a class="waves-effect waves-light btn modal-trigger #d32f2f red darken-4" routerLink="/search-Enquire" >Book Now</a>  
        </div>
      </li>
    </ul>
  </div>
</section>

<!-- slider section -->


<!-- Section: Booking-->

<!-- <div *ngIf="enquireclicked" >
<hr>
    <app-search-enquire></app-search-enquire>  
<hr>
</div> -->



<!-- Section: Special Offeres-->
<section id="popular" class="section section-popular scrollspy">
    <div class="container">
        <div class="row">
            <h3 class="center">
                <span class="green-text text-darken-3 roboto2">Special Offers</span>
            </h3>
            <!-- <p class="center">White sandy beaches, blue-green seas and astonishing wildlife make 
              it a perfect destination for diving, fishing, cruise trips and much more.</p> -->
      </div>
            <div class="row">
              <div class="col s12 m6 l6">
                  <div class="card">
                      <div class="card-image z-depth-5">
                        <img src="assets/orderd/h-jak2.png" class="materialboxed responsive-img" alt="">
                          <span class="card-title">
                             <h4>JAKARTA</h4>
                              <h6>6 nights right p/p from</h6>
                              <h4>USD 1,689</h4>
                              
<a class="waves-effect waves-light btn modal-trigger #d32f2f red darken-4"  routerLink="/search-Enquire" >Book Now</a>
                              
                        </span>
                      </div>
                  </div>
              </div>
              <div class="col s12 m6 l6">
                <div class="row">
                              <div class="col s12 m6 l6"> 
                                  <div class="card">
                                      <div class="card-image z-depth-5">
                                          <img src="assets/orderd/h-so-1.png" height="200"  class="materialboxed responsive-img" alt="">
                                          <span class="card-title">
                                              <h6>MAASAI MARA</h6>
                                               <h6>7 nights right p/p from</h6>
                                               <h6>USD 1,689</h6>
                                         </span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col s12 m6 l6">
                                  <div class="card">
                                      <div class="card-image z-depth-5">
                                          <img src="assets/orderd/h-southethiopia.png"  height="200" class="materialboxed responsive-img" alt="">
                                        <span class="card-title">
                                          <h6>SOUTH CULTURAL TOUR</h6>
                                          <h6>8 nights right p/p from</h6>
                                          <h6>USD 1,689</h6></span>
                                      </div>
                                  </div>
                              </div>
                  </div>
                  <div class="row">
                              <div class="col s12 m6 l6 padding">
                                  <div class="card padding">
                                      <div class="card-image padding">
                                          <img src="assets/orderd/h-so-3.png"  height="200"  class="materialboxed responsive-img" alt="">
                                          <span class="card-title">
                                          <h6>MOMBASA</h6>
                                          <h6>6 nights right p/p from</h6>
                                          <h6>USD 1,689</h6></span>
                                      </div>
                                  </div>
                              </div>
                              <div class="col s12 m6 l6 padding"> 
                                  <div class="card padding">
                                      <div class="card-image padding">
                                          <img src="assets/orderd/h-southafrica.png" height="200"  class="materialboxed responsive-img" alt="">
                                          <span class="card-title">
                                          <h6>SOUTH AFRICA</h6>
                                          <h6>6 nights right p/p from</h6>
                                          <h6>USD 1,689</h6></span>
                                      </div>
                                  </div>
                              </div>
                    </div> 
                </div>
            </div>
     

    </div>
</section>


<!-- special offers -->

  <!-- Modal Structure -->
  <!-- <div id="enquire" class="modal modal-fixed-footer">
      <app-search-enquire></app-search-enquire>
  
  </div> -->
          







<!-- Top-destination section -->




<section>
  <div class="container">
    <div class="row">
      <h3 class="center"><span class="green-text text-darken-3 roboto2">Top Destinations </span></h3>
      <!-- <p class="center">
        <span class="teal-text">
          This are places that ethiopian airlines will entertain its passengers 
        </span>
        </p> -->

        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="assets/orderd/tp-so 1.png">
              <span class="card-title white-text #2e7d31 green darken-4 backcolor">
                 
                <h5 class="bld">SOUTHERN <br> AFRICA</h5>
                 <a class="waves-effect waves-light btn modal-trigger #d32f2f red darken-4" routerLink="/top-Destinations/south-africa" >Start Looking </a>
                </span>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="assets/orderd/tp-east 1.png">
              <span class="card-title white-text top tdbgd">
                 <H5 class="bld">EASTERN AFRICA</H5>
                 <p>East Africa delivers a classic Out of Africa safari, experiance, and romantic places
                  </p>
                  <a class="waves-effect waves-light btn modal-trigger #d32f2f red darken-4" routerLink="/top-Destinations/east-africa" >Start Looking </a>
               
                </span>
            </div>
          </div>
        </div>
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="assets/orderd/tp-ethio 1.png">
              <span class="card-title white-text #2e7d31 green darken-4 N/A transparent">
                <H5 class="bld">LAND <br> OF ORIGIN</H5>
               <a class="waves-effect waves-light btn modal-trigger #d32f2f red darken-4" routerLink="/top-Destinations/ethiopia" >Start Looking </a>
               </span>
            </div>
          </div>
        </div>
      </div>
  </div>

</section>

<!-- Top-destination section -->




<!-- Holidays-Type section -->



<section id="holidays" class="section section-popular scrollspy">
    <div class="container">
        <div class="row">
            <h3 class="center">
                <span class="green-text text-darken-3 roboto2">Holiday Types</span>
            </h3>
             <!-- <p class="center"> Luxury Hotels are available to spend your Holiday</p> -->
            <div class="col s12">
                    <ul class="tabs">              
                        <li class="tab col s2 tabitem"><a class="active" href="#luxury"><h6><span class=" black-text">Luxury</span></h6> </a></li>
                      <li class="tab col s2 tabitem"><a class="active" href="#romantic"><h6><span class="black-text">Romantic Getways</span></h6> </a></li>
                      <li class="tab col s2 tabitem"><a class="active" href="#safari"><h6><span class="black-text">Safari</span></h6> </a></li>
                      <li class="tab col s2 tabitem"><a class="active" href="#family"><h6><span class="black-text">Family</span></h6> </a></li>
                      <li class="tab col s2 tabitem"><a class="active" href="#transit"><h6><span class="black-text">Transit Tours</span></h6> </a></li>
                    </ul>
                  </div>
              <div id="luxury" class="col s12 m12">
                  <div class="slider holidaystypeslider">
                      <ul class="slides">
                       
                        <li>
                          <img src="assets/orderd/h-ht-ex.png"> <!-- random image -->
                          <div class="caption left-align">  <div class="row">
                            <div class="container col s12 m6">
                              <div class="card blue-grey darken-1 backcolor">
                                <div class="card-content white-text">
                                  <h5 class=""><span class="card-title">Luxury</span></h5>
                                  
                                  <p>They say life is measured by moments that will take our breath away. 
                                    Here you will find once-in-a-lifetime experiences that you will treasure for years to come.
                                      ET-Holidays experiences will take you on a trip-of-a-lifetime.</p>
                                </div>
                                <div class="card-action">
                                  <a class="btn #b71c1c red darken-4 " routerLink="/customized-Tour/experiance">Explore</a>
                                </div>
                              </div>
                            </div>
                          </div>
                          </div>
                        </li>
                      </ul>
                        </div>
              </div>
              <div id="romantic" class="col s12">
                  <div class="slider holidaystypeslider">
                      <ul class="slides">
                        <li>
                          <img src="assets/orderd/h-ht-rom.png"> <!-- random image -->
                          <div class="caption left-align">
                              <div class="row">
                              <div class="container col s12 m6">
                                <div class="card blue-grey darken-1">
                                  <div class="card-content white-text">
                                    <h5 class=""><span class="card-title">Romantic</span></h5>
                                    
                                    <p>Thoughts of romance will be our guide as we prepare The Wedding of Your Dream. 
                                      If you have always pictured yourselves in a warm,
                                       lavish ambience with happy friends and family toasting the two of you,
                                        then search through our premier wedding destination spots..</p>
                                  </div>
                                  <div class="card-action">
                                    <a class="btn #b71c1c red darken-4 " routerLink="/customized-Tour/romantic">Explore</a>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ul>
                    </div>
                </div>
                <div id="safari" class="col s12">
                    <div class="slider holidaystypeslider">
                        <ul class="slides">
                          <li>
                            <img src="assets/orderd/h-ht-saf.png"> <!-- random image -->
                            <div class="caption left-align">
                                <div class="row">
                                <div class="container col s12 m6">
                                  <div class="card blue-grey darken-1">
                                    <div class="card-content white-text">
                                      <h5 class=""><span class="card-title">Safari</span></h5>
                                      
                                      <p>Explore with Ethiopian Holidays the world’s spectacular choices of Safaris.
                                          Africa’s greatest safari destinations Kenya and Tanzania should be your next holiday 
                                          destinationto spot the Big Five (lion, elephant, buffalo, leopard, Rhino).</p>
                                    </div>
                                    <div class="card-action">
                                      <a class="btn #b71c1c red darken-4 "  routerLink="/customized-Tour/safari">Explore</a>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div id="family" class="col s12">
                        <div class="slider holidaystypeslider">
                            <ul class="slides">
                              <li>
                                <img src="assets/orderd/h-ht-ex.png"> <!-- random image -->
                                <div class="caption left-align">
                                    <div class="row">
                                    <div class="container col s12 m6">
                                      <div class="card blue-grey darken-1">
                                        <div class="card-content white-text">
                                          <h5 class=""><span class="card-title">Family</span></h5>
                                          
                                          <p>I am a very simple card. I am good at containing small bits of information.
                                              I am convenient because I require little markup to use effectively
                                              I am a very simple card. I am good at containing small bits of information.</p>
                                        </div>
                                        <div class="card-action">
                                          <a class="btn #b71c1c red darken-4 " routerLink="/customized-Tour/safari">Explore</a>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                        <div id="transit" class="col s12">
                            <div class="slider holidaystypeslider">
                                <ul class="slides">
                                  <li>
                                    <img src="assets/orderd/h-ht-tra.png"> <!-- random image -->
                                    <div class="caption left-align">
                                        <div class="row">
                                        <div class="container col s12 m6">
                                          <div class="card blue-grey darken-1">
                                            <div class="card-content white-text">
                                              <h5 class=""><span class="card-title">Transit</span></h5>
                                              
                                              <p>Addis Ababa “New Flower” in Amharic is a vibrant 
                                                cosmopolitan capital city and our City Tour will give you a real taste and flavour of Ethiopia. </p>
                                            </div>
                                            <div class="card-action">
                                              <a class="btn #b71c1c red darken-4 "  routerLink="/customized-Tour/transit">Explore</a>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </li>
                                </ul>
                              </div>
                            </div>
                             </div>
    </div>
</section>

<!-- Holidays-Type section -->





