

<section>
  <div class="slider">
      <ul class="slides">
       
        <li>
          <img src="assets/orderd/h-ht-tra.png">
          <div class="caption center-align">
          </div>
        </li>
      </ul>
    </div>
</section>
<br>
<br>
<br>

<div class="container">
<div class="card-panel">

  <h5>Transit Tour</h5>
  <blockquote>
  <p>When you next have a transit stop in Addis Ababa, why not consider a City Tour and use the time to explore “The New Flower”!
</p>

<p>


    Addis Ababa “New Flower” in Amharic is a vibrant cosmopolitan capital city and our City Tour will give you a real taste
     and flavour of Ethiopia. Highlight’s will include a visit to the National Museum, home of the world famous hominid Lucy 
     and learn about her discovery in the Afar region of Ethiopia in 1974 plus (experience shopping on the Churchill Avenue 
     around post office where you can find traditional scarfs, crosses and much more) You will of course also experience a 
     traditional Ethiopian coffee ceremony from roasting to brewing and savouring the taste of the drink that originated in Ethiopia.

</p>
 
<p>
    If you are in the mood for some relaxation and down time during your transit time we have you covered. The exclusive spa offer
     will help you to rejuvenate yourself in a welcoming and luxurious setting, pampering your body with a choice of relaxing massages, steam, sauna or body treatment.
</p>
<p>
    Addis Ababa is the third highest capital in the world with an altitude of 2,400 m. Founded in 1887 by Emperor Menelik II, it is 
    also considered the capital of Africa for hosting multiple international institutions including the African Union and the United 
    Nations Economic Commission for Africa.
</p>
<p>
    Travelers for business or pleasure enjoy Africa’s bustling and vibrant capital city. It has an ethnically diverse population of more than 4million and is known
     for hospitality and a readiness to help travelers create experiences that become long lasting memories. 
</p>

<p>
    It’s very easy:
</p>

<p>
   1. Choose from the below three offers and email your inquiry.
</p>

<p>
   2. You will receive a quotation based on your inquiry.
</p>

<p>
   3. Once you approve the itinerary and quotation, you can make your payment directly with our reservation team by calling on
     +251 11 6656666 #3 using your credit card or you may wire transfer and send us the confirmation.
</p>

<p>
   4. Then you will receive a voucher which you should print and bring along.
</p>
<p>
    What are you waiting for? Make your next transit in Ethiopia a time to remember.
</p>
<p>
    Terms and Conditions.
</p>


</blockquote>
</div>


</div>



<section id="popular" class="section section-popular scrollspy">
  <div class="container">
    <div class="card-panel z-depth-5">
      <div class="row">
          <div class="col s12 m4">
              <div class="card small">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/orderd/ct-tr-dinner.png">
                    <span class="card-title">Ethiopian Traditional Dinner & Cultural music with Ethiopian Coffee Ceremony</span> 
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                    <p><a routerLink="/customized-Tour/transit/ethiopian-traditional-dinner" class="waves-effect waves-light btn red ">View Package</a></p>
                 
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Ethiopian Traditional Dinner & Cultural music with Ethiopian Coffee Ceremony<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
          </div>


          <div class="col s12 m4">
              <div class="card small">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="assets/orderd/ct-tr-coffe.png">
                    <span class="card-title">Spa Service with Ethiopian Coffee Ceremony</span> 
                    
                  </div>
                  <div class="card-content">
                   
                    <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                    <p><a routerLink="/customized-Tour/transit/spa-service-with-ethio-coffee" class="waves-effect waves-light btn red ">View Package</a></p>
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Spa Service with Ethiopian Coffee Ceremony<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                </div>
              </div>


              <div class="col s12 m4">
                  <div class="card small">
                      <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="assets/orderd/ct-tr-musuem-coffe.png">
                        <span class="card-title">National Museum and Ethiopian Coffee Ceremony</span> 
                       
                      </div>
                      <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4"><i class="material-icons right">more_vert</i></span>
                        <p><a routerLink="/customized-Tour/transit/national-musuem-and-coffee" class="waves-effect waves-light btn red ">View Package
                        </a>
                      </p>
                      </div>
                      <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">National Museum and Ethiopian Coffee Ceremony<i class="material-icons right">close</i></span>
                        <p>Here is some more information about this product that is only revealed once clicked on.</p>
                      </div>
                    </div>
                  </div>


       </div>
      </div>
  </div>
</section>




    

