

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/namibiya3.jpg">"> 
          <div class="caption center-align">
           
          </div>
        </li>
        <li>
          <img src="assets/image/namibiya2.jpg">">
          <div class="caption left-align">
           
          </div>
        </li>
        <li>
          <img src="assets/image/namibiya1.jpg"> 
          <div class="caption right-align">
           
          </div>
        </li>
      
      </ul>
    </div>
</section>

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

              <div id="Highlights" class="col s12 m12">                   
            

  <div class="container">

    <p class="center">Windhoek, NamibRand Nature Reserve, Swakopmund, Twyfelfontein, Ongava Private Game Reserve and Onguma Game Reserve</p>
   <ul class="collapsible">
  <li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class=" badge green darken-4 white-text">EH-305</span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class=" badge green darken-4 white-text">The Best of Namibia</span></div>
    
    </li>

    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class=" badge green darken-4 white-text">Windhoek</span></div>
      
      </li>

      <li>
          <div class="collapsible-header">
             <h6> Capital City</h6>
            <span class=" badge green darken-4 white-text">Windhoek</span></div>
        
        </li>


      <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class=" badge green darken-4 white-text">Jan. 1, 2018 – Dec. 31, 2018</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
              <h6>Duration</h6>
              <span class=" badge green darken-4 white-text">5 DAYS/ 4 NIGHTS</span></div>
          
          </li>

          <li>
              <div class="collapsible-header">
                <h6>Starting Point</h6>
                <span class=" badge green darken-4 white-text">Windhoek</span></div>
            
            </li>

            
        <li>
            <div class="collapsible-header">
              <h6>Ending Point</h6>
              <span class=" badge green darken-4 white-text">Windhoek</span></div>
          
          </li>


</ul>

</div>
                      
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>





                        


              </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1:  Windhoek</div>


                                  <div class="collapsible-body">

                               
                                  <p> On arrival you will be met and transferred to your hotel. 
                                       Spend the rest of the day is at leisure.

                                      </p>

                                  
                                  </div>
                                </li>
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2:  Sossusvlei</div>
                                  <div class="collapsible-body">

                                      <ul>

                        
                                          <p>You will be collected and transferred to Eros airport for your shuttle flight to Sossusvlei. 
                                            Upon arrival you will be transferred to your lodge. Sossusvlei – meaning “the gathering place 
                                            of the water” – is a striking white pan surrounded by Camelthorn trees and the towering orange
                                             dunes of the Namib. Here the waters of the Tsauchab River are blocked from reaching the ocean
                                              by a formidable wall of dunes, stretching sixty kilometres to the sea. Occasionally 
                                              the flood waters of the river reach Sossusvlei and gather to form a small, shallow 
                                              lake in the middle of the dunes. This desert wilderness is home to a surprising 
                                              variety of animals which thrive in a desert environment. Oryx, springbok, 
                                              aardwolf, ostrich, hyena, bat-eared fox, Cape fox, Burchell’s Zebra 
                                              and Hartman's Mountain Zebra, can all be viewed here. There 
                                              are also over 115 different variety of bird species here, 
                                              including sociable weavers, black and martial eagles and 
                                              the dune lark.</p> 
                                          
  
                                        </ul>
                                  </div>
                                </li>
                                <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3:  Sossusvlei</div>
                                  <div class="collapsible-body"><ul>

                                      <p>Today you'll have an early start with an excursion to Sossusvlei
                                         – one of the most beautiful areas in Namibia is also included.
                                          Be sure to take closed walking shoes (the sand becomes hot
                                           and you will burn your feet in open sandals), a hat,
                                            plenty of water (at least three liters per person),
                                             sun cream and lots of film.</p> 
                                      

                                    </ul>
                                  </div>
                                </li>

                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4:  Swakopmund</div>
                                        <div class="collapsible-body"><ul>
                                     
    
                                            <p>After breakfast you will be transferred to the airstrip for your 
                                              shuttle-flight to Swakopmund. Upon arrival you will be met and 
                                              transferred to your hotel. Founded in 1892 during the period 
                                              of German colonial rule, Swakopmund served as the territory’s 
                                              main harbor for many years. Today this historical desert town,
                                               surrounded by desert and sea, is a popular holiday destination
                                                with a variety of good hotels and pensions, restaurants and 
                                                coffee shops selling traditional German breads, cakes and pastries. 
                                                The sweep of coastline and desert interior offers many options for 
                                                adventure and relaxation.</p> 
                                            
                                               
                                           
    
                                          </ul>
                                        </div>
    
         </li>
    
         <li>
            <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5:  Swakopmund</div>
                <div class="collapsible-body">

                      
                    <p>After breakfast you will depart on a full day trip combining a cruise 
                      in the sheltered waters of the Walvis Bay with an incredible 4x4 
                      excursion to Sandwich Harbour is included. Head between the dunes
                       and the Atlantic Ocean to reach the neighboring town of Walvis Bay, 
                       the only deep water harbor on the Namibian coastline. Board ski boats 
                       and spend the morning exploring the bay area which is home to a great 
                       variety of bird life, turtles, seals and dolphins. Enjoy fresh Namibian 
                       oysters and sparkling wine while watching Cape Fur seals and Dolphins 
                       frolic around the boats. Picnic lunch en route. This remote part of the
                        coastline is only accessible in 4x4 vehicles and even then it is not 
                        always possible for the vehicles to get all the way in! The last few 
                        kilometers are only passable at low tide when a small strip of beach 
                        appears at the foot of the dunes allowing passage into the harbor.
                         If the tide is high the only way to reach Sandwich is to walk along
                          the crest of the dunes as the waves break right at the foot of the 
                          dune wall! The Sandwich lagoon is fed by fresh water seeping from 
                          an inland aquifer and, apart from being a sanctuary for a variety 
                          of birds, is scenically one of the most beautiful spots in Namibia. </p> 
                     
               

                


                
                </div>
              </li>

              <li>
                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6:  Damaraland</div>
                      <div class="collapsible-body"><ul>
              
                          <p>After breakfast you will be transferred to the airstrip for your shuttle-flight to Damaraland. 
                            It's the southernmost roaming ground for the rare black rhino and desert elephant. This is also
                             where you will find the Twyfelfontein Conservancy. Mowani lodge is one of the finest in the 
                             Damaraland region of Namibia, and it lies in a vast and unspoilt wilderness, between the Ugab
                              and Huab Rivers. Outstanding desert scenery, fascinating geological formations and archaeological
                               sites, and an inimitable variety of desert flora and fauna, make this a compelling destination 
                               for many a visitor. The main complex consists of a reception, bar, dining room and a lounge that
                                overlooks the waterhole.</p>

                        </ul>
                      </div>

</li>


<li>
  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 7:  Damaraland</div>
      <div class="collapsible-body"><ul>

          <p>Today you have the option of participating in the activities the lodge offers.
             Activities from the lodge include excursions to the rock engravings at Twyfelfontein, 
             an archaeological s ite that offers more than 2,500 engravings, as well as various paintings. 
             The more adventurous might prefer one of the walking trails, between the boulders and mopane
              trees in the valley below the lodge. It takes hikers to a small waterhole, and a viewpoint.
               Not to be missed, however, is the spectacular sunsets from the camp sun-downer point. 
               Situated close by are other main attractions of the area, including the Burnt Mountain
                and the Organ Pipes, all within easy driving distance.</p>

        </ul>
      </div>

</li>
<li>
  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 8:  Onguma Game Reserve </div>
      <div class="collapsible-body"><ul>

          <p>After breakfast you will be transferred to the airstrip and take the 
              shuttle-flight to Mokuti airstrip (Etosha National Park). Upon arrival
               the lodge will collect you. Etosha, or “the great white place” owes its 
               unique landscape to the Etosha pan, a vast shallow depression of approximately 
               5000 square kilometers. A series of waterholes along the southern edge of the pan 
               attract game into the area. The dry season (May – November) is particularly rewarding
                for game viewing as the rain water has dried up and the game is forced to rely on the
                 life supporting waterholes. Long lines of zebra, wildebeest, kudu, Oryx and springbok 
                 plod along ancient paths from distant grazing areas to the waterholes. Herds of elephant
                  drinking huge amounts of water and then wallow in the water so that all the other the thirsty
                   animals have to wait patiently till they have finished. Predators such as lion and leopard
                    wait at the waterholes knowing the antelope have to drink.</p>

        </ul>
      </div>

</li>

<li>
    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 9:  Onguma Game Reserve </div>
        <div class="collapsible-body"><ul>
  
            <p>Depart on an early morning game drive in Etosha National park in a 4x4 open vehicle.
               Your experienced guide will be happy to stop for any photo opportunities and they are
                well-trained in the best areas to spot wildlife. Return to the lodge for lunch. 
                Afternoon Rhino research drive</p>
  
          </ul>
        </div>
  
  </li>

  
  <li>
      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 10:  Departure </div>
          <div class="collapsible-body"><ul>
    
              <p>After breakfast depart on your final transfer by air to Windhoek Airport.</p>
    
            </ul>
          </div>
    
    </li>
    


                              </ul>
                          
                            </div>
                        
                </div>
                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">

                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i>International Flight.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Accommodation as per the itinerary.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Meals as per the itinerary.</li>                         
                        <li class="collection-item"><i class="material-icons ">check</i>Car Rental - Toyota Fortuner or Similar and GPS.</li>                                                                                           
                    </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">

                            <ul class="collection with-header">

                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Visas.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>All meals, drinks and items not mentioned in includes.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>All items of a personal expense.</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i>Tips and Gratuities Fuel and Car Hire Contract Fee.</li>
                                                                                                                      
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>

