<footer class="section footer section-footer grey darken-3 white-text center">
    <div class="container">
             
<div class="row ">
    <div class="col  s12 m4 l4">
            <h5>Contacts and Customer Support</h5>
            <a href="https://www.ethiopianholidays.com/home/commentandcomplaint"  target="_blank" class="links white-text">Help and contacts Term</a> <br>
            <a href="https://www.ethiopianholidays.com/home/commentandcomplaint" target="_blank" class="links white-text">Comment and Compliants</a> <br>
            <a href="https://www.ethiopianairlines.com/AA/EN/services/support/call-center-numbers" target="_blank" class="links white-text">Call Center Number</a>
    </div>   
    <div class="col s12 m4 l4">
        <h5>Share your Ethiopian Experience</h5>
        <a href="https://twitter.com/flyethiopian" target="_blank" class="links white-text">
            <i class="fab fa-twitter fa-2x"></i>
        </a>
        <a href="https://www.youtube.com/user/flyethiopian" target="_blank" class="links white-text">
                <i class="fab fa-youtube fa-2x"></i>
            </a>
            <a href="https://www.facebook.com/EthiopianHolidays/" target="_blank" class="links white-text">
                    <i class="fab fa-facebook fa-2x"></i>
                </a>
    </div>
    <div class="col s12 m4 l4">
        <h5>Useful Links</h5>
      <ul>
          <li><a href="https://www.ethiopianairlines.com/AA/EN" target="_blank" class=" white-text ">Fly Ethiopian</a>  </li>
          <li><a href="https://www.evisa.gov.et/#/home" target="_blank" class=" white-text ">e-VISA</a> </li>
          <li><a href="https://shebamiles.ethiopianairlines.com/#/about_shebamiles" target="_blank" class=" white-text ">Shebamiles</a> </li>
          <li><a href="https://www.ethiopia.travel/" target="_blank" class=" white-text">Ethipian Tourism Organization</a> </li>
      </ul>  
    </div>
</div>
       
  
</div>
<div class="container ">
    
                  <hr/>   
<p>Ethiopian Holidays All Rights Reserved</p>
</div>
</footer>
 


