
  
  <section>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="assets/image/gorila1.jpg">"> 
            <div class="caption center-align">
           </div>
          </li>
          <li>
            <img src="assets/image/gorila2.jpg">">
            <div class="caption left-align">
               </div>
          </li>
          <li>
            <img src="assets/image/gorila3.jpg"> 
            <div class="caption right-align">
                </div>
          </li>
      
        </ul>
      </div>
  </section>
  
  <br>
  <br>

<section id="holidays" class="section section-popular">
  <div class="container">
      <div class="row">
          
          <div class="col s12">
                  <ul class="tabs tabs-fixed-width tab-demo ">              
                      <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                  </ul>
                </div>
  
 <div id="Highlights" class="col s12 m12">                   
              
    <div class="container">
      
        <p class="center">“From the foothills of the snow-capped Mt. Kilimanjaro to the vast, endless plains of the Masai Mara – 
          this safari will definitely earn its place in your hearts and memories forever. Simply a Classic!”.</p>
   
     <ul class="collapsible">

 <li>
      <div class="collapsible-header">      
          <h6>Tour Code</h6>
        <span class=" badge green darken-4 white-text">EH-205</span></div>
     
    </li>

    <li>
        <div class="collapsible-header">
            <h6>Tour Name</h6>
          <span class=" badge green darken-4 white-text">	
                
            Rwanda Gorilla and chimp’s Experience</span></div>
      
      </li>

      <li>
          <div class="collapsible-header">
             <h6> Country</h6>
            <span class=" badge green darken-4 white-text"> 	
                Rwanda</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
               <h6> Capital City</h6>
              <span class=" badge green darken-4 white-text">	
                  Kigali </span></div>
          
          </li>

   
   

        <li>
            <div class="collapsible-header">
              <h6>Validity</h6>
              <span class=" badge green darken-4 white-text">	               	
                   
                    
             Jan. 1, 2018 – Dec. 31, 2018</span></div>
          
          </li>

          
                
  </ul>

</div>
                        
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>

  
    </div>


                <div id="Itinerary" class="col s12 white-text">
                     
                          <div class="container green darken-4">
                              <ul class="collapsible popout" data-collapsible="accordion">
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Kigali</div>


                                    <div class="collapsible-body">
                                        <p> 
                                            Arrival at Kigali Airport and you will be transferred to your Hotel with assistance of our representative O/N Great Season hotel.</p>

                                    </div>
                                  </li>


                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2:  KIGALI CITY EXPLORATION  </div>
                                    <div class="collapsible-body">

                                     <p>
                                        Start historical-minded exploration of Kigali city with visits to landmarks from colonial, post-independence, 
                                        genocide and post-genocide times i.e. Kigali Solaire, Staderegionale, Kigali Genocide memorial site where over 
                                        259,000 genocide victims were put to rest in mass graves, Dr. Richard Kandt Museum who was the first Germany 
                                        explorer to settle in Kigali, Belgian camp where they killed the 10 Belgian UN soldiers who were protecting 
                                        the moderate prime minister before the start of genocide etc. Transfer to Bugesera in the afternoon to visit 
                                        the reconciliation village where the survivors of genocide live together in harmony with the perpetrators that
                                         killed their own families, Nyamata and Ntarama genocide churches where thousands of innocent people were butchered 
                                         in the house of God.Overnight: - Great Season hotel or Similar</p>
                                    </div>
                                  </li>


                                  <li>
                                <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3:  TRANSFER TO NYUNGWE EN-ROUTE TOUR BUTARE       </div>
                                    <div class="collapsible-body">
                                   <p>
                                      En-route visit the Basilica of Kabgayi, the first catholic cathedral in Rwanda;
                                       Murambi genocide memorial, historical-minded exploration of Nyanza – visit the
                                        King’s palace and traditional Rwanda home; the National Museum, introduction 
                                        to Rwanda’s kingdoms, discovery of colonial architecture, enjoy traditional 
                                        dancers from the museum or the national university. 
                                      Proceed to Nyungwe Forest. Overnight: - Nyungwe Top View Hotel or Similar.</p>
                                    </div>
                                  </li>

                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4:   CHIMPANZEE TREKKING IN NYUNGWE   </div>
                                          <div class="collapsible-body">
                                           
                                         <p>Early breakfast at 4:30am then drive to the edge of the forest where chimpanzee trekking in Nyungwe starts. In the afternoon,
                                            visit the waterfalls inside the rainforest which also gives you the 
                                           opportunity to see rare plants, birds and smell the unique forest flowers etc. Overnight: - Nyungwe Top View Hotel or Similar.</p>
                                          </div>
      
           </li>
      
           <li>
              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5: TRANSFER TO VOLCANOES NATIONAL PARK   </div>
                  <div class="collapsible-body">

                  
                <p>Transfer from Nyungwe National Park to Volcanoes National Park via Ngororero route. 
                  The journey takes around 9 hours but on good roads or follow the dirt bumpy road 
                  that meanders around Lake Kivu with beautiful scenery of “1000 hills and a million
                   smiles”. The drive will take more than 10 hours but it’s a great drive through the
                    remotest villages of Rwanda as you enjoy local lifestyles along the Congo-Nile 
                    trail. You will have packed lunch and enough water plus juice on the drive. Le Bambou Lodge or Similar.</p>
                  </div>
                     
                
                </li>

                <li>
                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6: GORILLA TREKKING  </div>
                        <div class="collapsible-body">
      
                          <p>Brief of the day: Early breakfast at 6am then transfer to the park at 6am for briefings and grouping. Option to 
                            visit Buhanga forest in the afternoon where all the Rwanda kings were initiated or Kinigi Cultural Village for 
                            traditional dances and music, bio-mimicry and traditional healing lessons. Volcanoes National Park: After breakfast
                             we transfer to the park. After completing our park formalities, we are embark on a once in a life time experience 
                             of tracking mountain gorillas. Once you spot them you are allowed to spend an hour watching your closest long lost 
                             cousin. This is perhaps one of the most breathtaking wildlife experiences on earth!!! You get so close to these 
                             awesome giant primates. You stare at each other blankly not knowing who to break the long silence first. Tracking
                              the gorillas through the light mountain forest on the slopes of the Virunga is a magical experience. Be back at 
                              the base in time for lunch! Some gorilla families 
                            however are more elusive and tracking can take a full day, especially when it is wet and muddy. Return to Kigali.
                            </p>
                        </div>
                      </li>

                  </ul>      
                  </div>
                          
                  </div>


                  <div id="Included" class="col s12">
                    <div class="container">

                   
                      <ul class="collection with-header">

                          <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                          <li class="collection-item"><i class="material-icons ">check</i> Airport transfers.</li>                       
                          <li class="collection-item"><i class="material-icons ">check</i> Accommodation with full board Basis (breakfast, lunch & dinner).</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Kigali city tour & reconciliation village educational tours.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Park entrance fees thrilling gorilla & chimpanzee trekking.</li> 
                          
                          <li class="collection-item"><i class="material-icons ">check</i> Waterfall hike & canopy walk.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> historical – cultural site tours.
                            </li> 

                            <li class="collection-item"><i class="material-icons ">check</i>Professional driver guides & trekking guides, taxes and administrative costs.</li>
                            <li class="collection-item"><i class="material-icons ">check</i> Experiential community based tours.
                              </li> 
                              <li class="collection-item"><i class="material-icons ">check</i> Ground transport</li>
                            <li class="collection-item"><i class="material-icons ">check</i>  Transportation with 4x4 vehicles.
                              </li> 

                        </ul>
                   
     
                    </div>
                        
                     
              
                      </div>

                      <div id="Excluded" class="col s12">
                          <div class="container">

                              <ul class="collection with-header">

                                  <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                  <li class="collection-item"><i class="material-icons ">cancel</i>International and local flight.</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Tips for your driver-guide during safari (recommended ).</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Visa entry fees.</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Drinks.</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i> Travel insurance – (Recommended ).</li> 
                                  <li class="collection-item"><i class="material-icons ">cancel</i>Anything not included in the itinerary.</li>      
                                  <li class="collection-item"><i class="material-icons ">cancel</i>Any personal expenses & Items of personal nature.</li> 
                                   </ul>
                             
        
                            </div>
                    
                    </div>
                    
                      
  
                        </div>
  </div>
  </section>
  

