



<section>
    <div class="row">
      <img class="responsive-img ctimg" src="assets/orderd/ct/ct-saf-tanza.png">
    </div>
  </section>
  
  
  
  
  <!-- 
  
  <section>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="assets/image/london.jfif">"> 
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/paris.jfif">">
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/londonn.jfif"> 
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/southafricaa.jfif">
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>
  </section> -->
  
  <br>
  <br>
  
  <section id="holidays" class="section section-popular">
  <div class="container">
      <div class="row">
          
          <div class="col s12">
                  <ul class="tabs tabs-fixed-width tab-demo ">              
                      <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                  </ul>
                </div>
  
                <div id="Highlights" class="col s12 m12">                   
              <p class="center">This safari features all of the popular Northern Circuit game parks. With the Best of Tanzania Safari travel in custom designed 4x4 safari vehicles with open roofs for game viewing.  This is a small group seat-in- vehicle safari with a maximum of 6 travellers per vehicle, all with window seats. Traveling for 8- days, the safari includes meals, 
                accommodation, park entry fees and visit to Lake Manyara, Serengeti & Ngorongoro Crater.</p>
  
    <div class="container">
     <ul class="collapsible">
    <li>
      <div class="collapsible-header">      
          <h6>Tour Code</h6>
        <span class="new badge ">	
            EH-S-1301</span></div>
     
    </li>
  
    <li>
        <div class="collapsible-header">
            <h6>Hot Air Balloon Ride Tours</h6>
          <span class="new badge">	
              The Best of Tanzania Safari 

            </span></div>
      
      </li>
  
   
      <li>
          <div class="collapsible-header">
             <h6> Country</h6>
            <span class="new badge  darken-4">Tanzania</span></div>
        
        </li>
        <li>
          <div class="collapsible-header">
            <h6>Arrival City</h6>
            <span class="new badge">	
                Kilimanjaro</span></div>
        
        </li>
  
        <li>
            <div class="collapsible-header">
              <h6>Validity</h6>
              <span class="new badge">	
                  Dec. 31, 2018

                </span></div>
          
          </li>
  </ul>
  
  </div>
                        
  <br>
   
  <p class="center-align">
      <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 
  
    </p>
    <!-- Modal Structure -->
  <div id="enquire" class="modal modal-fixed-footer">
      <app-search-enquire></app-search-enquire>
  
  </div>
  
    <table class="responsive-table striped highlight center">
      <thead>
        <tr>
            <th>ITINERARY</th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <td>Duration :</td>
          <td>8 DAYS/ 7 NIGHTS

            </td>
        </tr>
        <tr>
          <td>Starting Point:</td>
          <td>Kilimanjaro</td>
        </tr>
        <tr>
          <td>Ending Point:</td>
          <td>Kilimanjaro</td>
        </tr>
      </tbody>
    </table>
          
  
  
                          
  
  
                </div>
  
  
                <div id="Itinerary" class="col s12 white-text">
                     
                          <div class="container green darken-4">
                              <ul class="collapsible popout" data-collapsible="accordion">
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: MOSHI | SPRINGLANDS HOTEL</div>
                                   <div class="collapsible-body">
  
                                   <p> Arrive at Kilimanjaro Airport, Tanzania. After clearing customs, look for your ET-Holidays representatives. He will be waiting for you, holding a sign with your name on it. Your driver will transport you to Springlands Hotel on the outskirts of Moshi. Overnight Springlands Hotel (with breakfast)</p>
                                    
                                    </div>
                                  </li>
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: LAKE MANYARA | HIGHVIEW HOTEL</div>
                                    <div class="collapsible-body">
  
                                    
                                            <p>
                                                This morning drive to Lake Manyara National Park. Set against the steep escarpment of the Rift Valley, you’ll find Lake Manyara National Park with its evergreen groundwater forest and variety of ecosystems including acacia woodland, grassy plains, a swampy fan delta, and – of course – the expansive lake. This diversity attracts a wide variety of mammal, bird, and wildlife species. Manyara is also home to rare tree climbing lions. The park offers excellent game viewing with buffalo, impala, giraffe, bushbuck, waterbuck, hippos, and lots of elephants’ roam near the lake. Also look out for blue monkeys, vervet monkeys, and the very active Olive baboon troops.

                                                Overnight Highview Hotel (with lunch, dinner & breakfast)  
                                            </p> 
                                            
                                    </div>
                                  </li>
                                  
                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3:  SERENGETI | WILDCAMP</div>
                                      <div class="collapsible-body">
    
                                      
                                              <p>
                                                  Head out after breakfast for the drive to Serengeti National Park. The word “Serengeti” is derived from the Maasai language, meaning “endless plain.” En-route to the Serengeti you can opt to visit as Masaai Village, a perfect place to explore Maasai culture and even participate in some tribal activities Or visit Olduvai Gorge, known as the Cradle of Humanity; the Museum is a testament to the long journey that humanity has made from its humble roots in East Africa to its current state as the dominant species on earth. Enjoy a game drive en-route to your camp.

                                                  Overnight at one of our Wild Camps (with lunch, dinner & breakfast) 
                                              </p> 
                                              
                                      </div>
                                    </li>
                                    
                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4/5: SERENGETI | WILDCAMP</div>
                                      <div class="collapsible-body">
    
                                      
                                              <p>
                                                  Relax with two full days in the Serengeti with game drives – unequalled for its beauty and home to the Great Wildebeest Migration. The huge herds of plains game such as wildebeest, zebra and antelope dominate the park while the attendant predators such as lion and cheetah are to be found amongst the many kopjes scattered across the plain. Its landscape varies from open grass plains in the south, savannah with scattered acacia trees in the center, hilly, wooded grassland in the north, to extensive woodland and black clay plains to the west.

                                              Overnight at one of our Wildcamps (with lunch, dinner & breakfast)
                                              * Ikoma Wildcamp or Serengeti Wildcamp or Serengeti Wildebeest Camp   
                                              </p> 
                                              
                                      </div>
                                    </li>
                                    
                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6: NGORONGORO | WILDCAMP</div>
                                      <div class="collapsible-body">
    
                                      
                                              <p>
                                                  Enjoy a morning game drive in the Serengeti before your transfer to the Ngorongoro Conservation Area. Check-in at the lodge for an afternoon walking safari. Walking with your local Maasai guide, hiking through the hills and plains of Maasai country you will get to know this ancient culture well, perhaps bumping into local herdsmen along the way or the many animals that cohabitate with them within the Ngorongoro Conservation Area.
                                                  Overnight Ngorongoro Wild Camp (with lunch, dinner & breakfast) 
                                              </p> 
                                              
                                      </div>
                                    </li>
                                    
                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 7:  NGORONGORO | HIGHVIEW HOTEL</div>
                                      <div class="collapsible-body">
    
                                      
                                              <p>
                                                  This morning drive to Lake Manyara National Park. Set against the steep escarpment of the Rift Valley, you’ll find Lake Manyara National Park with its evergreen groundwater forest and variety of ecosystems including acacia woodland, grassy plains, a swampy fan delta, and – of course – the expansive lake. This diversity attracts a wide variety of mammal, bird, and wildlife species. Manyara is also home to rare tree climbing lions. The park offers excellent game viewing with buffalo, impala, giraffe, bushbuck, waterbuck, hippos, and lots of elephants’ roam near the lake. Also look out for blue monkeys, vervet monkeys, and the very active Olive baboon troops.
  
                                                  Overnight Highview Hotel (with lunch, dinner & breakfast)  
                                              </p> 
                                              
                                      </div>
                                    </li>
                                    
                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 8: KILIMANJARO AIRPORT</div>
                                      <div class="collapsible-body">
    
                                      
                                              <p>
                                                  Enjoy a morning at leisure before your transfer to Kilimanjaro airport for your flight home.
                                              </p> 
                                              
                                      </div>
                                    </li>
                                    
                              
                              
  
  
                                </ul>
                            
                              </div>
                          
                  </div>
                  <div id="Included" class="col s12">
                    <div class="container">
  
                   
                      <ul class="collection with-header">
  
                          <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                          <li class="collection-item"><i class="material-icons ">check</i> Full board (breakfast, lunch & dinner) accommodation while on safari</li>
                          <li class="collection-item"><i class="material-icons ">check</i>Bed and breakfast accommodation in Moshi</li>
                          <li class="collection-item"><i class="material-icons ">check</i>Transfers to and from the airport</li> 
                          <li class="collection-item"><i class="material-icons ">check</i>All game drives viewing in a custom built 4x4 Safari Land Cruiser</li>
                          <li class="collection-item"><i class="material-icons ">check</i> All park and entrance fees</li>
                          <li class="collection-item"><i class="material-icons ">check</i>Transportation with 4x4 vehicles with viewing roofs</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Professional English speaking driver/guide during the safari</li>   
                          <li class="collection-item"><i class="material-icons ">check</i>Bottled water in safari vehicles</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Ngorongoro Crater car supplement fee</li>   
                          <li class="collection-item"><i class="material-icons ">check</i>Current Government taxes and levies</li>
                          <li class="collection-item"><i class="material-icons ">check</i> 24-Hour support during the safari from our office in Moshi</li>                                                                                           
                      </ul>
                   
     
                    </div>
                        
                     
              
                      </div>
  
                      <div id="Excluded" class="col s12">
                          <div class="container">
  
                              <ul class="collection with-header">
                                  <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                  <li class="collection-item"><i class="material-icons ">check</i>  Internal or International flights</li>
                                  <li class="collection-item"><i class="material-icons ">check</i> Balloon excursion (US$550 pp)</li> 
                                  <li class="collection-item"><i class="material-icons ">check</i>Entry visa to Tanzania</li>
                                  <li class="collection-item"><i class="material-icons ">check</i> Travel and health insurance</li>
                                  <li class="collection-item"><i class="material-icons ">check</i>Gratuities to your guide, hotel staff and porters</li>
                                  <li class="collection-item"><i class="material-icons ">check</i>Meals, drinks and excursions not described in the itinerary </li>
                                  <li class="collection-item"><i class="material-icons ">check</i> Any other items of a personal nature, laundry, telephone and postage</li>
                                  <li class="collection-item"><i class="material-icons ">check</i> Item of personal Nature</li>
                                  <li class="collection-item"><i class="material-icons ">check</i> Masaai village tour & Olduvai Gorge Tour</li>


                                                                                                                        
                              </ul>
                             
        
                            </div>
                    
                    </div>
                    
                      
  
                        </div>
  </div>
  </section>
  
  