

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/cap1.png">"> 
          <div class="caption center-align">
           
          </div>
        </li>
        <li>
          <img src="assets/image/cap2.png">">
          <div class="caption left-align">
           
          </div>
        </li>

        <li>
          <img src="assets/image/cap3.png">">
          <div class="caption left-align">
           
          </div>
        </li>
     
      </ul>
    </div>
</section>

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

              <div id="Highlights" class="col s12 m12">                   
            
<br>
  <div class="container">

 <ul class="collapsible">
  <li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class=" badge green darken-4 white-text">EH-303</span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class=" badge green darken-4 white-text">Luxury Cape and Kruger</span></div>
    
    </li>

    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class=" badge green darken-4 white-text">Cape Town</span></div>
      
      </li>

      <li>
          <div class="collapsible-header">
             <h6> Capital City</h6>
            <span class=" badge green darken-4 white-text">Cape Town</span></div>
        
        </li>


      <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class=" badge green darken-4 white-text">Jan. 1, 2018 – Dec. 31, 2018</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
              <h6>Duration</h6>
              <span class=" badge green darken-4 white-text">8 DAYS/ 7 NIGHTS</span></div>
          
          </li>

          <li>
              <div class="collapsible-header">
                <h6>Starting Point</h6>
                <span class=" badge green darken-4 white-text">Cape Town</span></div>
            
            </li>

            
        <li>
            <div class="collapsible-header">
              <h6>Ending Point</h6>
              <span class=" badge green darken-4 white-text">Cape Town</span></div>
          
          </li>


</ul>

</div>
                      
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>





                        


              </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1:  Cape Town</div>


                                  <div class="collapsible-body">                                 
                                  <p> On arrival in Cape Town you will 
                                    be met by your driver and transferred 
                                    to your hotel. Settle into your hotel
                                     and relax after your flight.
                                      </p>

                                  
                                  </div>
                                </li>
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: Cape Town</div>
                                  <div class="collapsible-body">

                                      <ul>

                        
                                          <p>In the Morning depart on a scheduled full day tour of the Cape Peninsula. 
                                            Highlights include Seal Island Hout Bay: Trips departing from Hout Bay
                                             Harbour ferry passengers across to nearby Duiker Island – also known
                                              as Seal Island – where thousands of Cape Fur Seals can be seen in
                                               their natural habitat. The boat trip provides beautiful views of 
                                               the bay, the harbour, The Sentinel and Chapman’s Peak Chapman’s
                                                Peak Drive, it is one of the most spectacular marine drives 
                                                anywhere in the world. The 9km route, with its 114 curves, 
                                                skirts the rocky coastline of Chapman's Peak. The drive offers 
                                                stunning 180° views with many areas along the route where you can 
                                                stop and take in the scenery or sit down for a relaxing picnic. 
                                                Cape Point is a spectacular sight, covered in endemic fynbos and 
                                                home to breathtaking bays, beaches and rolling green hills and 
                                                valleys, just 60km outside of Cape Town. Cape Point is open 
                                                daily and is a must-see. The Boulders Visitor Centre is home
                                                 to the famous colony of Jackass Penguins, so called for their
                                                  hilarious braying call. This is a truly special experience.
                                                   After you have fallen in love with the penguins head to the
                                                    secluded Boulders Beach and take a swim in the comparatively
                                                     warm waters of the False Bay.</p> 
                                          
  
                                        </ul>
                                  </div>
                                </li>
                                <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3:  Cape Town</div>
                                  <div class="collapsible-body"><ul>

                                      <p>A full day at leisure for you to enjoy Cape Town at your own pace.</p> 
                                      

                                    </ul>
                                  </div>
                                </li>

                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4:  Cape Town</div>
                                        <div class="collapsible-body"><ul>
                                     
    
                                            <p>After breakfast depart the hotel for a private full day tour of the Cape Winelands. 
                                              Highlights include a visit to the historical town of Stellenbosch, a visit to the 
                                              Ernie Els Winery and wine tastings in some of the finest wine estates. Then we set
                                               off for our return to the Mother City.</p> 
                                            
                                               
                                           
    
                                          </ul>
                                        </div>
    
         </li>
    
         <li>
            <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5-8:  SwakShamwari Private Game Reserveopmund</div>
                <div class="collapsible-body">

                      
                    <p>You will be transferred to Cape Town Airport for your flight to Kruger Mpumalanga 
                      International Airport (Excluded), where on arrival you will be met and transferred 
                      to Lion Sands River Lodge where you will spend the next 3 nights on safari. </p> 
                     
               

                


                
                </div>
              </li>

              <li>
                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 9:  Departure</div>
                      <div class="collapsible-body"><ul>
              
                          <p>After an early game drive, enjoy breakfast and then be transferred to Kruger 
                            Mpumalanga International Airport for your flight to Johannesburg OR Tambo International Airport</p>

                        </ul>
                      </div>

</li>

    


                              </ul>
                          
                            </div>
                        
                </div>
                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">

                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i>International Flight.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Accommodation as per the itinerary.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Meals as per the itinerary (7 breakfast, 3 lunch, 3 dinner)</li>                         
                        <li class="collection-item"><i class="material-icons ">check</i>Local branded drinks on safari.</li>  
                        <li class="collection-item"><i class="material-icons ">check</i>All transfers.</li>  
                        <li class="collection-item"><i class="material-icons ">check</i>Private Cape Point and Winelands Tour.</li>  
                        <li class="collection-item"><i class="material-icons ">check</i>Safari Activities and Park Fees.</li>                                                                                           
                    </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">

                            <ul class="collection with-header">

                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Visas.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>All meals, drinks and items not mentioned in includes.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>All items of a personal expense Tips and Gratuities.</li> 
                                                                                                                     
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>

