



<section>
    <div class="row">
      <img class="responsive-img" src="assets/orderd/ct-exp-bike2.png">
    </div>
  </section>
  
  
  
  
  <!-- 
  
  <section>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="assets/image/london.jfif">"> 
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/paris.jfif">">
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/londonn.jfif"> 
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/southafricaa.jfif">
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>
  </section> -->
  
  <br>
  <br>
  
  <section id="holidays" class="section section-popular">
  <div class="container">
      <div class="row">
          
          <div class="col s12">
                  <ul class="tabs tabs-fixed-width tab-demo ">              
                      <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                  </ul>
                </div>
  
                <div id="Highlights" class="col s12 m12">                   
              <p class="center">Captivate your senses with a fabulous guided bicycle trip in Ethiopia.

              <br>    Our experienced guides will make you feel like a local as you pedal through lively Ethiopian villages, explore the Blue Nile Falls or test your limits on one of the exhilarating climbs through Simien Mountains.
                  
             <br>     A Trek Travel bike tour in Ethiopia is sure to be one you will want to re-discover again and again.</p>
  
    <div class="container">
     <ul class="collapsible">
    <li>
      <div class="collapsible-header">      
          <h6>Tour Code</h6>
        <span class="new badge ">EH-190
  
        </span></div>
     
    </li>
  
    <li>
        <div class="collapsible-header">
            <h6>Hot Air Balloon Ride Tours</h6>
          <span class="new badge">	
              Ethiopia Biking Tour

            </span></div>
      
      </li>
  
  
      <li>
          <div class="collapsible-header">
             <h6> Country</h6>
            <span class="new badge  darken-4">Ethiopia</span></div>
        
        </li>
        <li>
          <div class="collapsible-header">
            <h6>Arrival City</h6>
            <span class="new badge">	
                Bahir Dar</span></div>
        
        </li>
        <li>
          <div class="collapsible-header">
            <h6>Departure City</h6>
            <span class="new badge">	
                Addis Abeba</span></div>
        
        </li>
        <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class="new badge">	
                Jan. 1, 2018 – April 31, 2018</span></div>
        
        </li>
  
      
  </ul>
  
  </div>
                        
  <br>
  
   
  <p class="center-align">
      <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

    </p>
    <!-- Modal Structure -->
  <div id="enquire" class="modal modal-fixed-footer">
      <app-search-enquire></app-search-enquire>
  
  </div>
  
  
    <table class="responsive-table striped highlight center">
      <thead>
        <tr>
            <th>ITINERARY</th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <td>Duration :</td>
          <td>	14 DAYS/ 13 NIGHTS </td>
        </tr>
        <tr>
          <td>Starting Point:</td>
          <td>Bahir Dar</td>
        </tr>
        <tr>
          <td>Ending Point:</td>
          <td>Nosy Addis Ababa</td>
        </tr>
      </tbody>
    </table>
          
  
  
                          
  
  
                </div>
  
  
                <div id="Itinerary" class="col s12 white-text">
                     
                          <div class="container green darken-4">
                              <ul class="collapsible popout" data-collapsible="accordion">
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1:Arrival in Addis Ababa and fly Addis – Bahirdar</div>
                                   <div class="collapsible-body">
  
                                   <p>Upon your arrival at Bole International Airport and you will clear immigration and proceed to baggage claim, after collecting your checked bags, clear customs and pass through the arrivals hall where you will be met by our representative, who will assist you with your transfer to the domestic airport for your flight to Bahir Dar. Arrive Bahir Dar and transfer to Hotel. In the afternoon (after a small lunch at the hotel) we test the bikes in the hotel garden and make adjustments to the bikes where necessary. Walk and relax in the palm-lined city of Bahirdar.

                                    <br>  Meal Plan: Breakfast, Lunch & Dinner                                                               Overnight: Hotel 
                                      
                                        </p>
                                    
                                    </div>
                                  </li>
                              
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2:Addis Ababa to Debre Libanos </div>
                                   <div class="collapsible-body">
  
                                   <p>Today, the real bike adventure begins. We depart by bike at the hotel (between 9 and 9h30) and drive the first 6 km through the village on a busier road and then turn down to a wide dirt road. The dusty road goes mainly downhill (cycling a total of 1,800 meters to 1,600 meters above sea level) through a beautiful agricultural area. We regularly drive through small villages welcomed by the many enthusiastic schoolchildren. After 34 km we come through a small dirt road to the entrance of the Blue Nile Valley waterfalls. We plan a picnic lunch sitting on small benches in a local coffee booth.

                                 <br>     In the afternoon we walk over the oldest stone bridge in Ethiopia and over a long suspension bridge to a beautiful viewpoint over the waterfalls. Afterward, it is still a kilometer on a dried grass path back to the support vehicle. Transfer back to the hotel.  34 km cycling, +/- 4 hours including stops
                                      
                                <br>      Meal Plan: Breakfast, Lunch & Dinner                                                               Overnight: Hotel 
                                    
                                    </p>
                                    
                                    </div>
                                  </li>
                              
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3:Addis Ababa - Awash National Park </div>
                                   <div class="collapsible-body">
  
                                   <p>After an early breakfast, we drive a 7 km by bicycle (leave the hotel at 8 AM) through the village towards the shores of Lake Tana. We turn right onto a wide dirt road. Also, this ride goes through a vast agricultural area. Along the way, we meet regularly shepherds with a small herd of skinny cows. After a drink/rest stop under a big tree, overlooking a small village we drive on a narrow road with beautiful views of the vast lake. After 30 km we cycle through Victory, a lively village and the road is just as pretty steep for a small 500 meters. After a nice descent, we come to the entrance of Ura Kidane Mihret church. This round church interior decorated with beautiful, brightly colored murals, 100 to 250 years old. After an extensive visit, we take the bike to the shores of the lake and enjoy a picnic lunch on a nice terrace overlooking the lake. A picnic might be on the boat if we are running out of time.

                                  <br>    We will then take a boat back to the city of Bahirdar to meet with our support vehicle and the drive to
                                      
                                 <br>     Gonder for an overnight stay. Until the lake 33 km cycling, +/- 3 hours including stops
                                      
                                 <br>     Meal Plan: Breakfast, Lunch & Dinner                                                          Overnight: Hotel 
                                    </p>
                                    
                                    </div>
                                  </li>
                              
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4: </div>
                                   <div class="collapsible-body">
  
                                   <p>Bike from Bahirdar to and around Lake Tana and drive to Gonder.
                                 <br>     In the morning coolness, we start our day walk led by a local guide. We walk all day (6 to 7 hours) along the mountain ridge with beautiful views of the surrounding mountains. Because of the altitude, we take it easy. To wait for 2 hours the trailer we will provide you with extra water and snacks. Around noon we plan a picnic lunch at one of the breathtaking viewpoints. We end the day with an extensive visit at the baboons (monkey species typical of this region) getting ready on a nearby lawn to stay overnight in one of the many caves in the neighborhood.
                                      
                                 <br>     Meal Plan: Breakfast, Lunch & Dinner                                                           Overnight: Hotel 
                                    </p>
                                    
                                    </div>
                                  </li>
                              
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5:</div>
                                   <div class="collapsible-body">
  
                                   <p>Drive from Kosoye to Debark and Semien Mountain National Park.
                                  <br>    After an early breakfast (leave around 7:30 am), we cycle up and down over a nice asphalt road through villages and small towns. The closer we get to the Simien mountains the more eucalyptus trees we see on the side of the road. Upon arrival in Debark, we pay the entrance fee of the park and plan a basic lunch at a local restaurant. The bike ride in the afternoon on gravel is heavy, partly because of the altitude. We pass some messy villages where the locals welcome us warmly. During the first km, there are some descents, then it is mostly uphill, some long and steep climbs. However, there is always the assistance of the support vehicle to assist weary cyclists.
                                      
                                 <br>     65 + 21 km cycling, 4 hours + 2.5 hours including stops
                                      
                                  <br>    Meal Plan: Breakfast, Lunch & Dinner                                                              Overnight: Hotel 
                                   </p>
                                    
                                    </div>
                                  </li>
                              
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6:</div>
                                   <div class="collapsible-body">
  
                                   <p>Hike and visit around Semien Mountains National Park
 
                               <br>       In the morning coolness, we start our day walk led by a local guide. We walk all day (6 to 7 hours) along the mountain ridge with beautiful views of the surrounding mountains. Because of the altitude, we take it easy. To wait for 2 hours the trailer we will provide you with extra water and snacks. Around noon we plan a picnic lunch at one of the breathtaking viewpoints. We end the day with an extensive visit at the baboons (monkey species typical of this region) getting ready on a nearby lawn to stay overnight in one of the many caves in the neighborhood.
                                      
                               <br>       Meal Plan: Breakfast, Lunch & Dinner                                                           Overnight: Hotel 
                                    </p>
                                    
                                    </div>
                                  </li>
                              
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 7:</div>
                                   <div class="collapsible-body">
  
                                   <p>Drive from Semien Mountains to Axum via Limalimo and crossing Tekeze River.
                                  <br>    Leave the hotel at 8h30-9 AM. Transfer to Debark to drop the scouts then continue by vehicle for another +/- 145 km. Today we start with a long transfer (160 km) by support vehicle through the TekezeMountains. The road, further to the north through spectacular scenery, is still partially under construction. The road winds through the beautiful mountains Tekeze, again the views are unique and spectacular. At lunch time we stop to eat a picnic lunch. Arriving at the height of a beautiful open space we get on the Bike and cycle on a good asphalt road (road 30) by a vast agricultural area. The road goes slightly up and down, but in spite of the sometimes strong wind, the route is not very sporty.
                                      
                                <br>      In Shire we load the bikes on the trailer and drive the last 60 km to Axum.
                                      
                                       
                                      
                                <br>      Meal Plan: Breakfast, Lunch & Dinner                                                         Overnight: Hotel       Meal Plan: Breakfast, Lunch & Dinner                                                               Overnight: Hotel 
                                    
                                    </p>
                                    
                                    </div>
                                  </li>
                              
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 8:</div>
                                   <div class="collapsible-body">
  
                                   <p>Drive from Axum to Gherhaltha through Adwa Mountains
                                  <br>    In the morning we plan a city tour led by a local guide to visit the many cultural highlights of the city. We start this historical section with an extensive visit to the obelisks and the accompanying tombs. Afterward, you will visit the church (not museum), the pole, the stone of Ezana and the Tomb of Kaleb and GebreMeskel. We take lunch in a nice restaurant in the old town. In the afternoon we drive to Gherhaltha passing the town of Adwa.In these mountains of Adwa, 40,000 Ethiopians lost their lives in 1896, after a courageous battle (incidentally battle won!) against the Italians. We take the short cut road which only takes maximum of3 and half hours’ drive to Gherhaltha Lodge in Hawzien.
                                      
                                       
                                      
                                <br>      Meal Plan: Breakfast, Lunch & Dinner                                                              Overnight: Hotel 
                                    </p>
                                    
                                    </div>
                                  </li>
                              
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 9:</div>
                                   <div class="collapsible-body">
  
                                   <p>Today we plan a day trip by bicycle through the beautiful scenery of the GheraltaMountains. We cycle through the countryside and enjoy the many spectacular views of the red-brown mountains. Most of the ride today is on a dirt road. Along the way, we visit first the little church of DugumSilassie.

                             <br>         The route is rather sportive; a combination of climbing and descending as well as the poor state of the road, but the landscape is unique. Also today you have the assistance of the support vehicle. After 32 km we arrive at the church of Abreha We Atsibeha. Depending on the hour of arrival, we plan a picnic lunch here. Given tomorrow a longer bike ride we propose after an extensive visit to the church, to load the bikes on the trailer and drive back to the lodge.
                                      
                            <br>          32 (from Gheralta) or 25 km (from Korkor) cycling one way(thetwo way ride will be up to 64 kms)
                                      
                               <br>       Meal Plan: Breakfast, Lunch & Dinner                                                          Overnight: Hotel 
                                    </p>
                                    
                                    </div>
                                  </li>
                              
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 10:</div>
                                   <div class="collapsible-body">
  
                                   <p>Drive from Gheraltha to Mekelle and bike aroun to Abi Adi
                                    After a delicious breakfast, we depart by bicycle at the hotel, back to Megab. The road winds kilometers through the varied landscape of russet mountains and plains full of cacti. As no visit planned today, we have the whole day to cover the + 70 km. along the way we stop for a picnic lunch sitting in the shade of a tree. The bike ride to AbiAdi is really beautiful. Here we load the bikes on the trailer and drive an hour to two Mekkele. 73 km cycling
                                      
                               <br>       Meal Plan: Breakfast, Lunch & Dinner                                                              Overnight: Hotel
                                    </p>
                                    
                                    </div>
                                  </li>
                              
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 11: </div>
                                   <div class="collapsible-body">
  
                                   <p>Drive from Mekelle to Woldia and if the day is Thursday visit the cattle Market:
                                      Today is a rest day with a transfer to Woldiya. If you pls this day on a Thursday you can visit the very busy and lively cattle market. You can bring an extensive visit to this market where they trade camels, goats, and cattle. Personally, we advise booking the dates so that day 12 is a Thursday. Cycling: 30 Kms
                                      
                                  <br>    Meal Plan: Breakfast, Lunch & Dinner                                                              Overnight: Hotel 
                                    </p>
                                    
                                    </div>
                                  </li>
                              
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 12: </div>
                                   <div class="collapsible-body">
  
                                   <p> Drive from Woldia to Lalibela via Gashena and Dilb
                                      After an early breakfast, we take the support vehicle to the top of a 3600-meter high mountain pass where we unload the bikes. We cycle through a very desolate landscape.
                                      
                               <br>       At the exit to Gashena we stop for a picnic lunch or if taking the road via Dilb we will then stop for a picnic around Muja while the bikes are loaded to transfer us to Lalibela.
                                      
                              <br>        50 km cycling
                                      
                              <br>        Meal Plan: Breakfast, Lunch & Dinner                                                                Overnight:  Hoteleal Plan: Breakfast, Lunch & Dinner                                                               Overnight: Hotel 
                                    
                                    </p>
                                    
                                    </div>
                                  </li>
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 13: </div>
                                   <div class="collapsible-body">
  
                                   <p> Sightseeing in Lalibela and visit the Rock –Hewn churches of Lalibela.
                                      After a nice breakfast in our hotel, with spectacular views of the low fields, we bring under the guidance of a local guide an extended visit to the highlights of this ancient city, known as the Black Jerusalem. We will explore the various rock churches in the company of many pilgrims and colorful priests. We end this beautiful day with a sunset over Bet Giorgis (House of St. George), a church in the shape of a cross carved into the rock.
                                      
                                  <br>    Meal Plan: Breakfast, Lunch & Dinner                                                              Overnight: Hotel 
                                    </p>
                                    
                                    </div>
                                  </li>
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 14: </div>
                                   <div class="collapsible-body">
  
                                   <p> Drive Lalibela-Yimrhane Christos-lalibela (Optional we can end up our tour today by 
                                      Today will be a sportive but beautiful day. We cycle on a gravel road which has some pieces in poor condition. The rather steep but short climbs sometimes follow each other rapidly, leaving little chance to recover. However, you are not required to cycle the whole distance, the support vehicle is always around to pick up the weary travelers. The route is beautiful and we stop every 10 km to replenish our energy reserves.
                                      
                           <br>           We drive out of the village through a very nice 4-5 km long winding descent. What follows and scenic drive through small villages stretched between the mountains. In this remote area there is a lot of begging children, but fortunately in a playful way. The clothes full of holes (often the children wear but one garment or a pair of pants or a sweater) prove the great poverty that prevails here.
                                      
                                       
                                      
                             <br>         On arrival at the church, we eat our picnic lunch in a local hut.
                                      
                          <br>            Afterwards, it is still a 10 minutes’ walk to the YemrehannaKristos Church.
                                      
                             <br>         After an extensive visit, we take the support vehicle back to Lalibela where we enjoy a last meal.
                                      
                             <br>        45 km cycling = + 5 hours including stops
                                      
                              <br>        Meal Plan: Breakfast, Lunch & Dinner                                                              Overnight: Hotel
                                    </p>
                                    
                                    </div>
                                  </li>
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 15:Fly from Lalibela to Addis and departure </div>
                                   <div class="collapsible-body">
  
                                   <p> Transfer to the airport around 9: 30 am for the flight which leaves 12: 15. In the evening there will be   traditional dinner with folk dances as a Farwell night party. Three hours in prior to your departure you will be transferred to the airport.

                                 <br>     Meal Plan: Breakfast, Lunch & Dinner
                                    </p>
                                    
                                    </div>
                                  </li>
  
  
                                </ul>
                            
                              </div>
                          
                  </div>
                  <div id="Included" class="col s12">
                    <div class="container">
  
                   
                      <ul class="collection with-header">
                      
                          <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                          <li class="collection-item"><i class="material-icons ">check</i> International and domestic flight</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Meet and greet at airport</li>
                          <li class="collection-item"><i class="material-icons ">check</i>All accommodation based o n twin/double bed basis</li> 
                          <li class="collection-item"><i class="material-icons ">check</i>Meal: Breakfast, Lunch & Dinner</li>
                          <li class="collection-item"><i class="material-icons ">check</i>All entrance fees as the package itinerary</li>
                          <li class="collection-item"><i class="material-icons ">check</i>Transfers from/to airport</li>    
                          <li class="collection-item"><i class="material-icons ">check</i> All ground transportation throughout the tour</li>  
                          <li class="collection-item"><i class="material-icons ">check</i>English speaking driver guide</li>  
                          <li class="collection-item"><i class="material-icons ">check</i> Professional biking guide and technician with standard bike accessories</li>  
                          <li class="collection-item"><i class="material-icons ">check</i> Local guide at each destination</li>  
                          <li class="collection-item"><i class="material-icons ">check</i> Scout fees</li>  
                          <li class="collection-item"><i class="material-icons ">check</i> Portage fees</li>  
                          <li class="collection-item"><i class="material-icons ">check</i>Traditional coffee ceremony </li>                                                                                         
                      </ul>
                   
     
                    </div>
                        
                     
              
                      </div>
  
                      <div id="Excluded" class="col s12">
                          <div class="container">
                              Alcoholic Drinks,
                              Any other expenses which are not mentioned on price include section 
                              <ul class="collection with-header">
                                  <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                  <li class="collection-item"><i class="material-icons ">check</i>  Alcoholic drinks</li> 
                                  <li class="collection-item"><i class="material-icons ">check</i> Video and camera fees if and where applicable</li>
                                  <li class="collection-item"><i class="material-icons ">check</i> Tips, telephone calls, laundry services and other expenses of personal nature</li>
                                  <li class="collection-item"><i class="material-icons ">check</i>  Incidental meals, snacks, and drinks</li>
                                  <li class="collection-item"><i class="material-icons ">check</i>  Entrance fees to any special ceremonies you might encounter by chance</li> 
                                  <li class="collection-item"><i class="material-icons ">check</i> Any other expenses which are not mentioned on price include section</li>                                                                                
                              </ul>
                             
        
                            </div>
                    
                    </div>
                    
                      
  
                        </div>
  </div>
  </section>
  
  