



<section>
    <div class="row">
      <img class="responsive-img" src="assets/orderd/ct-exp-ballon2.png">
    </div>
  </section>
  
  
  
  
  <!-- 
  
  <section>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="assets/image/london.jfif">"> 
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/paris.jfif">">
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/londonn.jfif"> 
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/southafricaa.jfif">
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>
  </section> -->
  
  <br>
  <br>
  
  <section id="holidays" class="section section-popular">
  <div class="container">
      <div class="row">
          
          <div class="col s12">
                  <ul class="tabs tabs-fixed-width tab-demo ">              
                      <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                  </ul>
                </div>
  
                <div id="Highlights" class="col s12 m12">                   
              <p class="center">Join us in the celebration of man’s earliest and surely most romantic form of flight – the hot air balloon. You will enjoy your balloon flight, which is tranquil, yet exhilarating. As the world slowly awakens, you float peacefully overhead, witnessing the serenity in slow motion from our balloon basket.

                <br>  After the landing, all participants receive a diploma and share in the two hundred year old tradition of a champagne toast. A celebration of both new found friends and the heavens above. The world seems an almost perfect place when viewed from the basket of a balloon. During a balloon flight you will not feel any sensation of heights because the balloon is detached from the ground. Also there is no feeling of turbulence whatsoever as the balloon drifts with the wind and we do not fly in weather conditions that are turbulent.
                  
               <br>   If the romance and adventure of balloon flight appeals to you, permit us to share with you the magic and excitement of a balloon flight.</p>
  
    <div class="container">
     <ul class="collapsible">
    <li>
      <div class="collapsible-header">      
          <h6>Tour Code</h6>
        <span class="new badge ">EH-135
  
        </span></div>
     
    </li>
  
    <li>
        <div class="collapsible-header">
            <h6>Tour Name</h6>
          <span class="new badge">	
              Hot Air Balloon Ride Tours

            </span></div>
      
      </li>
  
  
      <li>
          <div class="collapsible-header">
             <h6> Country</h6>
            <span class="new badge  darken-4">Ethiopia</span></div>
        
        </li>
        <li>
          <div class="collapsible-header">
            <h6>Arrival City</h6>
            <span class="new badge">	
                Addis Ababa</span></div>
        
        </li>
        <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class="new badge">	
                Jan. 1, 2018 – April 30, 2018</span></div>
        
        </li>
  
      
  </ul>
  
  </div>
                        
  <br>
  
  <p class="center-align">
      <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

    </p>
    <!-- Modal Structure -->
  <div id="enquire" class="modal modal-fixed-footer">
      <app-search-enquire></app-search-enquire>
  
  </div>
  
  
    <table class="responsive-table striped highlight center">
      <thead>
        <tr>
            <th>ITINERARY</th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <td>Duration :</td>
          <td>	
              Day Excursion  
  
          </td>
        </tr>
        <tr>
          <td>Starting Point:</td>
          <td>Addis Ababa</td>
        </tr>
        <tr>
          <td>Ending Point:</td>
          <td>Addis Ababa</td>
        </tr>
      </tbody>
    </table>
          
  
  
                          
  
  
                </div>
  
  
                <div id="Itinerary" class="col s12 white-text">
                     
                          <div class="container green darken-4">
                              <ul class="collapsible popout" data-collapsible="accordion">
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1:Arrival and Addis Ababa city tour</div>
                                   <div class="collapsible-body">
  
                                   <p> <i class="material-icons ">check</i> Pickup with our 14 passenger minivan of the client at several locations in Addis (this is flexible to the needs of the client but has to be in areas like Maganagna, Yeka Subcity, Haya Hulet, Bole area, Wollo Sefer, Kazanches, Old Airport)

                                   <br> <i class="material-icons ">check</i>   Welcome with coffee and tea in the take-off field in the Menegesha area  (20 KM West of Addis)
                                      
                                 <br>  <i class="material-icons ">check</i>    1 hour scenic balloon flight at various altitudes
                                      
                                 <br> <i class="material-icons ">check</i>     Champagne ceremony after the flight
                                      
                                 <br>  <i class="material-icons ">check</i>     Breakfast in Addis with personal certificate for all passengers</p>
                                    
                                    </div>
                                  </li>
                              
  
  
                                </ul>
                            
                              </div>
                          
                  </div>
                  <div id="Included" class="col s12">
                    <div class="container">
  
                   
                      <ul class="collection with-header">
                      
                          <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                          <li class="collection-item"><i class="material-icons ">check</i>   All Transfer</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Balloon ride</li>
                          <li class="collection-item"><i class="material-icons ">check</i>All drinks per the itinerary</li> 
                          <li class="collection-item"><i class="material-icons ">check</i>Insurances</li>
                          <li class="collection-item"><i class="material-icons ">check</i>Experienced and enthusiastic guidance</li>
                          <li class="collection-item"><i class="material-icons ">check</i>Drop-off of the client</li>                                                                                           
                      </ul>
                   
     
                    </div>
                        
                     
              
                      </div>
  
                      <div id="Excluded" class="col s12">
                          <div class="container">
                              Alcoholic Drinks,
                              Any other expenses which are not mentioned on price include section 
                              <ul class="collection with-header">
                                  <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                  <li class="collection-item"><i class="material-icons ">check</i> Any other expenses which are not mentioned on price include section </li> 
                                   
                                  <li class="collection-item">Note:</li>     
                                  <li class="collection-item"><i class="material-icons ">check</i>  Available early in the morning only with pick up starting from 5:30am, around sunrise. No other flights available during the daytime</li>
                                  <li class="collection-item"><i class="material-icons ">check</i> Travel period: Thursday, Friday, Saturday & Sunday</li>
                                  <li class="collection-item"><i class="material-icons ">check</i> This quotation is subject to the availability of all services at the time of making a reservation -Validity Date : Till April 2018</li>
                                  <li class="collection-item"><i class="material-icons ">check</i> Blackout Date: July – September</li>                                                                                
                              </ul>
                             
        
                            </div>
                    
                    </div>
                    
                      
  
                        </div>
  </div>
  </section>
  
  