

<section>
  <div class="slider">
      <ul class="slides">
        <li>
          <img src="assets/image/london.jfif">"> 
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/paris.jfif">">
          <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/londonn.jfif"> 
          <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
        <li>
          <img src="assets/image/southafricaa.jfif">
          <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
          </div>
        </li>
      </ul>
    </div>
</section>

<br>
<br>

<section id="holidays" class="section section-popular">
<div class="container">
    <div class="row">
        
        <div class="col s12">
                <ul class="tabs tabs-fixed-width tab-demo ">              
                    <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                  <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                </ul>
              </div>

              <div id="Highlights" class="col s12 m12">                   
            

  <div class="container">

    <p class="center">
      Misty highland meadows and tall escarpment forests make up much of Southern Ethiopia, but the region is also incised by the gaping
       kilometre-deep tectonic scar we know as the Great Rift Valley, its acacia-swathed floor dotted with beautiful lakes renowned for 
       their diverse profusion of birds. The ethnic diversity of this astonishing region embraces modern cities such as Hawassa and Arba
        Minch, but also the walled hilltop warrens of the Konso Cultural Landscape, the remote tribes of
       South Omo, the singing wells of the desert-dwelling Borena, towering Dorze homesteads and thousand year old island monasteries.
    </p>
   <ul class="collapsible">
  <li>
    <div class="collapsible-header">      
        <h6>Tour Code</h6>
      <span class=" badge green darken-4 white-text">	
        EH-151</span></div>
   
  </li>

  <li>
      <div class="collapsible-header">
          <h6>Tour Name</h6>
        <span class=" badge green darken-4 white-text">	
          North Adventure Holiday</span></div>
    
    </li>

    <li>
        <div class="collapsible-header">
           <h6> Country</h6>
          <span class=" badge green darken-4 white-text">Ethiopia</span></div>
      
      </li>

      
    <li>
        <div class="collapsible-header">
           <h6> Capital City</h6>
          <span class=" badge green darken-4 white-text">Addis Ababa</span></div>
      
      </li>


      <li>
          <div class="collapsible-header">
            <h6>Validity</h6>
            <span class=" badge green darken-4 white-text">	
              Jan. 1, 2018 – Dec. 31, 2018</span></div>
        
        </li>

        <li>
            <div class="collapsible-header">
              <h6>Duration</h6>
              <span class=" badge green darken-4 white-text">	
                8 DAYS/7 NIGHTS</span></div>
          
          </li>

          <li>
              <div class="collapsible-header">
                <h6>Starting Point</h6>
                <span class=" badge green darken-4 white-text">Addis Ababa</span></div>
            
            </li>

            <li>
                <div class="collapsible-header">
                  <h6> Ending Point</h6>
                  <span class=" badge green darken-4 white-text">Addis Ababa</span></div>
              
              </li>
</ul>

</div>
                      
<br>

<p class="center-align">
  <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 

</p>
<!-- Modal Structure -->
<div id="enquire" class="modal modal-fixed-footer">
  <app-search-enquire></app-search-enquire>

</div>



              </div>


              <div id="Itinerary" class="col s12 white-text">
                   
                        <div class="container green darken-4">
                            <ul class="collapsible popout" data-collapsible="accordion">
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: Addis Ababa</div>


                                  <div class="collapsible-body">
                                   <p> Arrive at Bole international airport and meet and assist by ET-holidays representative. Depending on your arrival time,
                                      you will have Addis Ababa city tour. Addis Ababa sightseeing will include Mount Entoto for the panoramic view of Addis 
                                      Ababa ,National museum: home for the oldest and famous hominid fossil ‘Lucy’, Trinity cathedral church, Ethnographic 
                                      museum the then palace of Emperor Hailesellase known as little Ethiopia and Merkato:
                                      the biggest open air market in East Africa. Along the way you will visit significant historical monument of Addis Ababa.</p>

                                    <p>Meal Plan: Breakfast, Lunch & Dinner</p>
                                    <p>Overnight:  Hotel</p>


                                  </div>
                                </li>
                                <li>
                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2:Addis - Mekele – Hawzen.</div>
                                  <div class="collapsible-body">

                                      
                                          <p> Morning fly to Mkele. After short break in Mekele, proceed to Atsbe Claster of Rock churches which include the rock 
                                            churches of Michael Imba, and Debre Selam Michael. This day you will visit Michael Imba and Debre Slam Michael.</p>
                                            <p>Meal Plan: Breakfast, Lunch & Dinner</p>
                                            <p>Overnight:  Lodge</p>
      
                                  </div>
                                </li>
                                <li>
                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3: Gerealta Rock Churches.</div>
                                  <div class="collapsible-body"><ul>

                                     

                                      <p>After early breakfast drive to Gheralta cluster of churches. This day you will visit the most extra
                                         ordinary Churches of Abune Yemata and Mariam Korkor. Gheralta is home of a quarter of the rock churches, 
                                         some of them are famous for their stone workmanship, 
                                        ancient paintings and manuscripts, and others known for their magnificent view and difficult ascent.</p> 
                                        <p>Meal Plan: Breakfast, Lunch & Dinner</p>
                                        <p>Overnight: Lodge</p>
                                      

                                    </ul>
                                  </div>
                                </li>


                                <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4:   Hawzen – Berehale – Ahmed Ela.</div>
                                        <div class="collapsible-body"><ul>
    
                                           
    
                                            <p>After breakfast drive to Hamed Ela via a small town of Berhale the place where the camel caravan stop before they proceed 
                                              to the northern highlands. Here we process Entrance permit and take our escorting police man from Berhalie ; the gate of Afar region. 
                                              En route you will see long caravans going to the salt mines and others coming out of the Danakil with their salt loaded camels.</p> 
                                              <p>Meal Plan: Breakfast, Lunch & Dinner</p>
                                              <p>Overnight: Camping</p>
                                            
    
                                          </ul>
                                        </div>
                                      </li>


                                      <li>
                                          <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 5: Ahmedela – Dallol/Denakil - Ahmedela.</div>
                                              <div class="collapsible-body"><ul>
                                                   <p>After early breakfast excursion to Dallol (116 meter below sea level, one of the lowest places in the world) where lakes of acid 
                                                     form colorful sulfur formation in the hottest and deepest part of Danakil depression. You will also see the traditional Salt 
                                                     extraction by the locals where they take out the salt from the ground, cutting in to rectangular pieces and loading on camels for 
                                                     long caravan and visit the different landscape formed by volcanic activity, Lake Assal, camel caravans, Acidic ponds, etc.</p> 
                                                    <p>Meal Plan: Breakfast, Lunch & Dinner</p>
                                                    <p>Overnight: Camping</p>
                             
                                                </ul>
                                              </div>
                                            </li>


                                            <li>
                                              <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 6: Ahmedela – Dodem - Ertale.</div>
                                                  <div class="collapsible-body"><ul>
                                                       <p>After an early breakfast drive to Dodem passing through several small hamlets scattered here and there in this desert land. 
                                                         Dodom is about 17km from Erta Ale and it takes about 3hrs trekking to the top. Early dinner around 17:00 and trek up to Ertale 
                                                         (3 hours) the rim of the volcano, where we spend the night watching the dramatic action of the boiling lava. Erta Ale ranks 
                                                         one of the most alluring and physically challenging natural 
                                                         attractions anywhere in Ethiopia. It is a shield volcano with a base diameter of 30 km and 1km square caldera at its summit.</p> 
                                                         <p>Meal Plan: Breakfast, Lunch & Dinner</p>
                                                         <p>Overnight: Camping</p>
                                 
                                                    </ul>
                                                  </div>
                                                </li>


                                                <li>
                                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 7:Ertale – Dodem - Mekele.</div>
                                                      <div class="collapsible-body"><ul>
                                                           <p>Early in the morning descend from Erta Ale around 6 am to Dodem where the cars are parked. After breakfast drive
                                                              to Mekelle via Afdiera Salt Lake, visit the salt lake and the saline hot spring then drive back to Mekele.</p> 
                                                              <p>Meal Plan: Breakfast, Lunch & Dinner</p>
                                                              <p>Overnight: Lodge</p>
                                     
                                                        </ul>
                                                      </div>
                                                    </li>

                                                       
                                                <li>
                                                  <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 8: Fly back to Addis Ababa.</div>
                                                      <div class="collapsible-body"><ul>
                                                        </ul>
                                                      </div>
                                                    </li>
            

                  
      
                              </ul>
                          
                            </div>
                        
                </div>
                <div id="Included" class="col s12">
                  <div class="container">

                 
                    <ul class="collection with-header">

                        <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                        <li class="collection-item"><i class="material-icons ">check</i>Hotel accommodation on double/twin bed basis.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Camping at the camping places
                          .</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Meals: Breakfast, Lunch & Dinner.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Cooking stuff and  camping equipment
                          .</li> 
                        <li class="collection-item"><i class="material-icons ">check</i>Cook at the camping places.</li>
                      
                        <li class="collection-item"><i class="material-icons ">check</i>All entrance fees according to the tour program.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>English speaking guide throughout the tour.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Transfer in and out service.</li>
                        <li class="collection-item"><i class="material-icons ">check</i>Police man
                          .</li> 
                        <li class="collection-item"><i class="material-icons ">check</i>Ground transportation  by Toyota Land Cruiser.</li>

                        <li class="collection-item"><i class="material-icons ">check</i>Camel and camel man in Afar Region as per the program.</li> 
                        <li class="collection-item"><i class="material-icons ">check</i>Bottles of water for the trip.
                          </li>
                                                                                                                 
                    </ul>
                 
   
                  </div>
                      
                   
            
                    </div>

                    <div id="Excluded" class="col s12">
                        <div class="container">

                            <ul class="collection with-header">

                                <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
               
                                <li class="collection-item"><i class="material-icons ">cancel</i>Alcoholic drinks.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Video and camera fees if and where applicable.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Entrance fees to any special ceremonies you might encounter by chance.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>Tips, telephone calls, laundry services and other expenses of personal nature.</li>
                                <li class="collection-item"><i class="material-icons ">cancel</i>International and Domestic flight .</li> 
                                <li class="collection-item"><i class="material-icons ">cancel</i>Any other expenses which are not mentioned on price include section.</li> 
                                
                            </ul>
                           
      
                          </div>
                  
                  </div>
                  
                    

                      </div>
</div>
</section>


