



<section>
    <div class="row">
      <img class="responsive-img" src="assets/orderd/ct/ct-saf-keny.png">
    </div>
  </section>
  
  
  
  
  <!-- 
  
  <section>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="assets/image/london.jfif">"> 
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/paris.jfif">">
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/londonn.jfif"> 
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/southafricaa.jfif">
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>
  </section> -->
  
  <br>
  <br>
  
  <section id="holidays" class="section section-popular">
  <div class="container">
      <div class="row">
          
          <div class="col s12">
                  <ul class="tabs tabs-fixed-width tab-demo ">              
                      <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                  </ul>
                </div>
  
                <div id="Highlights" class="col s12 m12">                   
              <p class="center">“Just a sneak preview into Kenya, travelling through the Great Rift Valley experiencing the true culture and excitement of the wild savannah. A perfect choice for those with limited time!”</p>
  
    <div class="container">
     <ul class="collapsible">
    <li>
      <div class="collapsible-header">      
          <h6>Tour Code</h6>
        <span class="new badge ">	
            EH-203</span></div>
     
    </li>
  
    <li>
        <div class="collapsible-header">
            <h6>Hot Air Balloon Ride Tours</h6>
          <span class="new badge">	Glimpse of Kenya Safari



            </span></div>
      
      </li>
  
   
      <li>
          <div class="collapsible-header">
             <h6> Country</h6>
            <span class="new badge  darken-4">Ethiopia</span></div>
        
        </li>
        <li>
          <div class="collapsible-header">
            <h6>Arrival City</h6>
            <span class="new badge">	
                Addis Ababa

</span></div>
        
        </li>
  
        <li>
          <div class="collapsible-header">
            <h6>Departure City</h6>
            <span class="new badge">	
                Addis Ababa

</span></div>
        
        </li>
        <li>
            <div class="collapsible-header">
              <h6>Validity</h6>
              <span class="new badge">	
                  Jan. 1, 2018 – Dec. 31, 2018



                </span></div>
          
          </li>
  </ul>
  
  </div>
                        
  <br>
   
  <p class="center-align">
      <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 
  
    </p>
    <!-- Modal Structure -->
  <div id="enquire" class="modal modal-fixed-footer">
      <app-search-enquire></app-search-enquire>
  
  </div>
  
    <table class="responsive-table striped highlight center">
      <thead>
        <tr>
            <th>ITINERARY</th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <td>Duration :</td>
          <td>4 DAYS/ 3 NIGHTS

            </td>
        </tr>
        <tr>
          <td>Starting Point:</td>
          <td>Nairobi </td>
        </tr>
        <tr>
          <td>Ending Point:</td>
          <td>Nairobi </td>
        </tr>
      </tbody>
    </table>
          
  
  
                          
  
  
                </div>
  
  
                <div id="Itinerary" class="col s12 white-text">
                     
                          <div class="container green darken-4">
                              <ul class="collapsible popout" data-collapsible="accordion">
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 1: 
                                      Lake Elementaita / Lake Nakuru National Park</div>
                                   <div class="collapsible-body">
  
                                   <p>Start your safari this morning, driving down the scenic Great Rift Valley with breath-taking views of Mt Longonot and Lake Naivasha while you proceed to Lake Elementaita / Lake Nakuru to arrive for lunch. Afternoon proceed on a game viewing drive circumventing Lake Nakuru. The lake is situated in the heart of the Rift Valley and is one Kenya's most famous soda lakes. A major feature of this park is the bird life and it is world renowned as the home for millions of Flamingos. A rhino sanctuary also provides the opportunity to see the greatly endangered black rhino. Return to the camp for dinner and overnight.

                                   <br>   Meals: LDBB
                                      
                                        </p>
                                    </div>
                                  </li>
                                  <li>
                                    <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 2: 
                                      Masai Mara Game Reserve</div>
                                    <div class="collapsible-body">
  
                                    
                                            <p>
                                                After breakfast depart for Kenya's famous game reserve. You start the day venturing through the Great Rift Valley travelling to the northern most extension of the Serengeti Plains and one of the richest wildlife Game Reserves, the Masai Mara. The Mara is home to the awesome black-manned lion, the elusive leopard, stately giraffes, vast herds of elephants, rhino, thundering herds of zebra, migrating wildebeest and numerous other plains game. You arrive at the camp for a late lunch. After lunch depart for an afternoon game-viewing drive. Enjoy dinner and overnight at the camp.

                                            <br>    Meals: LDBB
                                            </p> 
                                            
                                    </div>
                                  </li>
                                  
                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 3:  
                                        Masai Mara Game Reserve</div>
                                      <div class="collapsible-body">
    
                                      
                                              <p>
                                               
                                                  Amka! Wake up for an early morning breakfast and a full morning’s game viewing drive to return for lunch. Experience the friendly atmosphere where the Masai community lives in harmony with wild game. After lunch visit a traditional Masai Manyatta (off the beaten track) and experience the culture of this world famous community. The Masai still live as they did for centuries - Interact with these nomadic people and experience their way of life as you learn about their customs and traditions. Continue with the afternoon game viewing as you return to the lodge for dinner and overnight.

                                                  

                                     <br>             OPTIONAL ACTIVITY: Balloon Safari over the Mara plains followed by a champagne breakfast.

                                                  

                                  <br>                Meals: LDBB    
                                              </p> 
                                              
                                      </div>
                                    </li>
                                    
                                  <li>
                                      <div class="collapsible-header green darken-4"><i class="material-icons">airplanemode_active</i>Day 4: Nairobi</div>
                                      <div class="collapsible-body">
    
                                      
                                              <p>
                                                  An early morning game drive is followed by breakfast and departure for Nairobi. Drop-off at your city hotel or at Jomo Kenyatta International Airport for your onward flight back home.
                                              </p> 
                                              
                                      </div>
                                    </li>
                                    
                                
                                 
                                </ul>
                            
                              </div>
                          
                  </div>
                  <div id="Included" class="col s12">
                    <div class="container">
  
                   
                      <ul class="collection with-header">
  
                          <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                          <li class="collection-item"><i class="material-icons ">check</i>  Arrival transfer from/ to the Kilimanjaro International Airport</li>
                          <li class="collection-item"><i class="material-icons ">check</i>Met  in our unique style with wet towels and ‘bubbly’</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Complimentary Authentic Branded Safari Hat and safari essentials pack</li> 
                          <li class="collection-item"><i class="material-icons ">check</i>Use of Twiga Tours 4x4 Safari Land Cruiser on safari</li>
                          <li class="collection-item"><i class="material-icons ">check</i>  Unlimited supply of bottled, drinking water in the vehicle while on safari</li>
                          <li class="collection-item"><i class="material-icons ">check</i>Unlimited mileage on game viewing drives.</li>
                          <li class="collection-item"><i class="material-icons ">check</i> Services of a Professional ENGLISH Speaking guide-driver</li>   
                          <li class="collection-item"><i class="material-icons ">check</i> Accommodation and meals as specified in the itinerary - FB while on Safari</li>
                          <li class="collection-item"><i class="material-icons ">check</i>  All game drives as specified in the itinerary</li>   
                          <li class="collection-item"><i class="material-icons ">check</i>Park Entry Tickets to the Ngorongoro Conservation Area (incl.
                             ONE FULL DAY crater tour in the Ngorongoro Crater), the FAMOUS Serengeti National Park and Lake Manyara National Park.</li>
                          <li class="collection-item"><i class="material-icons ">check</i>A FULL day game-viewing drive in the Ngorongoro Crater including a PRIVATE scenic picnic lunch;
                             the Ngorongoro Crater is home to an abundance of wildlife and a photogenic paradise.</li>    
                          <li class="collection-item"><i class="material-icons ">check</i> Visit to the Oldupai Gorge where hominid footprints believed to be 3.6million years old were found.</li>     
                          <li class="collection-item"><i class="material-icons ">check</i> Unlimited bottled water supplied in your safari vehicle during your game drives, transfers etc</li>                                                                                        
                      </ul>
                   
     
                    </div>
                        
                     
            
                      </div>
  
                      <div id="Excluded" class="col s12">
                          <div class="container">
  
                              <ul class="collection with-header">
                                  <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                  <li class="collection-item"><i class="material-icons ">check</i>   International or Domestic Flights, Visa Fees and all Personal Expenses such as Drinks, Laundry, Telephone, tips to hotel staff, gratuities to Driver/Guide etc</li>
                                  <li class="collection-item"><i class="material-icons ">check</i> Travel Insurance - we strongly recommend that comprehensive travel insurance be purchased for the duration of your journey to protect against any missed or delayed flights,
                                     illnesses etc that may cause cancellation of your travel plans.</li> 
                                  <li class="collection-item"><i class="material-icons ">check</i> Any expense not expressly specified above</li>



                                                                                                                        
                              </ul>
                             
        
                            </div>
                    
                    </div>
                    
                      
  
                        </div>
  </div>
  </section>
  
  