


<div class="container">
  
<section>
    <div class="row">
      <img class="responsive-img" src="assets/orderd/ct/ct-tr-coffe.png">
    </div>
  </section>
  
  
</div>
  
  
  <!-- 
  
  <section>
    <div class="slider">
        <ul class="slides">
          <li>
            <img src="assets/image/london.jfif">"> 
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/paris.jfif">">
            <div class="caption left-align">
              <h3>Left Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/londonn.jfif"> 
            <div class="caption right-align">
              <h3>Right Aligned Caption</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="assets/image/southafricaa.jfif">
            <div class="caption center-align">
              <h3>This is our big Tagline!</h3>
              <h5 class="light red-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>
  </section> -->
  
  <br>
  <br>
  
  <section id="holidays" class="section section-popular">
  <div class="container">
      <div class="row">
          
          <div class="col s12">
                  <ul class="tabs tabs-fixed-width tab-demo ">              
                      <li class="tab col s2 "><a class="active" href="#Highlights"><h6><span class="black-text">Highlights</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Itinerary"><h6><span class="black-text">Itinerary</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Included"><h6><span class="black-text">What's Included</span></h6> </a></li>
                    <li class="tab col s2 "><a class="active" href="#Excluded"><h6><span class="black-text">What's Excluded</span></h6> </a></li>
                  </ul>
                </div>
  
                <div id="Highlights" class="col s12 m12">                   
              <p class="center">

       <br>           Relaxed Transit Time: - Massage, Sauna or Steam and Experience the coffee ceremony and witness the distinctive test of

       <br>          Spa Service:
                  
       <br>            The exclusive spa offer will provide you with a unique and memorable time where you rejuvenate yourself in a welcoming and luxurious setting, pampering your body with a choice of relaxing massages, Steam, Sauna or body treatment
                  
        <br>                Cultural Coffee Ceremony: 
                        
        <br>           Ethiopia's coffee ceremony is an integral part of our social and cultural life. An invitation to attend a coffee ceremony is considered a mark of friendship or respect and is an excellent example of Ethiopian hospitality. Experience the coffee ceremony and witness the distinctive test of Ethiopian Coffee
                  
        <br>           *Shopping:
                  
        <br>          Experience shopping in Addis Ababa where you can purchase local and homemade crafts including but not limited to scarfs made of cotton and other crafts
                  
        <br>            *Available if your transit time in Addis Ababa is between 06:00am to 08:00pm Addis Ababa LT
                  
        <br>           Click the link and read the applicable terms and conditions: Terms and Conditions


              </p>
  
    <div class="container">
     <ul class="collapsible">
    <li>
      <div class="collapsible-header">      
          <h6>Tour Code</h6>
        <span class="new badge ">AATP2</span></div>
     
    </li>
  
    <li>
        <div class="collapsible-header">
            <h6>Tour Name</h6>
          <span class="new badge">	
              Spa Service with Ethiopian Coffee Ceremony</span></div>
      
      </li>
  
      <li>
          <div class="collapsible-header">
             <h6> Country</h6>
            <span class="new badge  darken-4">Ethiopia</span></div>
        
        </li>
        <li>
          <div class="collapsible-header">
            <h6>Capital City</h6>
            <span class="new badge">	
              Addis Abeba</span></div>
        
        </li>
        <li>
            <div class="collapsible-header">
                <h6>Prices </h6>
              <span class="new badge ">	
                  USD 25 Per Person</span></div>
          
          </li>
  
        <li>
            <div class="collapsible-header">
              <h6>Time Required</h6>
              <span class="new badge">	
               6hrs</span></div>
          
          </li>
        <li>
            <div class="collapsible-header">
              <h6>Available Time </h6>
              <span class="new badge">	
                  6:00am to 08:00pm Addis Ababa Time</span></div>
          
          </li>
  </ul>
  
  </div>
                        
  <br>
   
  <p class="center-align">
      <a class="waves-effect waves-light btn modal-trigger #b71c1c red darken-4" href="#enquire">Enquire</a> 
  
    </p>
    <!-- Modal Structure -->
  <div id="enquire" class="modal modal-fixed-footer">
      <app-search-enquire></app-search-enquire>
  
  </div>
  
    <table class="responsive-table striped highlight center">
      <thead>
        <tr>
            <th>ITINERARY</th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <td>Duration :</td>
          <td>4 hrs, and 15 minutes</td>
        </tr>
        <tr>
          <td>Starting Point:</td>
          <td>Addis Abeba</td>
        </tr>
        <tr>
          <td>Ending Point:</td>
          <td>Addis Abeba</td>
        </tr>
      </tbody>
    </table>
          
  
  
                          
  
  
                </div>
  
  
                  <div id="Included" class="col s12">
                    <div class="container">
  
                   
                      <ul class="collection with-header">
  
                          <li class="collection-header avatar"><h5>WHAT'S INCLUDED</h5></li>
                          <li class="collection-item"><i class="material-icons ">check</i> All transfer</li>
                          <li class="collection-item"><i class="material-icons ">check</i>Spa Service: Manicure & Pedicure with foot massage
                            OR Steam and Sauna with foot massage OR  Swedish</li>
                          <li class="collection-item"><i class="material-icons ">check</i>Traditional Coffee ceremony</li>                                                                                           
                      </ul>
                   
     
                    </div>
                        
                     
              
                      </div>
  
                      <div id="Excluded" class="col s12">
                          <div class="container">
  
                              <ul class="collection with-header">
                                  <li class="collection-header avatar"><h5>WHAT'S EXCLUDED</h5></li>
                                  <li class="collection-item"><i class="material-icons ">check</i> Any items not mentioned under “What’s Included</li>
                                  <li class="collection-item"><i class="material-icons ">check</i>Tips and any personal expense</li>                                 
                              </ul>
                             
        
                            </div>
                    
                    </div>
                    
                      
  
                        </div>
  </div>
  </section>
  
  